# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Apr 6 2019 11:50:38

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 8
set_io clk_system 35 -io_std SB_LVCMOS
set_io drone_frame_decoder_data_rdy_debug 46 -io_std SB_LVCMOS
set_io uart_drone_input_debug 6 -io_std SB_LVCMOS
set_io uart_input_pc 4 -io_std SB_LVCMOS
set_io ppm_output 9 -io_std SB_LVCMOS
set_io uart_commands_input_debug 11 -io_std SB_LVCMOS
set_io uart_drone_data_rdy_debug 10 -io_std SB_LVCMOS
set_io uart_input_drone 2 -io_std SB_LVCMOS

