# vi temporary files:
*~
*.swp

# freecad
*.FCStd1

# python
*.pyc

# Apio
.sconsign.dblite

debug.log

.vscode
.idea
obj_dir
*.fst
imgui.ini

build

*.d
*.o
*.bin
*.elf
*.map

*.egg-info/

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

simWorkspace/
tmp/
null
