<!--
  Useful for debugging or just viewing the kobuki model/urdf/transform. 
 -->
<launch>
  <arg name="urdf_file" default="cat $(find turtlebot2_urdf_model)/urdf/turtlebot2.urdf"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turltebot2_urdf_model)/rviz/model.rviz"/>
</launch>
