set_location IN_MUX_bfv_12_2_0_ 12 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_3_0_ 12 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_4_0_ 12 4 0 #ICE_CARRY_IN_MUX
set_location uart_frame_decoder.state_1_esr_5_THRU_LUT4_0 11 1 2 #SB_LUT4
set_location uart_frame_decoder.state_1_esr_4_THRU_LUT4_0 11 1 1 #SB_LUT4
set_location uart_frame_decoder.state_1_esr_3_THRU_LUT4_0 11 1 0 #SB_LUT4
set_location uart.data_esr_7_THRU_LUT4_0 8 2 7 #SB_LUT4
set_location uart.data_esr_6_THRU_LUT4_0 8 2 6 #SB_LUT4
set_location uart.data_esr_5_THRU_LUT4_0 8 2 5 #SB_LUT4
set_location uart.data_esr_4_THRU_LUT4_0 8 2 4 #SB_LUT4
set_location uart.data_esr_3_THRU_LUT4_0 8 2 3 #SB_LUT4
set_location uart.data_esr_2_THRU_LUT4_0 8 2 2 #SB_LUT4
set_location uart.data_esr_1_THRU_LUT4_0 8 2 1 #SB_LUT4
set_location uart.data_esr_0_THRU_LUT4_0 8 2 0 #SB_LUT4
set_location uart.data_Aux_esr_7_THRU_LUT4_0 7 5 3 #SB_LUT4
set_location uart.data_Aux_esr_6_THRU_LUT4_0 7 6 0 #SB_LUT4
set_location uart.data_Aux_esr_5_THRU_LUT4_0 8 6 0 #SB_LUT4
set_location uart.data_Aux_esr_4_THRU_LUT4_0 9 5 0 #SB_LUT4
set_location uart.data_Aux_esr_3_THRU_LUT4_0 9 4 0 #SB_LUT4
set_location uart.data_Aux_esr_2_THRU_LUT4_0 7 2 0 #SB_LUT4
set_location uart.data_Aux_esr_1_THRU_LUT4_0 8 4 2 #SB_LUT4
set_location uart.data_Aux_esr_0_THRU_LUT4_0 7 4 0 #SB_LUT4
set_location uart.timer_Count_fast[2] 10 1 2 #SB_DFFSR
set_location uart.timer_Count_RNIH8CL1[4] 9 1 2 #SB_LUT4
set_location reset_module_System.count_RNO[17] 12 4 0 #SB_LUT4
set_location reset_module_System.count[0] 11 2 2 #SB_DFF
set_location uart.data_Aux_esr[0] 7 4 0 #SB_DFFESR
set_location uart.bit_Count_RNO_4[1] 10 2 7 #SB_LUT4
set_location reset_module_System.count_1_cry_15_c 12 3 6 #SB_CARRY
set_location uart.state_RNO[2] 9 2 7 #SB_LUT4
set_location uart.data_Aux_esr_RNO_0[5] 8 4 7 #SB_LUT4
set_location reset_module_System.count_1_cry_18_c 12 4 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNI5BVV[1] 8 1 1 #SB_LUT4
set_location uart.state_RNO_4[4] 11 3 4 #SB_LUT4
set_location reset_module_System.count[18] 12 4 1 #SB_DFF
set_location uart_frame_decoder.state_1_esr[5] 11 1 2 #SB_DFFESR
set_location uart.timer_Count[0] 10 3 6 #SB_DFFSR
set_location uart.state_RNO_0[2] 9 3 3 #SB_LUT4
set_location uart.state_RNIGLM11[4] 10 4 4 #SB_LUT4
set_location reset_module_System.count_RNIN3HK3[2] 10 2 2 #SB_LUT4
set_location reset_module_System.count_1_cry_2_c 12 2 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_2[0] 7 1 0 #SB_LUT4
set_location uart.timer_Count_2_rep1 11 3 7 #SB_DFFSR
set_location uart.state_RNIAFHL[4] 9 3 4 #SB_LUT4
set_location uart.data_Aux_esr_RNO_0[2] 7 3 6 #SB_LUT4
set_location uart.bit_Count_RNI4ENK[2] 8 5 3 #SB_LUT4
set_location reset_module_System.count_RNI9O1P[2] 10 2 1 #SB_LUT4
set_location uart.state_RNINUKT2[4] 9 3 7 #SB_LUT4
set_location uart.data_Aux_esr_RNO[1] 8 4 1 #SB_LUT4
set_location reset_module_System.count_RNO[20] 12 4 3 #SB_LUT4
set_location reset_module_System.count_1_cry_16_c 12 3 7 #SB_CARRY
set_location uart.timer_Count[5] 10 3 1 #SB_DFFSR
set_location uart.timer_Count_4_rep1_RNIHBMA2 9 3 0 #SB_LUT4
set_location uart.timer_Count_RNIN6BL[0] 9 1 1 #SB_LUT4
set_location uart.bit_Count_RNILKM9[2] 8 3 3 #SB_LUT4
set_location reset_module_System.count[15] 12 3 6 #SB_DFF
set_location uart.timer_Count_RNO[3] 9 1 5 #SB_LUT4
set_location uart.bit_Count_RNO_2[2] 7 3 2 #SB_LUT4
set_location uart.data_esr[0] 8 2 0 #SB_DFFESR
set_location reset_module_System.count_RNO[7] 12 2 6 #SB_LUT4
set_location uart.timer_Count_fast_RNO[2] 10 1 2 #SB_LUT4
set_location uart.timer_Count_RNI22NA1[4] 10 3 7 #SB_LUT4
set_location uart.state_RNO_2[4] 10 4 2 #SB_LUT4
set_location uart.bit_Count[2] 7 3 4 #SB_DFFSR
set_location reset_module_System.count_RNO[12] 12 3 3 #SB_LUT4
set_location reset_module_System.count_RNI97FD[5] 11 2 7 #SB_LUT4
set_location reset_module_System.count[5] 12 2 4 #SB_DFF
set_location reset_module_System.count[10] 12 3 1 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[2] 8 1 7 #SB_LUT4
set_location uart.data_Aux_esr[3] 9 4 0 #SB_DFFESR
set_location uart.bit_Count_RNO_0[1] 7 5 6 #SB_LUT4
set_location reset_module_System.count_RNO_0[2] 12 2 1 #SB_LUT4
set_location uart.state_RNO_1[3] 10 4 3 #SB_LUT4
set_location uart.data_esr[5] 8 2 5 #SB_DFFESR
set_location reset_module_System.count_1_cry_13_c 12 3 4 #SB_CARRY
set_location reset_module_System.count_RNO[19] 12 4 2 #SB_LUT4
set_location uart.data_Aux_esr[6] 7 6 0 #SB_DFFESR
set_location uart.state_RNO[4] 10 4 1 #SB_LUT4
set_location uart.bit_Count_RNILKM9_1[2] 8 3 7 #SB_LUT4
set_location reset_module_System.count_RNO[9] 12 3 0 #SB_LUT4
set_location uart.timer_Count_fast_RNIHHG81[2] 9 2 3 #SB_LUT4
set_location uart.timer_Count_2_rep1_RNO 11 3 7 #SB_LUT4
set_location uart.data_rdy_RNO_0 12 4 5 #SB_LUT4
set_location uart.data_Aux_esr_RNO[4] 8 4 6 #SB_LUT4
set_location uart.timer_Count[6] 10 3 4 #SB_DFFSR
set_location uart.state_RNO_0[4] 11 3 3 #SB_LUT4
set_location uart.state_RNI3TGU[4] 9 2 1 #SB_LUT4
set_location reset_module_System.count[20] 12 4 3 #SB_DFF
set_location reset_module_System.count_1_cry_19_c 12 4 2 #SB_CARRY
set_location uart.state[3] 10 4 7 #SB_DFF
set_location uart_frame_decoder.state_1_esr_ctle[5] 12 1 1 #SB_LUT4
set_location uart.timer_Count_RNO[0] 10 3 6 #SB_LUT4
set_location uart.state_RNID2BC[4] 9 3 5 #SB_LUT4
set_location uart.data_Aux_esr_RNO[3] 8 4 4 #SB_LUT4
set_location uart.bit_Count_RNO_2[1] 11 3 0 #SB_LUT4
set_location reset_module_System.count_1_cry_10_c 12 3 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_3[0] 8 1 3 #SB_LUT4
set_location reset_module_System.reset_fast 10 2 3 #SB_DFF
set_location reset_module_System.count_RNO[4] 12 2 3 #SB_LUT4
set_location uart_frame_decoder.state_1[6] 10 2 0 #SB_DFF
set_location uart.timer_Count_4_rep1 9 1 7 #SB_DFFSR
set_location uart.state[4] 10 4 1 #SB_DFF
set_location reset_module_System.count_RNO[11] 12 3 2 #SB_LUT4
set_location reset_module_System.count[6] 12 2 5 #SB_DFF
set_location reset_module_System.count_1_cry_17_c 12 4 0 #SB_CARRY
set_location reset_module_System.count[13] 12 3 4 #SB_DFF
set_location uart.timer_Count_RNO[5] 10 3 1 #SB_LUT4
set_location reset_module_System.count_RNO_0[1] 13 2 2 #SB_LUT4
set_location uart.timer_Count_RNI3B101[6] 10 3 2 #SB_LUT4
set_location uart.data_esr[2] 8 2 2 #SB_DFFESR
set_location uart.bit_Count_RNIETHE[2] 7 5 1 #SB_LUT4
set_location reset_module_System.count_RNO[1] 11 2 5 #SB_LUT4
set_location uart.timer_Count_fast_RNO[4] 9 1 6 #SB_LUT4
set_location uart.timer_Count_fast[3] 10 1 0 #SB_DFFSR
set_location reset_module_System.count_RNO[14] 12 3 5 #SB_LUT4
set_location reset_module_System.count[3] 12 2 2 #SB_DFF
set_location uart_frame_decoder.state_1_esr[3] 11 1 0 #SB_DFFESR
set_location uart_frame_decoder.state_1_RNO[0] 7 1 2 #SB_LUT4
set_location uart.data_Aux_esr[1] 8 4 2 #SB_DFFESR
set_location uart.state_RNO[1] 8 5 4 #SB_LUT4
set_location uart.data_esr[7] 8 2 7 #SB_DFFESR
set_location uart.data_Aux_esr_RNO_0[4] 8 4 5 #SB_LUT4
set_location uart.timer_Count_RNI1HBL[6] 9 2 0 #SB_LUT4
set_location reset_module_System.count[19] 12 4 2 #SB_DFF
set_location uart_frame_decoder.state_1_esr[4] 11 1 1 #SB_DFFESR
set_location uart.timer_Count[3] 9 1 5 #SB_DFFSR
set_location uart.state_RNO_0[3] 10 4 6 #SB_LUT4
set_location uart.data_Aux_esr[4] 9 5 0 #SB_DFFESR
set_location reset_module_System.reset_fast_RNO 10 2 3 #SB_LUT4
set_location uart.data_Aux_esr_RNO_0[1] 8 4 0 #SB_LUT4
set_location uart_frame_decoder.state_1_srsts_i_i_a2_3_0[0] 8 1 5 #SB_LUT4
set_location uart.state_RNICRQ06[4] 9 3 2 #SB_LUT4
set_location uart.data_esr[3] 8 2 3 #SB_DFFESR
set_location uart.data_Aux_esr_RNO[6] 8 5 6 #SB_LUT4
set_location reset_module_System.count_RNO[2] 11 2 1 #SB_LUT4
set_location reset_module_System.count_RNI10J41[1] 11 2 3 #SB_LUT4
set_location reset_module_System.count[9] 12 3 0 #SB_DFF
set_location uart.timer_Count[4] 9 1 3 #SB_DFFSR
set_location uart.state_RNILS533[4] 9 3 1 #SB_LUT4
set_location reset_module_System.count_1_cry_6_c 12 2 5 #SB_CARRY
set_location uart.state_RNO_3[4] 10 4 0 #SB_LUT4
set_location uart.state[1] 8 5 4 #SB_DFF
set_location reset_module_System.count[16] 12 3 7 #SB_DFF
set_location uart_frame_decoder.state_1_esr_RNIQ0UJ[3] 12 1 5 #SB_LUT4
set_location uart.timer_Count_RNO[2] 10 1 1 #SB_LUT4
set_location uart.bit_Count_RNO[1] 8 3 2 #SB_LUT4
set_location reset_module_System.count_RNO[6] 12 2 5 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_0[1] 7 1 5 #SB_LUT4
set_location uart_frame_decoder.state_1[0] 7 1 2 #SB_DFF
set_location uart.timer_Count_fast_RNO[3] 10 1 0 #SB_LUT4
set_location uart.bit_Count[1] 8 3 2 #SB_DFFSR
set_location reset_module_System.count_RNO[13] 12 3 4 #SB_LUT4
set_location reset_module_System.count[4] 12 2 3 #SB_DFF
set_location reset_module_System.count[11] 12 3 2 #SB_DFF
set_location uart.timer_Count_RNO[7] 10 3 3 #SB_LUT4
set_location uart.bit_Count_RNO_0[2] 7 3 3 #SB_LUT4
set_location uart.bit_Count_RNILKM9_0[2] 7 3 5 #SB_LUT4
set_location uart.data_esr[4] 8 2 4 #SB_DFFESR
set_location reset_module_System.count_RNO[3] 12 2 2 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_1[0] 7 1 1 #SB_LUT4
set_location uart.timer_Count_RNIQAJ83[4] 9 2 6 #SB_LUT4
set_location uart.data_rdy 11 4 0 #SB_DFFSR
set_location reset_module_System.count_RNO[16] 12 3 7 #SB_LUT4
set_location reset_module_System.count[1] 11 2 5 #SB_DFF
set_location uart_frame_decoder.state_1_srsts_0_i_a2_0_0_1[2] 8 1 0 #SB_LUT4
set_location uart.data_Aux_esr[7] 7 5 3 #SB_DFFESR
set_location reset_module_System.reset_iso 11 2 4 #SB_DFF
set_location reset_module_System.reset 10 2 5 #SB_DFF
set_location uart.state_RNO[3] 10 4 7 #SB_LUT4
set_location uart.data_Aux_esr_RNO_0[6] 8 5 5 #SB_LUT4
set_location uart.bit_Count_RNO_1[1] 8 3 1 #SB_LUT4
set_location reset_module_System.reset_RNO 10 2 5 #SB_LUT4
set_location reset_module_System.count_RNO[8] 12 2 7 #SB_LUT4
set_location uart_frame_decoder.state_1_esr_RNI19FE[3] 8 1 4 #SB_LUT4
set_location uart.timer_Count_RNIJTGR[0] 10 3 5 #SB_LUT4
set_location uart.data_Aux_esr_RNO[5] 8 5 7 #SB_LUT4
set_location uart.timer_Count[1] 9 1 4 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location uart.state[2] 9 2 7 #SB_DFF
set_location uart.data_Aux_esr_RNO_0[3] 8 4 3 #SB_LUT4
set_location uart.timer_Count_4_rep1_RNO 9 1 7 #SB_LUT4
set_location uart.data_Aux_esr_RNO[0] 8 3 6 #SB_LUT4
set_location uart.bit_Count_RNO[2] 7 3 4 #SB_LUT4
set_location reset_module_System.count_RNO[21] 12 4 4 #SB_LUT4
set_location uart.state_RNICGLN3[2] 9 2 2 #SB_LUT4
set_location uart.state_RNIB0BC[2] 9 3 6 #SB_LUT4
set_location reset_module_System.count_1_cry_9_c 12 3 0 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_0[2] 8 1 2 #SB_LUT4
set_location uart.timer_Count_fast_RNILTQT[2] 9 2 5 #SB_LUT4
set_location reset_module_System.count[14] 12 3 5 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[6] 10 2 0 #SB_LUT4
set_location uart.timer_Count_RNO[4] 9 1 3 #SB_LUT4
set_location reset_module_System.count_1_cry_1_c 12 2 0 #SB_CARRY
set_location uart_frame_decoder.source_data_valid_RNO 13 3 3 #SB_LUT4
set_location uart.state_RNO_5[4] 11 3 2 #SB_LUT4
set_location uart.data_esr[1] 8 2 1 #SB_DFFESR
set_location reset_module_System.reset_iso_RNO 11 2 4 #SB_LUT4
set_location reset_module_System.count_RNO[0] 11 2 2 #SB_LUT4
set_location reset_module_System.count_1_cry_14_c 12 3 5 #SB_CARRY
set_location uart_frame_decoder.state_1[2] 8 1 7 #SB_DFF
set_location uart.timer_Count_fast[4] 9 1 6 #SB_DFFSR
set_location uart.state_RNO_2[3] 11 3 5 #SB_LUT4
set_location reset_module_System.count_RNO[15] 12 3 6 #SB_LUT4
set_location reset_module_System.count[2] 11 2 1 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[1] 7 1 3 #SB_LUT4
set_location uart.data_Aux_esr[2] 7 2 0 #SB_DFFESR
set_location uart.bit_Count_RNO_0[0] 7 3 0 #SB_LUT4
set_location uart.timer_Count_fast_RNIT1EN1[4] 9 2 4 #SB_LUT4
set_location uart.state_RNO_1[4] 9 1 0 #SB_LUT4
set_location uart.state_RNO[0] 8 5 0 #SB_LUT4
set_location uart.data_esr[6] 8 2 6 #SB_DFFESR
set_location uart.bit_Count_RNO_1[2] 10 3 0 #SB_LUT4
set_location reset_module_System.count_1_cry_3_c 12 2 2 #SB_CARRY
set_location reset_module_System.count_RNO[18] 12 4 1 #SB_LUT4
set_location uart.timer_Count_RNI3UCP2[4] 8 3 4 #SB_LUT4
set_location uart.timer_Count[2] 10 1 1 #SB_DFFSR
set_location uart.state_RNI38F97[2] 10 2 6 #SB_LUT4
set_location uart.data_Aux_esr[5] 8 6 0 #SB_DFFESR
set_location reset_module_System.count_RNI34OR1[21] 13 4 6 #SB_LUT4
set_location reset_module_System.count_1_cry_4_c 12 2 3 #SB_CARRY
set_location uart_frame_decoder.state_1_srsts_0_i_a2_0_4[1] 7 1 6 #SB_LUT4
set_location uart.data_Aux_esr_RNO_0[0] 8 3 5 #SB_LUT4
set_location uart.bit_Count_RNO_3[1] 8 3 0 #SB_LUT4
set_location uart.data_Aux_esr_RNO[7] 8 5 1 #SB_LUT4
set_location reset_module_System.count[8] 12 2 7 #SB_DFF
set_location reset_module_System.count_1_cry_11_c 12 3 2 #SB_CARRY
set_location uart_frame_decoder.state_1_esr_RNI7FFE[4] 7 1 4 #SB_LUT4
set_location uart.timer_Count[7] 10 3 3 #SB_DFFSR
set_location reset_module_System.count[21] 12 4 4 #SB_DFF
set_location reset_module_System.count_1_cry_5_c 12 2 4 #SB_CARRY
set_location uart.state[0] 8 5 0 #SB_DFF
set_location reset_module_System.count[17] 12 4 0 #SB_DFF
set_location uart_frame_decoder.state_1_srsts_i_i_a2_3[0] 8 1 6 #SB_LUT4
set_location uart_frame_decoder.source_data_valid 13 3 3 #SB_DFFSR
set_location uart.timer_Count_RNO[1] 9 1 4 #SB_LUT4
set_location uart.data_rdy_RNO 11 4 0 #SB_LUT4
set_location uart.data_Aux_esr_RNO[2] 7 3 7 #SB_LUT4
set_location uart.bit_Count_RNO[0] 7 3 1 #SB_LUT4
set_location reset_module_System.count_RNO[5] 12 2 4 #SB_LUT4
set_location reset_module_System.count_RNICR4G1[12] 11 2 6 #SB_LUT4
set_location reset_module_System.count_1_cry_20_c 12 4 3 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_0[0] 7 1 7 #SB_LUT4
set_location uart_frame_decoder.state_1[1] 7 1 3 #SB_DFF
set_location uart.bit_Count[0] 7 3 1 #SB_DFFSR
set_location reset_module_System.count_RNO[10] 12 3 1 #SB_LUT4
set_location reset_module_System.count[7] 12 2 6 #SB_DFF
set_location reset_module_System.count_1_cry_7_c 12 2 6 #SB_CARRY
set_location reset_module_System.count_1_cry_12_c 12 3 3 #SB_CARRY
set_location reset_module_System.count[12] 12 3 3 #SB_DFF
set_location uart.timer_Count_RNO[6] 10 3 4 #SB_LUT4
set_location reset_module_System.count_RNIP8RT[10] 11 2 0 #SB_LUT4
set_location reset_module_System.count_1_cry_8_c 12 2 7 #SB_CARRY
set_io uart_input 4
set_io debug_state_output[4] 42
set_io debug_state_output[0] 2
set_io uart_data_rdy 47
set_io debug_state_output[3] 10
set_io debug_state_output[1] 9
set_io debug_sinkdatavalid_output 45
set_io uart_input_debug 6
set_io frame_decoder_dv 18
set_io debug_state_output[2] 46
set_io clk_system 35
