set_location reset_module_System.count_RNI10J41[1] 9 1 1 # SB_LUT4 (LogicCell: reset_module_System.count_RNI10J41[1]_LC_0)
set_location reset_module_System.count_RNI34OR1[21] 7 2 7 # SB_LUT4 (LogicCell: reset_module_System.count_RNI34OR1[21]_LC_1)
set_location reset_module_System.count_RNI53692[14] 9 2 3 # SB_LUT4 (LogicCell: reset_module_System.count_RNI53692[14]_LC_2)
set_location reset_module_System.count_RNI97FD[5] 9 1 5 # SB_LUT4 (LogicCell: reset_module_System.count_RNI97FD[5]_LC_3)
set_location reset_module_System.count_RNI9O1P[2] 9 1 3 # SB_LUT4 (LogicCell: reset_module_System.count_RNI9O1P[2]_LC_4)
set_location reset_module_System.count_RNIN3HK3[12] 9 2 4 # SB_LUT4 (LogicCell: reset_module_System.count_RNIN3HK3[12]_LC_5)
set_location reset_module_System.count_RNIP8RT[10] 9 2 2 # SB_LUT4 (LogicCell: reset_module_System.count_RNIP8RT[10]_LC_6)
set_location reset_module_System.count_RNO[0] 9 1 0 # SB_LUT4 (LogicCell: reset_module_System.count[0]_LC_7)
set_location reset_module_System.count[0] 9 1 0 # SB_DFF (LogicCell: reset_module_System.count[0]_LC_7)
set_location reset_module_System.count_RNO_0[1] 5 1 2 # SB_LUT4 (LogicCell: reset_module_System.count_RNO_0[1]_LC_8)
set_location reset_module_System.count_RNO_0[2] 8 1 1 # SB_LUT4 (LogicCell: reset_module_System.count_RNO_0[2]_LC_9)
set_location reset_module_System.count_1_cry_2_c 8 1 1 # SB_CARRY (LogicCell: reset_module_System.count_RNO_0[2]_LC_9)
set_location reset_module_System.count_RNO[1] 9 1 6 # SB_LUT4 (LogicCell: reset_module_System.count[1]_LC_10)
set_location reset_module_System.count[1] 9 1 6 # SB_DFF (LogicCell: reset_module_System.count[1]_LC_10)
set_location reset_module_System.count_RNO[10] 8 2 1 # SB_LUT4 (LogicCell: reset_module_System.count[10]_LC_11)
set_location reset_module_System.count[10] 8 2 1 # SB_DFF (LogicCell: reset_module_System.count[10]_LC_11)
set_location reset_module_System.count_1_cry_10_c 8 2 1 # SB_CARRY (LogicCell: reset_module_System.count[10]_LC_11)
set_location reset_module_System.count_RNO[11] 8 2 2 # SB_LUT4 (LogicCell: reset_module_System.count[11]_LC_12)
set_location reset_module_System.count[11] 8 2 2 # SB_DFF (LogicCell: reset_module_System.count[11]_LC_12)
set_location reset_module_System.count_1_cry_11_c 8 2 2 # SB_CARRY (LogicCell: reset_module_System.count[11]_LC_12)
set_location reset_module_System.count_RNO[12] 8 2 3 # SB_LUT4 (LogicCell: reset_module_System.count[12]_LC_13)
set_location reset_module_System.count[12] 8 2 3 # SB_DFF (LogicCell: reset_module_System.count[12]_LC_13)
set_location reset_module_System.count_1_cry_12_c 8 2 3 # SB_CARRY (LogicCell: reset_module_System.count[12]_LC_13)
set_location reset_module_System.count_RNO[13] 8 2 4 # SB_LUT4 (LogicCell: reset_module_System.count[13]_LC_14)
set_location reset_module_System.count[13] 8 2 4 # SB_DFF (LogicCell: reset_module_System.count[13]_LC_14)
set_location reset_module_System.count_1_cry_13_c 8 2 4 # SB_CARRY (LogicCell: reset_module_System.count[13]_LC_14)
set_location reset_module_System.count_RNO[14] 8 2 5 # SB_LUT4 (LogicCell: reset_module_System.count[14]_LC_15)
set_location reset_module_System.count[14] 8 2 5 # SB_DFF (LogicCell: reset_module_System.count[14]_LC_15)
set_location reset_module_System.count_1_cry_14_c 8 2 5 # SB_CARRY (LogicCell: reset_module_System.count[14]_LC_15)
set_location reset_module_System.count_RNO[15] 8 2 6 # SB_LUT4 (LogicCell: reset_module_System.count[15]_LC_16)
set_location reset_module_System.count[15] 8 2 6 # SB_DFF (LogicCell: reset_module_System.count[15]_LC_16)
set_location reset_module_System.count_1_cry_15_c 8 2 6 # SB_CARRY (LogicCell: reset_module_System.count[15]_LC_16)
set_location reset_module_System.count_RNO[16] 8 2 7 # SB_LUT4 (LogicCell: reset_module_System.count[16]_LC_17)
set_location reset_module_System.count[16] 8 2 7 # SB_DFF (LogicCell: reset_module_System.count[16]_LC_17)
set_location reset_module_System.count_1_cry_16_c 8 2 7 # SB_CARRY (LogicCell: reset_module_System.count[16]_LC_17)
set_location reset_module_System.count_RNO[17] 8 3 0 # SB_LUT4 (LogicCell: reset_module_System.count[17]_LC_18)
set_location reset_module_System.count[17] 8 3 0 # SB_DFF (LogicCell: reset_module_System.count[17]_LC_18)
set_location reset_module_System.count_1_cry_17_c 8 3 0 # SB_CARRY (LogicCell: reset_module_System.count[17]_LC_18)
set_location reset_module_System.count_RNO[18] 8 3 1 # SB_LUT4 (LogicCell: reset_module_System.count[18]_LC_19)
set_location reset_module_System.count[18] 8 3 1 # SB_DFF (LogicCell: reset_module_System.count[18]_LC_19)
set_location reset_module_System.count_1_cry_18_c 8 3 1 # SB_CARRY (LogicCell: reset_module_System.count[18]_LC_19)
set_location reset_module_System.count_RNO[19] 8 3 2 # SB_LUT4 (LogicCell: reset_module_System.count[19]_LC_20)
set_location reset_module_System.count[19] 8 3 2 # SB_DFF (LogicCell: reset_module_System.count[19]_LC_20)
set_location reset_module_System.count_1_cry_19_c 8 3 2 # SB_CARRY (LogicCell: reset_module_System.count[19]_LC_20)
set_location reset_module_System.count_RNO[2] 9 1 7 # SB_LUT4 (LogicCell: reset_module_System.count[2]_LC_21)
set_location reset_module_System.count[2] 9 1 7 # SB_DFF (LogicCell: reset_module_System.count[2]_LC_21)
set_location reset_module_System.count_RNO[20] 8 3 3 # SB_LUT4 (LogicCell: reset_module_System.count[20]_LC_22)
set_location reset_module_System.count[20] 8 3 3 # SB_DFF (LogicCell: reset_module_System.count[20]_LC_22)
set_location reset_module_System.count_1_cry_20_c 8 3 3 # SB_CARRY (LogicCell: reset_module_System.count[20]_LC_22)
set_location reset_module_System.count_RNO[21] 8 3 4 # SB_LUT4 (LogicCell: reset_module_System.count[21]_LC_23)
set_location reset_module_System.count[21] 8 3 4 # SB_DFF (LogicCell: reset_module_System.count[21]_LC_23)
set_location reset_module_System.count_RNO[3] 8 1 2 # SB_LUT4 (LogicCell: reset_module_System.count[3]_LC_24)
set_location reset_module_System.count[3] 8 1 2 # SB_DFF (LogicCell: reset_module_System.count[3]_LC_24)
set_location reset_module_System.count_1_cry_3_c 8 1 2 # SB_CARRY (LogicCell: reset_module_System.count[3]_LC_24)
set_location reset_module_System.count_RNO[4] 8 1 3 # SB_LUT4 (LogicCell: reset_module_System.count[4]_LC_25)
set_location reset_module_System.count[4] 8 1 3 # SB_DFF (LogicCell: reset_module_System.count[4]_LC_25)
set_location reset_module_System.count_1_cry_4_c 8 1 3 # SB_CARRY (LogicCell: reset_module_System.count[4]_LC_25)
set_location reset_module_System.count_RNO[5] 8 1 4 # SB_LUT4 (LogicCell: reset_module_System.count[5]_LC_26)
set_location reset_module_System.count[5] 8 1 4 # SB_DFF (LogicCell: reset_module_System.count[5]_LC_26)
set_location reset_module_System.count_1_cry_5_c 8 1 4 # SB_CARRY (LogicCell: reset_module_System.count[5]_LC_26)
set_location reset_module_System.count_RNO[6] 8 1 5 # SB_LUT4 (LogicCell: reset_module_System.count[6]_LC_27)
set_location reset_module_System.count[6] 8 1 5 # SB_DFF (LogicCell: reset_module_System.count[6]_LC_27)
set_location reset_module_System.count_1_cry_6_c 8 1 5 # SB_CARRY (LogicCell: reset_module_System.count[6]_LC_27)
set_location reset_module_System.count_RNO[7] 8 1 6 # SB_LUT4 (LogicCell: reset_module_System.count[7]_LC_28)
set_location reset_module_System.count[7] 8 1 6 # SB_DFF (LogicCell: reset_module_System.count[7]_LC_28)
set_location reset_module_System.count_1_cry_7_c 8 1 6 # SB_CARRY (LogicCell: reset_module_System.count[7]_LC_28)
set_location reset_module_System.count_RNO[8] 8 1 7 # SB_LUT4 (LogicCell: reset_module_System.count[8]_LC_29)
set_location reset_module_System.count[8] 8 1 7 # SB_DFF (LogicCell: reset_module_System.count[8]_LC_29)
set_location reset_module_System.count_1_cry_8_c 8 1 7 # SB_CARRY (LogicCell: reset_module_System.count[8]_LC_29)
set_location reset_module_System.count_RNO[9] 8 2 0 # SB_LUT4 (LogicCell: reset_module_System.count[9]_LC_30)
set_location reset_module_System.count[9] 8 2 0 # SB_DFF (LogicCell: reset_module_System.count[9]_LC_30)
set_location reset_module_System.count_1_cry_9_c 8 2 0 # SB_CARRY (LogicCell: reset_module_System.count[9]_LC_30)
set_location reset_module_System.reset_RNO 9 1 2 # SB_LUT4 (LogicCell: reset_module_System.reset_LC_31)
set_location reset_module_System.reset 9 1 2 # SB_DFF (LogicCell: reset_module_System.reset_LC_31)
set_location reset_module_System.reset_iso_RNO 9 1 4 # SB_LUT4 (LogicCell: reset_module_System.reset_iso_LC_32)
set_location reset_module_System.reset_iso 9 1 4 # SB_DFF (LogicCell: reset_module_System.reset_iso_LC_32)
set_location uart.bit_Count_RNIETHE[2] 8 3 5 # SB_LUT4 (LogicCell: uart.bit_Count_RNIETHE[2]_LC_33)
set_location uart.bit_Count_RNO[0] 7 4 2 # SB_LUT4 (LogicCell: uart.bit_Count[0]_LC_34)
set_location uart.bit_Count[0] 7 4 2 # SB_DFFSR (LogicCell: uart.bit_Count[0]_LC_34)
set_location uart.bit_Count_RNO_0[2] 7 5 3 # SB_LUT4 (LogicCell: uart.bit_Count_RNO_0[2]_LC_35)
set_location uart.bit_Count_RNO[1] 7 4 4 # SB_LUT4 (LogicCell: uart.bit_Count[1]_LC_36)
set_location uart.bit_Count[1] 7 4 4 # SB_DFFSR (LogicCell: uart.bit_Count[1]_LC_36)
set_location uart.bit_Count_RNO[2] 7 4 7 # SB_LUT4 (LogicCell: uart.bit_Count[2]_LC_37)
set_location uart.bit_Count[2] 7 4 7 # SB_DFFSR (LogicCell: uart.bit_Count[2]_LC_37)
set_location uart.data_Aux_RNO[0] 8 4 3 # SB_LUT4 (LogicCell: uart.data_Aux[0]_LC_38)
set_location uart.data_Aux[0] 8 4 3 # SB_DFFSR (LogicCell: uart.data_Aux[0]_LC_38)
set_location uart.data_Aux_RNO_0[0] 8 5 2 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[0]_LC_39)
set_location uart.data_Aux_RNO_0[1] 8 5 3 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[1]_LC_40)
set_location uart.data_Aux_RNO_0[2] 8 5 4 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[2]_LC_41)
set_location uart.data_Aux_RNO_0[3] 8 5 6 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[3]_LC_42)
set_location uart.data_Aux_RNO_0[4] 8 5 1 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[4]_LC_43)
set_location uart.data_Aux_RNO_0[5] 8 3 6 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[5]_LC_44)
set_location uart.data_Aux_RNO_0[6] 7 5 0 # SB_LUT4 (LogicCell: uart.data_Aux_RNO_0[6]_LC_45)
set_location uart.data_Aux_RNO[1] 8 4 4 # SB_LUT4 (LogicCell: uart.data_Aux[1]_LC_46)
set_location uart.data_Aux[1] 8 4 4 # SB_DFFSR (LogicCell: uart.data_Aux[1]_LC_46)
set_location uart.data_Aux_RNO[2] 7 3 4 # SB_LUT4 (LogicCell: uart.data_Aux[2]_LC_47)
set_location uart.data_Aux[2] 7 3 4 # SB_DFFSR (LogicCell: uart.data_Aux[2]_LC_47)
set_location uart.data_Aux_RNO[3] 8 4 6 # SB_LUT4 (LogicCell: uart.data_Aux[3]_LC_48)
set_location uart.data_Aux[3] 8 4 6 # SB_DFFSR (LogicCell: uart.data_Aux[3]_LC_48)
set_location uart.data_Aux_RNO[4] 8 4 7 # SB_LUT4 (LogicCell: uart.data_Aux[4]_LC_49)
set_location uart.data_Aux[4] 8 4 7 # SB_DFFSR (LogicCell: uart.data_Aux[4]_LC_49)
set_location uart.data_Aux_RNO[5] 7 3 1 # SB_LUT4 (LogicCell: uart.data_Aux[5]_LC_50)
set_location uart.data_Aux[5] 7 3 1 # SB_DFFSR (LogicCell: uart.data_Aux[5]_LC_50)
set_location uart.data_Aux_RNO[6] 7 5 1 # SB_LUT4 (LogicCell: uart.data_Aux[6]_LC_51)
set_location uart.data_Aux[6] 7 5 1 # SB_DFFSR (LogicCell: uart.data_Aux[6]_LC_51)
set_location uart.data_Aux_RNO[7] 7 3 2 # SB_LUT4 (LogicCell: uart.data_Aux[7]_LC_52)
set_location uart.data_Aux[7] 7 3 2 # SB_DFFSR (LogicCell: uart.data_Aux[7]_LC_52)
set_location uart.data_rdy_RNO 10 3 3 # SB_LUT4 (LogicCell: uart.data_rdy_LC_53)
set_location uart.data_rdy 10 3 3 # SB_DFF (LogicCell: uart.data_rdy_LC_53)
set_location uart.state_RNI4ENK[3] 7 4 3 # SB_LUT4 (LogicCell: uart.state_RNI4ENK[3]_LC_54)
set_location uart.state_RNI78E91[4] 10 4 0 # SB_LUT4 (LogicCell: uart.state_RNI78E91[4]_LC_55)
set_location uart.state_RNIA73N2[4] 8 5 5 # SB_LUT4 (LogicCell: uart.state_RNIA73N2[4]_LC_56)
set_location uart.state_RNIAFHL[4] 9 5 3 # SB_LUT4 (LogicCell: uart.state_RNIAFHL[4]_LC_57)
set_location uart.state_RNIB0BC[2] 9 4 7 # SB_LUT4 (LogicCell: uart.state_RNIB0BC[2]_LC_58)
set_location uart.state_RNICNUO5[4] 10 4 7 # SB_LUT4 (LogicCell: uart.state_RNICNUO5[4]_LC_59)
set_location uart.state_RNIDV3Q2[4] 10 4 4 # SB_LUT4 (LogicCell: uart.state_RNIDV3Q2[4]_LC_60)
set_location uart.state_RNIGITG2[4] 10 4 6 # SB_LUT4 (LogicCell: uart.state_RNIGITG2[4]_LC_61)
set_location uart.state_RNIIHDQ5[2] 10 4 5 # SB_LUT4 (LogicCell: uart.state_RNIIHDQ5[2]_LC_62)
set_location uart.state_RNILC8T2[3] 8 4 2 # SB_LUT4 (LogicCell: uart.state_RNILC8T2[3]_LC_63)
set_location uart.state_RNIMO1Q[4] 9 4 4 # SB_LUT4 (LogicCell: uart.state_RNIMO1Q[4]_LC_64)
set_location uart.state_RNO[0] 10 1 2 # SB_LUT4 (LogicCell: uart.state[0]_LC_65)
set_location uart.state[0] 10 1 2 # SB_DFF (LogicCell: uart.state[0]_LC_65)
set_location uart.state_RNO_0[0] 10 1 1 # SB_LUT4 (LogicCell: uart.state_RNO_0[0]_LC_66)
set_location uart.state_RNO_0[2] 9 5 4 # SB_LUT4 (LogicCell: uart.state_RNO_0[2]_LC_67)
set_location uart.state_RNO_0[3] 9 2 6 # SB_LUT4 (LogicCell: uart.state_RNO_0[3]_LC_68)
set_location uart.state_RNO_0[4] 9 4 5 # SB_LUT4 (LogicCell: uart.state_RNO_0[4]_LC_69)
set_location uart.state_RNO[1] 9 4 3 # SB_LUT4 (LogicCell: uart.state[1]_LC_70)
set_location uart.state[1] 9 4 3 # SB_DFF (LogicCell: uart.state[1]_LC_70)
set_location uart.state_RNO_1[0] 10 1 0 # SB_LUT4 (LogicCell: uart.state_RNO_1[0]_LC_71)
set_location uart.state_RNO_1[3] 9 2 5 # SB_LUT4 (LogicCell: uart.state_RNO_1[3]_LC_72)
set_location uart.state_RNO[2] 9 5 5 # SB_LUT4 (LogicCell: uart.state[2]_LC_73)
set_location uart.state[2] 9 5 5 # SB_DFF (LogicCell: uart.state[2]_LC_73)
set_location uart.state_RNO_2[3] 9 5 7 # SB_LUT4 (LogicCell: uart.state_RNO_2[3]_LC_74)
set_location uart.state_RNO[3] 9 2 7 # SB_LUT4 (LogicCell: uart.state[3]_LC_75)
set_location uart.state[3] 9 2 7 # SB_DFF (LogicCell: uart.state[3]_LC_75)
set_location uart.state_RNO[4] 9 4 6 # SB_LUT4 (LogicCell: uart.state[4]_LC_76)
set_location uart.state[4] 9 4 6 # SB_DFF (LogicCell: uart.state[4]_LC_76)
set_location uart.timer_Count_RNI1HBL[6] 9 4 2 # SB_LUT4 (LogicCell: uart.timer_Count_RNI1HBL[6]_LC_77)
set_location uart.timer_Count_RNI22NA1[6] 9 4 0 # SB_LUT4 (LogicCell: uart.timer_Count_RNI22NA1[6]_LC_78)
set_location uart.timer_Count_RNI9M0N[1] 8 3 7 # SB_LUT4 (LogicCell: uart.timer_Count_RNI9M0N[1]_LC_79)
set_location uart.timer_Count_RNILKMA1[0] 8 4 1 # SB_LUT4 (LogicCell: uart.timer_Count_RNILKMA1[0]_LC_80)
set_location uart.timer_Count_RNIMLMA1[1] 10 4 3 # SB_LUT4 (LogicCell: uart.timer_Count_RNIMLMA1[1]_LC_81)
set_location uart.timer_Count_RNIS4183[7] 10 4 1 # SB_LUT4 (LogicCell: uart.timer_Count_RNIS4183[7]_LC_82)
set_location uart.timer_Count_RNIT4OA2[2] 9 4 1 # SB_LUT4 (LogicCell: uart.timer_Count_RNIT4OA2[2]_LC_83)
set_location uart.timer_Count_RNO[0] 11 3 7 # SB_LUT4 (LogicCell: uart.timer_Count[0]_LC_84)
set_location uart.timer_Count[0] 11 3 7 # SB_DFFSR (LogicCell: uart.timer_Count[0]_LC_84)
set_location uart.timer_Count_RNO[1] 11 3 1 # SB_LUT4 (LogicCell: uart.timer_Count[1]_LC_85)
set_location uart.timer_Count[1] 11 3 1 # SB_DFFSR (LogicCell: uart.timer_Count[1]_LC_85)
set_location uart.timer_Count_RNO[2] 10 5 1 # SB_LUT4 (LogicCell: uart.timer_Count[2]_LC_86)
set_location uart.timer_Count[2] 10 5 1 # SB_DFFSR (LogicCell: uart.timer_Count[2]_LC_86)
set_location uart.un4_timer_Count_1_cry_2_c 10 5 1 # SB_CARRY (LogicCell: uart.timer_Count[2]_LC_86)
set_location uart.timer_Count_RNO[3] 10 5 2 # SB_LUT4 (LogicCell: uart.timer_Count[3]_LC_87)
set_location uart.timer_Count[3] 10 5 2 # SB_DFFSR (LogicCell: uart.timer_Count[3]_LC_87)
set_location uart.un4_timer_Count_1_cry_3_c 10 5 2 # SB_CARRY (LogicCell: uart.timer_Count[3]_LC_87)
set_location uart.timer_Count_RNO[4] 10 5 3 # SB_LUT4 (LogicCell: uart.timer_Count[4]_LC_88)
set_location uart.timer_Count[4] 10 5 3 # SB_DFFSR (LogicCell: uart.timer_Count[4]_LC_88)
set_location uart.un4_timer_Count_1_cry_4_c 10 5 3 # SB_CARRY (LogicCell: uart.timer_Count[4]_LC_88)
set_location uart.timer_Count_RNO[5] 10 5 4 # SB_LUT4 (LogicCell: uart.timer_Count[5]_LC_89)
set_location uart.timer_Count[5] 10 5 4 # SB_DFFSR (LogicCell: uart.timer_Count[5]_LC_89)
set_location uart.un4_timer_Count_1_cry_5_c 10 5 4 # SB_CARRY (LogicCell: uart.timer_Count[5]_LC_89)
set_location uart.timer_Count_RNO[6] 10 5 5 # SB_LUT4 (LogicCell: uart.timer_Count[6]_LC_90)
set_location uart.timer_Count[6] 10 5 5 # SB_DFFSR (LogicCell: uart.timer_Count[6]_LC_90)
set_location uart.un4_timer_Count_1_cry_6_c 10 5 5 # SB_CARRY (LogicCell: uart.timer_Count[6]_LC_90)
set_location uart.timer_Count_RNO[7] 10 5 6 # SB_LUT4 (LogicCell: uart.timer_Count[7]_LC_91)
set_location uart.timer_Count[7] 10 5 6 # SB_DFFSR (LogicCell: uart.timer_Count[7]_LC_91)
set_location uart_frame_decoder.WDT_RNI85RG2[14] 11 3 5 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNI85RG2[14]_LC_92)
set_location uart_frame_decoder.WDT_RNIEDQT1[7] 11 3 3 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIEDQT1[7]_LC_93)
set_location uart_frame_decoder.WDT_RNIEKPB[11] 11 2 2 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIEKPB[11]_LC_94)
set_location uart_frame_decoder.WDT_RNIGSL62[15] 11 2 1 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIGSL62[15]_LC_95)
set_location uart_frame_decoder.WDT_RNIKVEI2[14] 11 3 4 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIKVEI2[14]_LC_96)
set_location uart_frame_decoder.WDT_RNIOAVK1[5] 11 2 0 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIOAVK1[5]_LC_97)
set_location uart_frame_decoder.WDT_RNIQAB11[4] 11 2 4 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIQAB11[4]_LC_98)
set_location uart_frame_decoder.WDT_RNIRBB11[4] 11 2 3 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIRBB11[4]_LC_99)
set_location uart_frame_decoder.WDT_RNISS5H[11] 11 3 2 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNISS5H[11]_LC_100)
set_location uart_frame_decoder.WDT_RNIVBR8[15] 11 2 5 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT_RNIVBR8[15]_LC_101)
set_location uart_frame_decoder.WDT_RNO[0] 12 2 0 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[0]_LC_102)
set_location uart_frame_decoder.WDT[0] 12 2 0 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[0]_LC_102)
set_location uart_frame_decoder.un1_WDT_cry_0_c 12 2 0 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[0]_LC_102)
set_location uart_frame_decoder.WDT_RNO[1] 12 2 1 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[1]_LC_103)
set_location uart_frame_decoder.WDT[1] 12 2 1 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[1]_LC_103)
set_location uart_frame_decoder.un1_WDT_cry_1_c 12 2 1 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[1]_LC_103)
set_location uart_frame_decoder.WDT_RNO[10] 12 3 2 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[10]_LC_104)
set_location uart_frame_decoder.WDT[10] 12 3 2 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[10]_LC_104)
set_location uart_frame_decoder.un1_WDT_cry_10_c 12 3 2 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[10]_LC_104)
set_location uart_frame_decoder.WDT_RNO[11] 12 3 3 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[11]_LC_105)
set_location uart_frame_decoder.WDT[11] 12 3 3 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[11]_LC_105)
set_location uart_frame_decoder.un1_WDT_cry_11_c 12 3 3 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[11]_LC_105)
set_location uart_frame_decoder.WDT_RNO[12] 12 3 4 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[12]_LC_106)
set_location uart_frame_decoder.WDT[12] 12 3 4 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[12]_LC_106)
set_location uart_frame_decoder.un1_WDT_cry_12_c 12 3 4 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[12]_LC_106)
set_location uart_frame_decoder.WDT_RNO[13] 12 3 5 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[13]_LC_107)
set_location uart_frame_decoder.WDT[13] 12 3 5 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[13]_LC_107)
set_location uart_frame_decoder.un1_WDT_cry_13_c 12 3 5 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[13]_LC_107)
set_location uart_frame_decoder.WDT_RNO[14] 12 3 6 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[14]_LC_108)
set_location uart_frame_decoder.WDT[14] 12 3 6 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[14]_LC_108)
set_location uart_frame_decoder.un1_WDT_cry_14_c 12 3 6 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[14]_LC_108)
set_location uart_frame_decoder.WDT_RNO[15] 12 3 7 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[15]_LC_109)
set_location uart_frame_decoder.WDT[15] 12 3 7 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[15]_LC_109)
set_location uart_frame_decoder.WDT_RNO[2] 12 2 2 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[2]_LC_110)
set_location uart_frame_decoder.WDT[2] 12 2 2 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[2]_LC_110)
set_location uart_frame_decoder.un1_WDT_cry_2_c 12 2 2 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[2]_LC_110)
set_location uart_frame_decoder.WDT_RNO[3] 12 2 3 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[3]_LC_111)
set_location uart_frame_decoder.WDT[3] 12 2 3 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[3]_LC_111)
set_location uart_frame_decoder.un1_WDT_cry_3_c 12 2 3 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[3]_LC_111)
set_location uart_frame_decoder.WDT_RNO[4] 12 2 4 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[4]_LC_112)
set_location uart_frame_decoder.WDT[4] 12 2 4 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[4]_LC_112)
set_location uart_frame_decoder.un1_WDT_cry_4_c 12 2 4 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[4]_LC_112)
set_location uart_frame_decoder.WDT_RNO[5] 12 2 5 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[5]_LC_113)
set_location uart_frame_decoder.WDT[5] 12 2 5 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[5]_LC_113)
set_location uart_frame_decoder.un1_WDT_cry_5_c 12 2 5 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[5]_LC_113)
set_location uart_frame_decoder.WDT_RNO[6] 12 2 6 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[6]_LC_114)
set_location uart_frame_decoder.WDT[6] 12 2 6 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[6]_LC_114)
set_location uart_frame_decoder.un1_WDT_cry_6_c 12 2 6 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[6]_LC_114)
set_location uart_frame_decoder.WDT_RNO[7] 12 2 7 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[7]_LC_115)
set_location uart_frame_decoder.WDT[7] 12 2 7 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[7]_LC_115)
set_location uart_frame_decoder.un1_WDT_cry_7_c 12 2 7 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[7]_LC_115)
set_location uart_frame_decoder.WDT_RNO[8] 12 3 0 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[8]_LC_116)
set_location uart_frame_decoder.WDT[8] 12 3 0 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[8]_LC_116)
set_location uart_frame_decoder.un1_WDT_cry_8_c 12 3 0 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[8]_LC_116)
set_location uart_frame_decoder.WDT_RNO[9] 12 3 1 # SB_LUT4 (LogicCell: uart_frame_decoder.WDT[9]_LC_117)
set_location uart_frame_decoder.WDT[9] 12 3 1 # SB_DFFSR (LogicCell: uart_frame_decoder.WDT[9]_LC_117)
set_location uart_frame_decoder.un1_WDT_cry_9_c 12 3 1 # SB_CARRY (LogicCell: uart_frame_decoder.WDT[9]_LC_117)
set_location uart_frame_decoder.count8_cry_0_c_inv 11 1 7 # SB_LUT4 (LogicCell: uart_frame_decoder.count8_cry_0_c_inv_LC_118)
set_location uart_frame_decoder.count8_cry_1_c_inv 11 1 1 # SB_LUT4 (LogicCell: uart_frame_decoder.count8_cry_1_c_inv_LC_119)
set_location uart_frame_decoder.count8_cry_1_c 11 1 1 # SB_CARRY (LogicCell: uart_frame_decoder.count8_cry_1_c_inv_LC_119)
set_location uart_frame_decoder.count8_cry_2_c_RNICKS21 11 1 4 # SB_LUT4 (LogicCell: uart_frame_decoder.count8_cry_2_c_RNICKS21_LC_120)
set_location uart_frame_decoder.count8_cry_2_c_inv 11 1 2 # SB_LUT4 (LogicCell: uart_frame_decoder.count8_cry_2_c_inv_LC_121)
set_location uart_frame_decoder.count8_cry_2_c 11 1 2 # SB_CARRY (LogicCell: uart_frame_decoder.count8_cry_2_c_inv_LC_121)
set_location uart_frame_decoder.count_RNIHPR51[2] 11 1 6 # SB_LUT4 (LogicCell: uart_frame_decoder.count_RNIHPR51[2]_LC_122)
set_location uart_frame_decoder.count_RNIV5MS[0] 10 1 5 # SB_LUT4 (LogicCell: uart_frame_decoder.count_RNIV5MS[0]_LC_123)
set_location uart_frame_decoder.count_RNO[0] 11 1 5 # SB_LUT4 (LogicCell: uart_frame_decoder.count[0]_LC_124)
set_location uart_frame_decoder.count[0] 11 1 5 # SB_DFF (LogicCell: uart_frame_decoder.count[0]_LC_124)
set_location uart_frame_decoder.count_RNO[1] 10 1 6 # SB_LUT4 (LogicCell: uart_frame_decoder.count[1]_LC_125)
set_location uart_frame_decoder.count[1] 10 1 6 # SB_DFF (LogicCell: uart_frame_decoder.count[1]_LC_125)
set_location uart_frame_decoder.count_RNO[2] 10 1 4 # SB_LUT4 (LogicCell: uart_frame_decoder.count[2]_LC_126)
set_location uart_frame_decoder.count[2] 10 1 4 # SB_DFF (LogicCell: uart_frame_decoder.count[2]_LC_126)
set_location uart_frame_decoder.source_data_valid_2_sqmuxa_i 13 3 6 # SB_LUT4 (LogicCell: uart_frame_decoder.source_data_valid_2_sqmuxa_i_LC_127)
set_location uart_frame_decoder.source_data_valid_RNO 7 1 2 # SB_LUT4 (LogicCell: uart_frame_decoder.source_data_valid_LC_128)
set_location uart_frame_decoder.source_data_valid 7 1 2 # SB_DFFSR (LogicCell: uart_frame_decoder.source_data_valid_LC_128)
set_location uart_frame_decoder.state_1_RNI3NAA1[3] 13 4 4 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNI3NAA1[3]_LC_129)
set_location uart_frame_decoder.state_1_RNI5BVV[1] 10 3 1 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNI5BVV[1]_LC_130)
set_location uart_frame_decoder.state_1_RNI8L5O[8] 13 4 1 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNI8L5O[8]_LC_131)
set_location uart_frame_decoder.state_1_RNICQTG[7] 13 4 3 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNICQTG[7]_LC_132)
set_location uart_frame_decoder.state_1_RNID8391[2] 13 4 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNID8391[2]_LC_133)
set_location uart_frame_decoder.state_1_RNIHVTG[6] 13 4 5 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNIHVTG[6]_LC_134)
set_location uart_frame_decoder.state_1_RNILEPU1[10] 11 2 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNILEPU1[10]_LC_135)
set_location uart_frame_decoder.state_1_RNIMBMF[1] 10 2 4 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNIMBMF[1]_LC_136)
set_location uart_frame_decoder.state_1_RNIUQR11[4] 13 4 0 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNIUQR11[4]_LC_137)
set_location uart_frame_decoder.state_1_RNO[0] 10 2 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[0]_LC_138)
set_location uart_frame_decoder.state_1[0] 10 2 6 # SB_DFFSS (LogicCell: uart_frame_decoder.state_1[0]_LC_138)
set_location uart_frame_decoder.state_1_RNO_0[0] 11 3 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNO_0[0]_LC_139)
set_location uart_frame_decoder.state_1_RNO_0[1] 10 3 7 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNO_0[1]_LC_140)
set_location uart_frame_decoder.state_1_RNO[1] 11 4 1 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[1]_LC_141)
set_location uart_frame_decoder.state_1[1] 11 4 1 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[1]_LC_141)
set_location uart_frame_decoder.state_1_RNO[10] 12 4 0 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[10]_LC_142)
set_location uart_frame_decoder.state_1[10] 12 4 0 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[10]_LC_142)
set_location uart_frame_decoder.state_1_RNO_1[0] 10 2 5 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNO_1[0]_LC_143)
set_location uart_frame_decoder.state_1_RNO[2] 11 4 2 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[2]_LC_144)
set_location uart_frame_decoder.state_1[2] 11 4 2 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[2]_LC_144)
set_location uart_frame_decoder.state_1_RNO_2[0] 11 2 7 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNO_2[0]_LC_145)
set_location uart_frame_decoder.state_1_RNO[3] 12 4 1 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[3]_LC_146)
set_location uart_frame_decoder.state_1[3] 12 4 1 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[3]_LC_146)
set_location uart_frame_decoder.state_1_RNO_3[0] 10 3 2 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_RNO_3[0]_LC_147)
set_location uart_frame_decoder.state_1_RNO[4] 12 4 2 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[4]_LC_148)
set_location uart_frame_decoder.state_1[4] 12 4 2 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[4]_LC_148)
set_location uart_frame_decoder.state_1_RNO[5] 12 4 3 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[5]_LC_149)
set_location uart_frame_decoder.state_1[5] 12 4 3 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[5]_LC_149)
set_location uart_frame_decoder.state_1_RNO[6] 12 4 4 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[6]_LC_150)
set_location uart_frame_decoder.state_1[6] 12 4 4 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[6]_LC_150)
set_location uart_frame_decoder.state_1_RNO[7] 12 4 5 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[7]_LC_151)
set_location uart_frame_decoder.state_1[7] 12 4 5 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[7]_LC_151)
set_location uart_frame_decoder.state_1_RNO[8] 12 4 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[8]_LC_152)
set_location uart_frame_decoder.state_1[8] 12 4 6 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[8]_LC_152)
set_location uart_frame_decoder.state_1_RNO[9] 12 4 7 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1[9]_LC_153)
set_location uart_frame_decoder.state_1[9] 12 4 7 # SB_DFFSR (LogicCell: uart_frame_decoder.state_1[9]_LC_153)
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_0_1[2] 10 3 0 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_ns_0_i_a2_0_0_1[2]_LC_154)
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_4[1] 10 3 6 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_ns_0_i_a2_0_4[1]_LC_155)
set_location uart_frame_decoder.state_1_ns_0_i_a2_1_0[2] 10 3 4 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_ns_0_i_a2_1_0[2]_LC_156)
set_location uart_frame_decoder.state_1_ns_0_i_a2_1[2] 10 3 5 # SB_LUT4 (LogicCell: uart_frame_decoder.state_1_ns_0_i_a2_1[2]_LC_157)
set_location uart.data_esr_0_THRU_LUT4_0 9 3 0 # SB_LUT4 (LogicCell: uart.data_esr[0]_LC_158)
set_location uart.data_esr[0] 9 3 0 # SB_DFFESR (LogicCell: uart.data_esr[0]_LC_158)
set_location uart.data_esr_1_THRU_LUT4_0 11 5 2 # SB_LUT4 (LogicCell: uart.data_esr[1]_LC_159)
set_location uart.data_esr[1] 11 5 2 # SB_DFFESR (LogicCell: uart.data_esr[1]_LC_159)
set_location uart.data_esr_2_THRU_LUT4_0 9 3 2 # SB_LUT4 (LogicCell: uart.data_esr[2]_LC_160)
set_location uart.data_esr[2] 9 3 2 # SB_DFFESR (LogicCell: uart.data_esr[2]_LC_160)
set_location uart.data_esr_3_THRU_LUT4_0 9 3 3 # SB_LUT4 (LogicCell: uart.data_esr[3]_LC_161)
set_location uart.data_esr[3] 9 3 3 # SB_DFFESR (LogicCell: uart.data_esr[3]_LC_161)
set_location uart.data_esr_4_THRU_LUT4_0 11 5 3 # SB_LUT4 (LogicCell: uart.data_esr[4]_LC_162)
set_location uart.data_esr[4] 11 5 3 # SB_DFFESR (LogicCell: uart.data_esr[4]_LC_162)
set_location uart.data_esr_5_THRU_LUT4_0 9 3 5 # SB_LUT4 (LogicCell: uart.data_esr[5]_LC_163)
set_location uart.data_esr[5] 9 3 5 # SB_DFFESR (LogicCell: uart.data_esr[5]_LC_163)
set_location uart.data_esr_6_THRU_LUT4_0 11 5 7 # SB_LUT4 (LogicCell: uart.data_esr[6]_LC_164)
set_location uart.data_esr[6] 11 5 7 # SB_DFFESR (LogicCell: uart.data_esr[6]_LC_164)
set_location uart.data_esr_7_THRU_LUT4_0 9 3 7 # SB_LUT4 (LogicCell: uart.data_esr[7]_LC_165)
set_location uart.data_esr[7] 9 3 7 # SB_DFFESR (LogicCell: uart.data_esr[7]_LC_165)
set_location uart_sync.Q_0__0_THRU_LUT4_0 7 2 2 # SB_LUT4 (LogicCell: uart_sync.Q_0_[0]_LC_166)
set_location uart_sync.Q_0_[0] 7 2 2 # SB_DFF (LogicCell: uart_sync.Q_0_[0]_LC_166)
set_location uart_sync.aux_0__0__0_THRU_LUT4_0 7 2 1 # SB_LUT4 (LogicCell: uart_sync.aux_0__0_[0]_LC_167)
set_location uart_sync.aux_0__0_[0] 7 2 1 # SB_DFF (LogicCell: uart_sync.aux_0__0_[0]_LC_167)
set_location uart_sync.aux_1__0__0_THRU_LUT4_0 7 2 4 # SB_LUT4 (LogicCell: uart_sync.aux_1__0_[0]_LC_168)
set_location uart_sync.aux_1__0_[0] 7 2 4 # SB_DFF (LogicCell: uart_sync.aux_1__0_[0]_LC_168)
set_location uart_sync.aux_2__0__0_THRU_LUT4_0 7 2 0 # SB_LUT4 (LogicCell: uart_sync.aux_2__0_[0]_LC_169)
set_location uart_sync.aux_2__0_[0] 7 2 0 # SB_DFF (LogicCell: uart_sync.aux_2__0_[0]_LC_169)
set_location uart_sync.aux_3__0__0_THRU_LUT4_0 7 2 5 # SB_LUT4 (LogicCell: uart_sync.aux_3__0_[0]_LC_170)
set_location uart_sync.aux_3__0_[0] 7 2 5 # SB_DFF (LogicCell: uart_sync.aux_3__0_[0]_LC_170)
set_location uart_frame_decoder.count8_THRU_LUT4_0 11 1 3 # SB_LUT4 (LogicCell: uart_frame_decoder.count8_THRU_LUT4_0_LC_171)
set_location reset_module_System.count_1_cry_1_c 8 1 0 # SB_CARRY (LogicCell: reset_module_System.count_1_cry_1_c_LC_172)
set_location uart.un4_timer_Count_1_cry_1_c 10 5 0 # SB_CARRY (LogicCell: uart.un4_timer_Count_1_cry_1_c_LC_173)
set_location uart_frame_decoder.count8_cry_0_c 11 1 0 # SB_CARRY (LogicCell: uart_frame_decoder.count8_cry_0_c_LC_174)
set_location GND -1 -1 -1 # GND
set_io clk_system_ibuf_gb_io 12 31 1 # ICE_GB_IO
set_io debug_sinkdatavalid_output_obuf 7 0 1 # ICE_IO
set_io debug_state_output_obuf[0] 8 0 0 # ICE_IO
set_io debug_state_output_obuf[1] 15 0 0 # ICE_IO
set_io debug_state_output_obuf[2] 5 0 0 # ICE_IO
set_io debug_state_output_obuf[3] 16 0 0 # ICE_IO
set_io debug_state_output_obuf[4] 8 31 0 # ICE_IO
set_io frame_decoder_dv_obuf 22 0 1 # ICE_IO
set_io uart_data_rdy_obuf 6 0 0 # ICE_IO
set_io uart_input_debug_obuf 13 0 1 # ICE_IO
set_io uart_input_ibuf 9 0 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 10 1 3 # SB_LUT4 (LogicCell: LC_175)
