set_location KeyPress1.source_data_ready_reg_4_i_0_a3 12 30 2 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_4_i_0_a3_LC_0)
set_location KeyPress1.source_data_ready_reg_4_i_0_a3_0 12 29 7 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_4_i_0_a3_0_LC_1)
set_location KeyPress1.source_data_ready_reg_4_i_0_a3_2_1 12 29 4 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_4_i_0_a3_2_1_LC_2)
set_location KeyPress1.source_data_ready_reg_4_i_0_o3 12 29 6 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_4_i_0_o3_LC_3)
set_location KeyPress1.source_data_ready_reg_4_i_0_o3_0 12 29 2 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_4_i_0_o3_0_LC_4)
set_location KeyPress1.source_data_reg_RNO[0] 12 30 3 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg[0]_LC_5)
set_location KeyPress1.source_data_reg[0] 12 30 3 # SB_DFF (LogicCell: KeyPress1.source_data_reg[0]_LC_5)
set_location KeyPress1.source_data_reg_RNO_0[1] 12 30 6 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg_RNO_0[1]_LC_6)
set_location KeyPress1.source_data_reg_RNO_0[2] 12 29 3 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg_RNO_0[2]_LC_7)
set_location KeyPress1.source_data_reg_RNO[1] 12 30 7 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg[1]_LC_8)
set_location KeyPress1.source_data_reg[1] 12 30 7 # SB_DFF (LogicCell: KeyPress1.source_data_reg[1]_LC_8)
set_location KeyPress1.source_data_reg_RNO[2] 12 30 0 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg[2]_LC_9)
set_location KeyPress1.source_data_reg[2] 12 30 0 # SB_DFF (LogicCell: KeyPress1.source_data_reg[2]_LC_9)
set_location KeyPress1.source_data_reg_cnst_0_0_45_i_i_x2 12 29 1 # SB_LUT4 (LogicCell: KeyPress1.source_data_reg_cnst_0_0_45_i_i_x2_LC_10)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIHVGU1[2] 9 23 5 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIHVGU1[2]_LC_11)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIMVMJ_0[1] 10 23 1 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIMVMJ_0[1]_LC_12)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIMVMJ[1] 11 23 4 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIMVMJ[1]_LC_13)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIN2AA1_0[3] 10 23 6 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIN2AA1_0[3]_LC_14)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIN2AA1[3] 12 23 2 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIN2AA1[3]_LC_15)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNIPDR9[1] 12 23 1 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_RNIPDR9[1]_LC_16)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNO[0] 12 22 7 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[0]_LC_17)
set_location ppm_encoder1.CHOOSE_CHANNEL[0] 12 22 7 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[0]_LC_17)
set_location ppm_encoder1.CHOOSE_CHANNEL_RNO[1] 12 22 3 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[1]_LC_18)
set_location ppm_encoder1.CHOOSE_CHANNEL[1] 12 22 3 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[1]_LC_18)
set_location ppm_encoder1.CHOOSE_CHANNEL_cnst_3_2_.N_156_0_i 12 22 4 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[2]_LC_19)
set_location ppm_encoder1.CHOOSE_CHANNEL[2] 12 22 4 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[2]_LC_19)
set_location ppm_encoder1.CHOOSE_CHANNEL_cnst_3_2_.N_156_0_i_fast 7 22 5 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[2]_LC_20)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast[2] 7 22 5 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[2]_LC_20)
set_location ppm_encoder1.CHOOSE_CHANNEL_cnst_3_2_.N_7_i 12 22 2 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[3]_LC_21)
set_location ppm_encoder1.CHOOSE_CHANNEL[3] 12 22 2 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL[3]_LC_21)
set_location ppm_encoder1.CHOOSE_CHANNEL_cnst_3_2_.N_7_i_fast 8 21 1 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[3]_LC_22)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast[3] 8 21 1 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[3]_LC_22)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1[0] 7 22 0 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1[0]_LC_23)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1_0[0] 8 22 1 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1_0[0]_LC_24)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1_1[0] 8 22 0 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNIAP4S1_1[0]_LC_25)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNIINM32[2] 8 22 5 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNIINM32[2]_LC_26)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNIMD2U[1] 8 22 4 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNIMD2U[1]_LC_27)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNISGRV3[0] 8 22 2 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNISGRV3[0]_LC_28)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNISGRV3_0[0] 8 22 3 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast_RNISGRV3_0[0]_LC_29)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNO[0] 8 21 4 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[0]_LC_30)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast[0] 8 21 4 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[0]_LC_30)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast_RNO[1] 8 21 7 # SB_LUT4 (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[1]_LC_31)
set_location ppm_encoder1.CHOOSE_CHANNEL_fast[1] 8 21 7 # SB_DFFE (LogicCell: ppm_encoder1.CHOOSE_CHANNEL_fast[1]_LC_31)
set_location ppm_encoder1.PPM_STATE_RNI13JM[0] 11 22 6 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNI13JM[0]_LC_32)
set_location ppm_encoder1.PPM_STATE_RNI13JM_0[0] 10 25 6 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNI13JM_0[0]_LC_33)
set_location ppm_encoder1.PPM_STATE_RNI13JM_1[0] 9 23 4 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNI13JM_1[0]_LC_34)
set_location ppm_encoder1.PPM_STATE_RNIH6OE8[0] 7 23 4 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNIH6OE8[0]_LC_35)
set_location ppm_encoder1.PPM_STATE_RNIH6OE8_0[0] 8 22 7 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNIH6OE8_0[0]_LC_36)
set_location ppm_encoder1.PPM_STATE_RNILLSE4[0] 7 22 1 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNILLSE4[0]_LC_37)
set_location ppm_encoder1.PPM_STATE_RNO[0] 9 22 2 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE[0]_LC_38)
set_location ppm_encoder1.PPM_STATE[0] 9 22 2 # SB_DFFSS (LogicCell: ppm_encoder1.PPM_STATE[0]_LC_38)
set_location ppm_encoder1.PPM_STATE_RNO_0[0] 7 22 7 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNO_0[0]_LC_39)
set_location ppm_encoder1.PPM_STATE_RNO_0[1] 10 25 1 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNO_0[1]_LC_40)
set_location ppm_encoder1.PPM_STATE_RNO[1] 8 22 6 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE[1]_LC_41)
set_location ppm_encoder1.PPM_STATE[1] 8 22 6 # SB_DFF (LogicCell: ppm_encoder1.PPM_STATE[1]_LC_41)
set_location ppm_encoder1.PPM_STATE_RNO_1[0] 10 23 3 # SB_LUT4 (LogicCell: ppm_encoder1.PPM_STATE_RNO_1[0]_LC_42)
set_location ppm_encoder1.counter11_0_I_15_c_RNO 10 25 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_15_c_RNO_LC_43)
set_location ppm_encoder1.counter11_0_I_1_c_RNO 12 25 2 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_1_c_RNO_LC_44)
set_location ppm_encoder1.counter11_0_I_21_c_RNO 11 25 4 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_21_c_RNO_LC_45)
set_location ppm_encoder1.counter11_0_I_27_c_RNO 11 23 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_27_c_RNO_LC_46)
set_location ppm_encoder1.counter11_0_I_33_c_RNO 11 25 3 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_33_c_RNO_LC_47)
set_location ppm_encoder1.counter11_0_I_39_c_RNO 10 26 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_39_c_RNO_LC_48)
set_location ppm_encoder1.counter11_0_I_45_c_RNO 10 25 5 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_45_c_RNO_LC_49)
set_location ppm_encoder1.counter11_0_I_51_c_RNO 10 25 7 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_51_c_RNO_LC_50)
set_location ppm_encoder1.counter11_0_I_57_c_RNI6HID2 12 24 1 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_57_c_RNI6HID2_LC_51)
set_location ppm_encoder1.counter11_0_I_57_c_RNO 10 27 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_57_c_RNO_LC_52)
set_location ppm_encoder1.counter11_0_I_9_c_RNO 11 25 7 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_I_9_c_RNO_LC_53)
set_location ppm_encoder1.counter_RNI4452[17] 11 25 5 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNI4452[17]_LC_54)
set_location ppm_encoder1.counter_RNI44A4[18] 12 26 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNI44A4[18]_LC_55)
set_location ppm_encoder1.counter_RNIBI35[10] 12 26 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIBI35[10]_LC_56)
set_location ppm_encoder1.counter_RNIG8G3[11] 10 26 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIG8G3[11]_LC_57)
set_location ppm_encoder1.counter_RNIH9Q7[12] 11 25 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIH9Q7[12]_LC_58)
set_location ppm_encoder1.counter_RNIK97Q[5] 12 24 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIK97Q[5]_LC_59)
set_location ppm_encoder1.counter_RNIK9FB1[10] 12 24 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIK9FB1[10]_LC_60)
set_location ppm_encoder1.counter_RNIRQ42[14] 12 26 4 # SB_LUT4 (LogicCell: ppm_encoder1.counter_RNIRQ42[14]_LC_61)
set_location ppm_encoder1.counter_RNO[0] 11 26 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter[0]_LC_62)
set_location ppm_encoder1.counter[0] 11 26 0 # SB_DFFSR (LogicCell: ppm_encoder1.counter[0]_LC_62)
set_location ppm_encoder1.un1_counter_13_cry_0_c 11 26 0 # SB_CARRY (LogicCell: ppm_encoder1.counter[0]_LC_62)
set_location ppm_encoder1.counter_RNO[1] 11 26 1 # SB_LUT4 (LogicCell: ppm_encoder1.counter[1]_LC_63)
set_location ppm_encoder1.counter[1] 11 26 1 # SB_DFFSR (LogicCell: ppm_encoder1.counter[1]_LC_63)
set_location ppm_encoder1.un1_counter_13_cry_1_c 11 26 1 # SB_CARRY (LogicCell: ppm_encoder1.counter[1]_LC_63)
set_location ppm_encoder1.counter_RNO[10] 11 27 2 # SB_LUT4 (LogicCell: ppm_encoder1.counter[10]_LC_64)
set_location ppm_encoder1.counter[10] 11 27 2 # SB_DFFSR (LogicCell: ppm_encoder1.counter[10]_LC_64)
set_location ppm_encoder1.un1_counter_13_cry_10_c 11 27 2 # SB_CARRY (LogicCell: ppm_encoder1.counter[10]_LC_64)
set_location ppm_encoder1.counter_RNO[11] 11 27 3 # SB_LUT4 (LogicCell: ppm_encoder1.counter[11]_LC_65)
set_location ppm_encoder1.counter[11] 11 27 3 # SB_DFFSR (LogicCell: ppm_encoder1.counter[11]_LC_65)
set_location ppm_encoder1.un1_counter_13_cry_11_c 11 27 3 # SB_CARRY (LogicCell: ppm_encoder1.counter[11]_LC_65)
set_location ppm_encoder1.counter_RNO[12] 11 27 4 # SB_LUT4 (LogicCell: ppm_encoder1.counter[12]_LC_66)
set_location ppm_encoder1.counter[12] 11 27 4 # SB_DFFSR (LogicCell: ppm_encoder1.counter[12]_LC_66)
set_location ppm_encoder1.un1_counter_13_cry_12_c 11 27 4 # SB_CARRY (LogicCell: ppm_encoder1.counter[12]_LC_66)
set_location ppm_encoder1.counter_RNO[13] 11 27 5 # SB_LUT4 (LogicCell: ppm_encoder1.counter[13]_LC_67)
set_location ppm_encoder1.counter[13] 11 27 5 # SB_DFFSR (LogicCell: ppm_encoder1.counter[13]_LC_67)
set_location ppm_encoder1.un1_counter_13_cry_13_c 11 27 5 # SB_CARRY (LogicCell: ppm_encoder1.counter[13]_LC_67)
set_location ppm_encoder1.counter_RNO[14] 11 27 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter[14]_LC_68)
set_location ppm_encoder1.counter[14] 11 27 6 # SB_DFFSR (LogicCell: ppm_encoder1.counter[14]_LC_68)
set_location ppm_encoder1.un1_counter_13_cry_14_c 11 27 6 # SB_CARRY (LogicCell: ppm_encoder1.counter[14]_LC_68)
set_location ppm_encoder1.counter_RNO[15] 11 27 7 # SB_LUT4 (LogicCell: ppm_encoder1.counter[15]_LC_69)
set_location ppm_encoder1.counter[15] 11 27 7 # SB_DFFSR (LogicCell: ppm_encoder1.counter[15]_LC_69)
set_location ppm_encoder1.un1_counter_13_cry_15_c 11 27 7 # SB_CARRY (LogicCell: ppm_encoder1.counter[15]_LC_69)
set_location ppm_encoder1.counter_RNO[16] 11 28 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter[16]_LC_70)
set_location ppm_encoder1.counter[16] 11 28 0 # SB_DFFSR (LogicCell: ppm_encoder1.counter[16]_LC_70)
set_location ppm_encoder1.un1_counter_13_cry_16_c 11 28 0 # SB_CARRY (LogicCell: ppm_encoder1.counter[16]_LC_70)
set_location ppm_encoder1.counter_RNO[17] 11 28 1 # SB_LUT4 (LogicCell: ppm_encoder1.counter[17]_LC_71)
set_location ppm_encoder1.counter[17] 11 28 1 # SB_DFFSR (LogicCell: ppm_encoder1.counter[17]_LC_71)
set_location ppm_encoder1.un1_counter_13_cry_17_c 11 28 1 # SB_CARRY (LogicCell: ppm_encoder1.counter[17]_LC_71)
set_location ppm_encoder1.counter_RNO[18] 11 28 2 # SB_LUT4 (LogicCell: ppm_encoder1.counter[18]_LC_72)
set_location ppm_encoder1.counter[18] 11 28 2 # SB_DFFSR (LogicCell: ppm_encoder1.counter[18]_LC_72)
set_location ppm_encoder1.counter_RNO[2] 11 26 2 # SB_LUT4 (LogicCell: ppm_encoder1.counter[2]_LC_73)
set_location ppm_encoder1.counter[2] 11 26 2 # SB_DFFSR (LogicCell: ppm_encoder1.counter[2]_LC_73)
set_location ppm_encoder1.un1_counter_13_cry_2_c 11 26 2 # SB_CARRY (LogicCell: ppm_encoder1.counter[2]_LC_73)
set_location ppm_encoder1.counter_RNO[3] 11 26 3 # SB_LUT4 (LogicCell: ppm_encoder1.counter[3]_LC_74)
set_location ppm_encoder1.counter[3] 11 26 3 # SB_DFFSR (LogicCell: ppm_encoder1.counter[3]_LC_74)
set_location ppm_encoder1.un1_counter_13_cry_3_c 11 26 3 # SB_CARRY (LogicCell: ppm_encoder1.counter[3]_LC_74)
set_location ppm_encoder1.counter_RNO[4] 11 26 4 # SB_LUT4 (LogicCell: ppm_encoder1.counter[4]_LC_75)
set_location ppm_encoder1.counter[4] 11 26 4 # SB_DFFSR (LogicCell: ppm_encoder1.counter[4]_LC_75)
set_location ppm_encoder1.un1_counter_13_cry_4_c 11 26 4 # SB_CARRY (LogicCell: ppm_encoder1.counter[4]_LC_75)
set_location ppm_encoder1.counter_RNO[5] 11 26 5 # SB_LUT4 (LogicCell: ppm_encoder1.counter[5]_LC_76)
set_location ppm_encoder1.counter[5] 11 26 5 # SB_DFFSR (LogicCell: ppm_encoder1.counter[5]_LC_76)
set_location ppm_encoder1.un1_counter_13_cry_5_c 11 26 5 # SB_CARRY (LogicCell: ppm_encoder1.counter[5]_LC_76)
set_location ppm_encoder1.counter_RNO[6] 11 26 6 # SB_LUT4 (LogicCell: ppm_encoder1.counter[6]_LC_77)
set_location ppm_encoder1.counter[6] 11 26 6 # SB_DFFSR (LogicCell: ppm_encoder1.counter[6]_LC_77)
set_location ppm_encoder1.un1_counter_13_cry_6_c 11 26 6 # SB_CARRY (LogicCell: ppm_encoder1.counter[6]_LC_77)
set_location ppm_encoder1.counter_RNO[7] 11 26 7 # SB_LUT4 (LogicCell: ppm_encoder1.counter[7]_LC_78)
set_location ppm_encoder1.counter[7] 11 26 7 # SB_DFFSR (LogicCell: ppm_encoder1.counter[7]_LC_78)
set_location ppm_encoder1.un1_counter_13_cry_7_c 11 26 7 # SB_CARRY (LogicCell: ppm_encoder1.counter[7]_LC_78)
set_location ppm_encoder1.counter_RNO[8] 11 27 0 # SB_LUT4 (LogicCell: ppm_encoder1.counter[8]_LC_79)
set_location ppm_encoder1.counter[8] 11 27 0 # SB_DFFSR (LogicCell: ppm_encoder1.counter[8]_LC_79)
set_location ppm_encoder1.un1_counter_13_cry_8_c 11 27 0 # SB_CARRY (LogicCell: ppm_encoder1.counter[8]_LC_79)
set_location ppm_encoder1.counter_RNO[9] 11 27 1 # SB_LUT4 (LogicCell: ppm_encoder1.counter[9]_LC_80)
set_location ppm_encoder1.counter[9] 11 27 1 # SB_DFFSR (LogicCell: ppm_encoder1.counter[9]_LC_80)
set_location ppm_encoder1.un1_counter_13_cry_9_c 11 27 1 # SB_CARRY (LogicCell: ppm_encoder1.counter[9]_LC_80)
set_location ppm_encoder1.init_pulses_RNO[0] 9 23 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[0]_LC_81)
set_location ppm_encoder1.init_pulses[0] 9 23 2 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[0]_LC_81)
set_location ppm_encoder1.init_pulses_RNO_0[0] 8 23 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[0]_LC_82)
set_location ppm_encoder1.un1_init_pulses_cry_0_c 8 23 0 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[0]_LC_82)
set_location ppm_encoder1.init_pulses_RNO_0[1] 8 23 1 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[1]_LC_83)
set_location ppm_encoder1.un1_init_pulses_cry_1_c 8 23 1 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[1]_LC_83)
set_location ppm_encoder1.init_pulses_RNO_0[10] 8 24 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[10]_LC_84)
set_location ppm_encoder1.un1_init_pulses_cry_10_c 8 24 2 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[10]_LC_84)
set_location ppm_encoder1.init_pulses_RNO_0[11] 8 24 3 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[11]_LC_85)
set_location ppm_encoder1.un1_init_pulses_cry_11_c 8 24 3 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[11]_LC_85)
set_location ppm_encoder1.init_pulses_RNO_0[12] 8 24 4 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[12]_LC_86)
set_location ppm_encoder1.un1_init_pulses_cry_12_c 8 24 4 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[12]_LC_86)
set_location ppm_encoder1.init_pulses_RNO_0[13] 8 24 5 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[13]_LC_87)
set_location ppm_encoder1.un1_init_pulses_cry_13_0_c 8 24 5 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[13]_LC_87)
set_location ppm_encoder1.init_pulses_RNO_0[14] 8 24 6 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[14]_LC_88)
set_location ppm_encoder1.un1_init_pulses_cry_14_c 8 24 6 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[14]_LC_88)
set_location ppm_encoder1.init_pulses_RNO_0[15] 8 24 7 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[15]_LC_89)
set_location ppm_encoder1.un1_init_pulses_cry_15_c 8 24 7 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[15]_LC_89)
set_location ppm_encoder1.init_pulses_RNO_0[16] 8 25 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[16]_LC_90)
set_location ppm_encoder1.un1_init_pulses_cry_16_c 8 25 0 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[16]_LC_90)
set_location ppm_encoder1.init_pulses_RNO_0[17] 8 25 1 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[17]_LC_91)
set_location ppm_encoder1.un1_init_pulses_cry_17_c 8 25 1 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[17]_LC_91)
set_location ppm_encoder1.init_pulses_RNO_0[18] 8 25 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[18]_LC_92)
set_location ppm_encoder1.init_pulses_RNO_0[2] 8 23 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[2]_LC_93)
set_location ppm_encoder1.un1_init_pulses_cry_2_0_c 8 23 2 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[2]_LC_93)
set_location ppm_encoder1.init_pulses_RNO_0[3] 8 23 3 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[3]_LC_94)
set_location ppm_encoder1.un1_init_pulses_cry_3_c 8 23 3 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[3]_LC_94)
set_location ppm_encoder1.init_pulses_RNO_0[4] 8 23 4 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[4]_LC_95)
set_location ppm_encoder1.un1_init_pulses_cry_4_c 8 23 4 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[4]_LC_95)
set_location ppm_encoder1.init_pulses_RNO_0[5] 8 23 5 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[5]_LC_96)
set_location ppm_encoder1.un1_init_pulses_cry_5_c 8 23 5 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[5]_LC_96)
set_location ppm_encoder1.init_pulses_RNO_0[6] 8 23 6 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[6]_LC_97)
set_location ppm_encoder1.un1_init_pulses_cry_6_c 8 23 6 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[6]_LC_97)
set_location ppm_encoder1.init_pulses_RNO_0[7] 8 23 7 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[7]_LC_98)
set_location ppm_encoder1.un1_init_pulses_cry_7_c 8 23 7 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[7]_LC_98)
set_location ppm_encoder1.init_pulses_RNO_0[8] 8 24 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[8]_LC_99)
set_location ppm_encoder1.un1_init_pulses_cry_8_c 8 24 0 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[8]_LC_99)
set_location ppm_encoder1.init_pulses_RNO_0[9] 8 24 1 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses_RNO_0[9]_LC_100)
set_location ppm_encoder1.un1_init_pulses_cry_9_c 8 24 1 # SB_CARRY (LogicCell: ppm_encoder1.init_pulses_RNO_0[9]_LC_100)
set_location ppm_encoder1.init_pulses_RNO[1] 9 23 1 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[1]_LC_101)
set_location ppm_encoder1.init_pulses[1] 9 23 1 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[1]_LC_101)
set_location ppm_encoder1.init_pulses_RNO[10] 7 25 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[10]_LC_102)
set_location ppm_encoder1.init_pulses[10] 7 25 2 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[10]_LC_102)
set_location ppm_encoder1.init_pulses_RNO[11] 7 25 3 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[11]_LC_103)
set_location ppm_encoder1.init_pulses[11] 7 25 3 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[11]_LC_103)
set_location ppm_encoder1.init_pulses_RNO[12] 8 25 7 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[12]_LC_104)
set_location ppm_encoder1.init_pulses[12] 8 25 7 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[12]_LC_104)
set_location ppm_encoder1.init_pulses_RNO[13] 7 25 4 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[13]_LC_105)
set_location ppm_encoder1.init_pulses[13] 7 25 4 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[13]_LC_105)
set_location ppm_encoder1.init_pulses_RNO[14] 7 25 6 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[14]_LC_106)
set_location ppm_encoder1.init_pulses[14] 7 25 6 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[14]_LC_106)
set_location ppm_encoder1.init_pulses_RNO[15] 7 25 7 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[15]_LC_107)
set_location ppm_encoder1.init_pulses[15] 7 25 7 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[15]_LC_107)
set_location ppm_encoder1.init_pulses_RNO[16] 8 25 4 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[16]_LC_108)
set_location ppm_encoder1.init_pulses[16] 8 25 4 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[16]_LC_108)
set_location ppm_encoder1.init_pulses_RNO[17] 8 25 5 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[17]_LC_109)
set_location ppm_encoder1.init_pulses[17] 8 25 5 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[17]_LC_109)
set_location ppm_encoder1.init_pulses_RNO[18] 8 25 3 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[18]_LC_110)
set_location ppm_encoder1.init_pulses[18] 8 25 3 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[18]_LC_110)
set_location ppm_encoder1.init_pulses_RNO[2] 9 23 6 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[2]_LC_111)
set_location ppm_encoder1.init_pulses[2] 9 23 6 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[2]_LC_111)
set_location ppm_encoder1.init_pulses_RNO[3] 7 23 7 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[3]_LC_112)
set_location ppm_encoder1.init_pulses[3] 7 23 7 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[3]_LC_112)
set_location ppm_encoder1.init_pulses_RNO[4] 7 24 5 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[4]_LC_113)
set_location ppm_encoder1.init_pulses[4] 7 24 5 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[4]_LC_113)
set_location ppm_encoder1.init_pulses_RNO[5] 9 24 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[5]_LC_114)
set_location ppm_encoder1.init_pulses[5] 9 24 0 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[5]_LC_114)
set_location ppm_encoder1.init_pulses_RNO[6] 9 23 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[6]_LC_115)
set_location ppm_encoder1.init_pulses[6] 9 23 0 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[6]_LC_115)
set_location ppm_encoder1.init_pulses_RNO[7] 7 23 0 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[7]_LC_116)
set_location ppm_encoder1.init_pulses[7] 7 23 0 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[7]_LC_116)
set_location ppm_encoder1.init_pulses_RNO[8] 9 24 4 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[8]_LC_117)
set_location ppm_encoder1.init_pulses[8] 9 24 4 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[8]_LC_117)
set_location ppm_encoder1.init_pulses_RNO[9] 7 23 2 # SB_LUT4 (LogicCell: ppm_encoder1.init_pulses[9]_LC_118)
set_location ppm_encoder1.init_pulses[9] 7 23 2 # SB_DFF (LogicCell: ppm_encoder1.init_pulses[9]_LC_118)
set_location ppm_encoder1.ppm_output_reg_RNO 11 23 6 # SB_LUT4 (LogicCell: ppm_encoder1.ppm_output_reg_LC_119)
set_location ppm_encoder1.ppm_output_reg 11 23 6 # SB_DFF (LogicCell: ppm_encoder1.ppm_output_reg_LC_119)
set_location ppm_encoder1.pulses2count_RNO[0] 12 25 3 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[0]_LC_120)
set_location ppm_encoder1.pulses2count[0] 12 25 3 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[0]_LC_120)
set_location ppm_encoder1.pulses2count_RNO_0[11] 10 23 7 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count_RNO_0[11]_LC_121)
set_location ppm_encoder1.pulses2count_RNO[1] 12 25 1 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[1]_LC_122)
set_location ppm_encoder1.pulses2count[1] 12 25 1 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[1]_LC_122)
set_location ppm_encoder1.pulses2count_RNO[10] 10 24 0 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[10]_LC_123)
set_location ppm_encoder1.pulses2count[10] 10 24 0 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[10]_LC_123)
set_location ppm_encoder1.pulses2count_RNO[11] 10 24 7 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[11]_LC_124)
set_location ppm_encoder1.pulses2count[11] 10 24 7 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[11]_LC_124)
set_location ppm_encoder1.pulses2count_RNO[12] 10 26 1 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[12]_LC_125)
set_location ppm_encoder1.pulses2count[12] 10 26 1 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[12]_LC_125)
set_location ppm_encoder1.pulses2count_RNO[13] 9 25 0 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[13]_LC_126)
set_location ppm_encoder1.pulses2count[13] 9 25 0 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[13]_LC_126)
set_location ppm_encoder1.pulses2count_RNO[14] 10 24 3 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[14]_LC_127)
set_location ppm_encoder1.pulses2count[14] 10 24 3 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[14]_LC_127)
set_location ppm_encoder1.pulses2count_RNO[15] 9 25 2 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[15]_LC_128)
set_location ppm_encoder1.pulses2count[15] 9 25 2 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[15]_LC_128)
set_location ppm_encoder1.pulses2count_RNO[16] 9 26 5 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[16]_LC_129)
set_location ppm_encoder1.pulses2count[16] 9 26 5 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[16]_LC_129)
set_location ppm_encoder1.pulses2count_RNO[17] 9 25 7 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[17]_LC_130)
set_location ppm_encoder1.pulses2count[17] 9 25 7 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[17]_LC_130)
set_location ppm_encoder1.pulses2count_RNO[18] 9 26 3 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[18]_LC_131)
set_location ppm_encoder1.pulses2count[18] 9 26 3 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[18]_LC_131)
set_location ppm_encoder1.pulses2count_RNO[2] 10 24 6 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[2]_LC_132)
set_location ppm_encoder1.pulses2count[2] 10 24 6 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[2]_LC_132)
set_location ppm_encoder1.pulses2count_RNO[3] 10 24 4 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[3]_LC_133)
set_location ppm_encoder1.pulses2count[3] 10 24 4 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[3]_LC_133)
set_location ppm_encoder1.pulses2count_RNO[4] 9 25 6 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[4]_LC_134)
set_location ppm_encoder1.pulses2count[4] 9 25 6 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[4]_LC_134)
set_location ppm_encoder1.pulses2count_RNO[5] 9 25 3 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[5]_LC_135)
set_location ppm_encoder1.pulses2count[5] 9 25 3 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[5]_LC_135)
set_location ppm_encoder1.pulses2count_RNO[6] 10 24 1 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[6]_LC_136)
set_location ppm_encoder1.pulses2count[6] 10 24 1 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[6]_LC_136)
set_location ppm_encoder1.pulses2count_RNO[7] 10 24 2 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[7]_LC_137)
set_location ppm_encoder1.pulses2count[7] 10 24 2 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[7]_LC_137)
set_location ppm_encoder1.pulses2count_RNO[8] 10 22 6 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[8]_LC_138)
set_location ppm_encoder1.pulses2count[8] 10 22 6 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[8]_LC_138)
set_location ppm_encoder1.pulses2count_RNO[9] 10 22 5 # SB_LUT4 (LogicCell: ppm_encoder1.pulses2count[9]_LC_139)
set_location ppm_encoder1.pulses2count[9] 10 22 5 # SB_DFFE (LogicCell: ppm_encoder1.pulses2count[9]_LC_139)
set_location uart1.count_pulses_needed_RNO[0] 9 28 0 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[0]_LC_140)
set_location uart1.count_pulses_needed[0] 9 28 0 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[0]_LC_140)
set_location uart1.un1_count_pulses_needed_6_cry_0_c 9 28 0 # SB_CARRY (LogicCell: uart1.count_pulses_needed[0]_LC_140)
set_location uart1.count_pulses_needed_RNO[1] 9 28 1 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[1]_LC_141)
set_location uart1.count_pulses_needed[1] 9 28 1 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[1]_LC_141)
set_location uart1.un1_count_pulses_needed_6_cry_1_c 9 28 1 # SB_CARRY (LogicCell: uart1.count_pulses_needed[1]_LC_141)
set_location uart1.count_pulses_needed_RNO[2] 9 28 2 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[2]_LC_142)
set_location uart1.count_pulses_needed[2] 9 28 2 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[2]_LC_142)
set_location uart1.un1_count_pulses_needed_6_cry_2_c 9 28 2 # SB_CARRY (LogicCell: uart1.count_pulses_needed[2]_LC_142)
set_location uart1.count_pulses_needed_RNO[3] 9 28 3 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[3]_LC_143)
set_location uart1.count_pulses_needed[3] 9 28 3 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[3]_LC_143)
set_location uart1.un1_count_pulses_needed_6_cry_3_c 9 28 3 # SB_CARRY (LogicCell: uart1.count_pulses_needed[3]_LC_143)
set_location uart1.count_pulses_needed_RNO[4] 9 28 4 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[4]_LC_144)
set_location uart1.count_pulses_needed[4] 9 28 4 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[4]_LC_144)
set_location uart1.un1_count_pulses_needed_6_cry_4_c 9 28 4 # SB_CARRY (LogicCell: uart1.count_pulses_needed[4]_LC_144)
set_location uart1.count_pulses_needed_RNO[5] 9 28 5 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[5]_LC_145)
set_location uart1.count_pulses_needed[5] 9 28 5 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[5]_LC_145)
set_location uart1.un1_count_pulses_needed_6_cry_5_c 9 28 5 # SB_CARRY (LogicCell: uart1.count_pulses_needed[5]_LC_145)
set_location uart1.count_pulses_needed_RNO[6] 9 28 6 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[6]_LC_146)
set_location uart1.count_pulses_needed[6] 9 28 6 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[6]_LC_146)
set_location uart1.un1_count_pulses_needed_6_cry_6_c 9 28 6 # SB_CARRY (LogicCell: uart1.count_pulses_needed[6]_LC_146)
set_location uart1.count_pulses_needed_RNO[7] 9 28 7 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[7]_LC_147)
set_location uart1.count_pulses_needed[7] 9 28 7 # SB_DFFSR (LogicCell: uart1.count_pulses_needed[7]_LC_147)
set_location uart1.un1_count_pulses_needed_6_cry_7_c 9 28 7 # SB_CARRY (LogicCell: uart1.count_pulses_needed[7]_LC_147)
set_location uart1.count_pulses_needed_RNO[8] 9 29 0 # SB_LUT4 (LogicCell: uart1.count_pulses_needed[8]_LC_148)
set_location uart1.count_pulses_needed[8] 9 29 0 # SB_DFF (LogicCell: uart1.count_pulses_needed[8]_LC_148)
set_location uart1.data_rdy_reg_RNO 12 29 5 # SB_LUT4 (LogicCell: uart1.data_rdy_reg_LC_149)
set_location uart1.data_rdy_reg 12 29 5 # SB_DFF (LogicCell: uart1.data_rdy_reg_LC_149)
set_location uart1.data_reg_RNO[0] 11 29 0 # SB_LUT4 (LogicCell: uart1.data_reg[0]_LC_150)
set_location uart1.data_reg[0] 11 29 0 # SB_DFFSR (LogicCell: uart1.data_reg[0]_LC_150)
set_location uart1.data_reg_RNO[1] 11 29 3 # SB_LUT4 (LogicCell: uart1.data_reg[1]_LC_151)
set_location uart1.data_reg[1] 11 29 3 # SB_DFFSR (LogicCell: uart1.data_reg[1]_LC_151)
set_location uart1.data_reg_RNO[2] 11 29 6 # SB_LUT4 (LogicCell: uart1.data_reg[2]_LC_152)
set_location uart1.data_reg[2] 11 29 6 # SB_DFFSR (LogicCell: uart1.data_reg[2]_LC_152)
set_location uart1.data_reg_RNO[3] 11 29 4 # SB_LUT4 (LogicCell: uart1.data_reg[3]_LC_153)
set_location uart1.data_reg[3] 11 29 4 # SB_DFFSR (LogicCell: uart1.data_reg[3]_LC_153)
set_location uart1.data_reg_RNO[4] 11 29 2 # SB_LUT4 (LogicCell: uart1.data_reg[4]_LC_154)
set_location uart1.data_reg[4] 11 29 2 # SB_DFFSR (LogicCell: uart1.data_reg[4]_LC_154)
set_location uart1.data_reg_RNO[5] 11 29 5 # SB_LUT4 (LogicCell: uart1.data_reg[5]_LC_155)
set_location uart1.data_reg[5] 11 29 5 # SB_DFFSR (LogicCell: uart1.data_reg[5]_LC_155)
set_location uart1.data_reg_RNO[6] 11 29 1 # SB_LUT4 (LogicCell: uart1.data_reg[6]_LC_156)
set_location uart1.data_reg[6] 11 29 1 # SB_DFFSR (LogicCell: uart1.data_reg[6]_LC_156)
set_location uart1.data_reg_RNO[7] 11 29 7 # SB_LUT4 (LogicCell: uart1.data_reg[7]_LC_157)
set_location uart1.data_reg[7] 11 29 7 # SB_DFFSR (LogicCell: uart1.data_reg[7]_LC_157)
set_location uart1.flag_reg_RNO 12 28 6 # SB_LUT4 (LogicCell: uart1.flag_reg_LC_158)
set_location uart1.flag_reg 12 28 6 # SB_DFF (LogicCell: uart1.flag_reg_LC_158)
set_location uart1.flag_reg_RNO_0 12 28 5 # SB_LUT4 (LogicCell: uart1.flag_reg_RNO_0_LC_159)
set_location uart1.position_RNI5N4Q3[1] 12 27 4 # SB_LUT4 (LogicCell: uart1.position_RNI5N4Q3[1]_LC_160)
set_location uart1.position_RNIFHNB3[3] 10 28 0 # SB_LUT4 (LogicCell: uart1.position_RNIFHNB3[3]_LC_161)
set_location uart1.position_RNO[0] 12 27 6 # SB_LUT4 (LogicCell: uart1.position[0]_LC_162)
set_location uart1.position[0] 12 27 6 # SB_DFF (LogicCell: uart1.position[0]_LC_162)
set_location uart1.position_RNO_0[1] 12 27 1 # SB_LUT4 (LogicCell: uart1.position_RNO_0[1]_LC_163)
set_location uart1.position_RNO[1] 12 27 2 # SB_LUT4 (LogicCell: uart1.position[1]_LC_164)
set_location uart1.position[1] 12 27 2 # SB_DFF (LogicCell: uart1.position[1]_LC_164)
set_location uart1.position_RNO[2] 12 27 3 # SB_LUT4 (LogicCell: uart1.position[2]_LC_165)
set_location uart1.position[2] 12 27 3 # SB_DFF (LogicCell: uart1.position[2]_LC_165)
set_location uart1.position_RNO[3] 12 27 5 # SB_LUT4 (LogicCell: uart1.position[3]_LC_166)
set_location uart1.position[3] 12 27 5 # SB_DFF (LogicCell: uart1.position[3]_LC_166)
set_location uart1.state_bus_14_1_0_.N_7_i 12 28 7 # SB_LUT4 (LogicCell: uart1.state_bus[1]_LC_167)
set_location uart1.state_bus[1] 12 28 7 # SB_DFF (LogicCell: uart1.state_bus[1]_LC_167)
set_location uart1.state_bus_14_1_0_.N_9_i 12 28 2 # SB_LUT4 (LogicCell: uart1.state_bus[0]_LC_168)
set_location uart1.state_bus[0] 12 28 2 # SB_DFF (LogicCell: uart1.state_bus[0]_LC_168)
set_location uart1.state_bus_14_1_0_.N_9_i_N_2L1 12 28 1 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.N_9_i_N_2L1_LC_169)
set_location uart1.state_bus_14_1_0_.m9_i_o2 10 28 4 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_LC_170)
set_location uart1.state_bus_14_1_0_.m9_i_o2_0_2 10 28 5 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_0_2_LC_171)
set_location uart1.state_bus_14_1_0_.m9_i_o2_0_3 10 28 2 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_0_3_LC_172)
set_location uart1.state_bus_14_1_0_.m9_i_o2_1 10 28 6 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_1_LC_173)
set_location uart1.state_bus_14_1_0_.m9_i_o2_1_0 10 28 3 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_1_0_LC_174)
set_location uart1.state_bus_14_1_0_.m9_i_o2_1_2 10 28 1 # SB_LUT4 (LogicCell: uart1.state_bus_14_1_0_.m9_i_o2_1_2_LC_175)
set_location uart1.state_bus_RNI9EKQ5[1] 10 28 7 # SB_LUT4 (LogicCell: uart1.state_bus_RNI9EKQ5[1]_LC_176)
set_location uart1.state_bus_RNIR5T6_0[1] 12 28 3 # SB_LUT4 (LogicCell: uart1.state_bus_RNIR5T6_0[1]_LC_177)
set_location uart1.state_bus_RNIR5T6[1] 12 29 0 # SB_LUT4 (LogicCell: uart1.state_bus_RNIR5T6[1]_LC_178)
set_location uart1.state_bus_RNIR5T6_1[1] 12 28 4 # SB_LUT4 (LogicCell: uart1.state_bus_RNIR5T6_1[1]_LC_179)
set_location KeyPress1.source_data_ready_reg_4_i_0_a3_KeyPress1.source_data_ready_reg_REP_LUT4_0 12 30 4 # SB_LUT4 (LogicCell: KeyPress1.source_data_ready_reg_LC_180)
set_location KeyPress1.source_data_ready_reg 12 30 4 # SB_DFF (LogicCell: KeyPress1.source_data_ready_reg_LC_180)
set_location ppm_encoder1.counter11_0_N_2_THRU_LUT4_0 11 25 2 # SB_LUT4 (LogicCell: ppm_encoder1.counter11_0_N_2_THRU_LUT4_0_LC_181)
set_location ppm_encoder1.counter11_0_I_15_c 11 24 2 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_15_c_LC_182)
set_location ppm_encoder1.counter11_0_I_1_c 11 24 0 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_1_c_LC_183)
set_location ppm_encoder1.counter11_0_I_21_c 11 24 3 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_21_c_LC_184)
set_location ppm_encoder1.counter11_0_I_27_c 11 24 4 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_27_c_LC_185)
set_location ppm_encoder1.counter11_0_I_33_c 11 24 5 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_33_c_LC_186)
set_location ppm_encoder1.counter11_0_I_39_c 11 24 6 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_39_c_LC_187)
set_location ppm_encoder1.counter11_0_I_45_c 11 24 7 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_45_c_LC_188)
set_location ppm_encoder1.counter11_0_I_51_c 11 25 0 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_51_c_LC_189)
set_location ppm_encoder1.counter11_0_I_57_c 11 25 1 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_57_c_LC_190)
set_location ppm_encoder1.counter11_0_I_9_c 11 24 1 # SB_CARRY (LogicCell: ppm_encoder1.counter11_0_I_9_c_LC_191)
set_location GND -1 -1 -1 # GND
set_io clk_system_ibuf_gb_io 12 31 1 # ICE_GB_IO
set_io data_debug_obuf 13 31 0 # ICE_IO
set_io debug_obuft 24 0 1 # ICE_IO
set_io led_obuf 18 0 0 # ICE_IO
set_io ppm_encoder1.CHOOSE_CHANNEL_RNIN2AA1_1[3] 12 0 1 # ICE_GB
set_io ppm_encoder1.counter11_0_I_57_c_RNI6HID2_0 12 31 1 # ICE_GB
set_io ppm_output_obuf 13 31 1 # ICE_IO
set_io reset_system_ibuf 9 31 0 # ICE_IO
set_io s1_ibuf 19 31 0 # ICE_IO
set_io sdin_ibuf 19 31 1 # ICE_IO
set_io source_data_obuf[0] 9 31 1 # ICE_IO
set_io source_data_obuf[1] 8 31 0 # ICE_IO
set_io source_data_obuf[2] 8 31 1 # ICE_IO
set_io source_data_rdy_obuf 16 31 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 9 24 7 # SB_LUT4 (LogicCell: LC_192)
