<?xml version="1.0"?>

<model>

  <name>diffdrive</name>

  <version>1.0</version>

  <sdf version='1.4'>model.sdf</sdf>

  <author>

    <name>Richard A. Nicklas</name>

    <email>ranicklas@gmail.com</email>

  </author>

  <description>

    A differential drive robot with ROS control plugin and Camera

  </description>

</model>
