//! **************************************************************************
// Written by: Map P.49d on Wed Mar 27 17:50:54 2019
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

