set_location IN_MUX_bfv_11_1_0_ 11 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_5_0_ 10 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_1_0_ 8 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_2_0_ 8 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_3_0_ 8 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_2_0_ 12 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_3_0_ 12 3 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 10 1 3 #SB_LUT4
set_location uart_frame_decoder.count8_THRU_LUT4_0 11 1 3 #SB_LUT4
set_location uart_sync.aux_3__0__0_THRU_LUT4_0 7 2 5 #SB_LUT4
set_location uart_sync.aux_2__0__0_THRU_LUT4_0 7 2 0 #SB_LUT4
set_location uart_sync.aux_1__0__0_THRU_LUT4_0 7 2 4 #SB_LUT4
set_location uart_sync.aux_0__0__0_THRU_LUT4_0 7 2 1 #SB_LUT4
set_location uart_sync.Q_0__0_THRU_LUT4_0 7 2 2 #SB_LUT4
set_location uart.data_esr_7_THRU_LUT4_0 9 3 7 #SB_LUT4
set_location uart.data_esr_6_THRU_LUT4_0 11 5 7 #SB_LUT4
set_location uart.data_esr_5_THRU_LUT4_0 9 3 5 #SB_LUT4
set_location uart.data_esr_4_THRU_LUT4_0 11 5 3 #SB_LUT4
set_location uart.data_esr_3_THRU_LUT4_0 9 3 3 #SB_LUT4
set_location uart.data_esr_2_THRU_LUT4_0 9 3 2 #SB_LUT4
set_location uart.data_esr_1_THRU_LUT4_0 11 5 2 #SB_LUT4
set_location uart.data_esr_0_THRU_LUT4_0 9 3 0 #SB_LUT4
set_location uart_frame_decoder.state_1[7] 12 4 5 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNIQAB11[4] 11 2 4 #SB_LUT4
set_location reset_module_System.count_RNI53692[14] 9 2 3 #SB_LUT4
set_location reset_module_System.count[14] 8 2 5 #SB_DFF
set_location uart.timer_Count_RNO[4] 10 5 3 #SB_LUT4
set_location uart_frame_decoder.source_data_valid_RNO 7 1 2 #SB_LUT4
set_location uart_frame_decoder.WDT[10] 12 3 2 #SB_DFFSR
set_location reset_module_System.reset_iso_RNO 9 1 4 #SB_LUT4
set_location reset_module_System.count_RNO[0] 9 1 0 #SB_LUT4
set_location reset_module_System.count_1_cry_14_c 8 2 5 #SB_CARRY
set_location uart_frame_decoder.WDT[1] 12 2 1 #SB_DFFSR
set_location uart.state_RNO_2[3] 9 5 7 #SB_LUT4
set_location reset_module_System.count_RNO[15] 8 2 6 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[1] 11 4 1 #SB_LUT4
set_location uart_frame_decoder.state_1_RNIHVTG[6] 13 4 5 #SB_LUT4
set_location uart.data_esr[6] 11 5 7 #SB_DFFESR
set_location uart.data_Aux_RNO[1] 8 4 4 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[6] 12 2 6 #SB_LUT4
set_location uart.timer_Count[2] 10 5 1 #SB_DFFSR
set_location uart.data_Aux[3] 8 4 6 #SB_DFFSR
set_location reset_module_System.count_RNI34OR1[21] 7 2 7 #SB_LUT4
set_location uart_frame_decoder.count_RNO[1] 10 1 6 #SB_LUT4
set_location uart.state_RNICNUO5[4] 10 4 7 #SB_LUT4
set_location uart.data_Aux_RNO_0[4] 8 5 1 #SB_LUT4
set_location uart_frame_decoder.WDT_RNIEKPB[11] 11 2 2 #SB_LUT4
set_location reset_module_System.count[21] 8 3 4 #SB_DFF
set_location reset_module_System.count_1_cry_5_c 8 1 4 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_14_c 12 3 6 #SB_CARRY
set_location reset_module_System.count[17] 8 3 0 #SB_DFF
set_location uart_frame_decoder.source_data_valid 7 1 2 #SB_DFFSR
set_location uart.timer_Count_RNO[1] 11 3 1 #SB_LUT4
set_location uart.data_rdy_RNO 10 3 3 #SB_LUT4
set_location uart_frame_decoder.WDT[15] 12 3 7 #SB_DFFSR
set_location uart.un4_timer_Count_1_cry_3_c 10 5 2 #SB_CARRY
set_location reset_module_System.count_RNO[5] 8 1 4 #SB_LUT4
set_location reset_module_System.count_1_cry_20_c 8 3 3 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_0[0] 11 3 6 #SB_LUT4
set_location uart_frame_decoder.WDT[4] 12 2 4 #SB_DFFSR
set_location uart.timer_Count_RNI22NA1[6] 9 4 0 #SB_LUT4
set_location reset_module_System.count_RNO[10] 8 2 1 #SB_LUT4
set_location reset_module_System.count_1_cry_7_c 8 1 6 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[4] 12 4 2 #SB_LUT4
set_location reset_module_System.count_RNIP8RT[10] 9 2 2 #SB_LUT4
set_location reset_module_System.count_1_cry_8_c 8 1 7 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_9_c 12 3 1 #SB_CARRY
set_location uart.state_RNIDV3Q2[4] 10 4 4 #SB_LUT4
set_location uart.data_esr[3] 9 3 3 #SB_DFFESR
set_location reset_module_System.count_RNO[2] 9 1 7 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_1_c 12 2 1 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_11_c 12 3 3 #SB_CARRY
set_location uart_frame_decoder.WDT_RNO[14] 12 3 6 #SB_LUT4
set_location uart_frame_decoder.WDT[3] 12 2 3 #SB_DFFSR
set_location uart.data_Aux_RNO[2] 7 3 4 #SB_LUT4
set_location reset_module_System.count_RNO[17] 8 3 0 #SB_LUT4
set_location reset_module_System.count[0] 9 1 0 #SB_DFF
set_location uart_frame_decoder.count8_cry_2_c_RNICKS21 11 1 4 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[9] 12 3 1 #SB_LUT4
set_location uart.data_Aux[0] 8 4 3 #SB_DFFSR
set_location reset_module_System.count_1_cry_15_c 8 2 6 #SB_CARRY
set_location uart_frame_decoder.state_1_RNI3NAA1[3] 13 4 4 #SB_LUT4
set_location uart.state_RNO[2] 9 5 5 #SB_LUT4
set_location reset_module_System.count_1_cry_18_c 8 3 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNI5BVV[1] 10 3 1 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[11] 12 3 3 #SB_LUT4
set_location uart.data_Aux_RNO[7] 7 3 2 #SB_LUT4
set_location reset_module_System.count[18] 8 3 1 #SB_DFF
set_location uart_frame_decoder.un1_WDT_cry_3_c 12 2 3 #SB_CARRY
set_location uart_frame_decoder.count8_cry_2_c_inv 11 1 2 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[4] 12 2 4 #SB_LUT4
set_location uart.un4_timer_Count_1_cry_6_c 10 5 5 #SB_CARRY
set_location uart.timer_Count[0] 11 3 7 #SB_DFFSR
set_location uart.state_RNO_0[2] 9 5 4 #SB_LUT4
set_location reset_module_System.count_1_cry_2_c 8 1 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO_2[0] 11 2 7 #SB_LUT4
set_location uart_frame_decoder.state_1[9] 12 4 7 #SB_DFFSR
set_location uart.state_RNIAFHL[4] 9 5 3 #SB_LUT4
set_location reset_module_System.count_RNI9O1P[2] 9 1 3 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_4_c 12 2 4 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_12_c 12 3 4 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[10] 12 4 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNICQTG[7] 13 4 3 #SB_LUT4
set_location uart_frame_decoder.count8_cry_1_c 11 1 1 #SB_CARRY
set_location uart.data_Aux_RNO_0[2] 8 5 4 #SB_LUT4
set_location reset_module_System.count_RNO[20] 8 3 3 #SB_LUT4
set_location reset_module_System.count_1_cry_16_c 8 2 7 #SB_CARRY
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_4[1] 10 3 6 #SB_LUT4
set_location uart.timer_Count[5] 10 5 4 #SB_DFFSR
set_location uart_frame_decoder.state_1[4] 12 4 2 #SB_DFFSR
set_location reset_module_System.count[15] 8 2 6 #SB_DFF
set_location uart_frame_decoder.un1_WDT_cry_5_c 12 2 5 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[7] 12 4 5 #SB_LUT4
set_location uart_frame_decoder.count_RNIHPR51[2] 11 1 6 #SB_LUT4
set_location uart.timer_Count_RNO[3] 10 5 2 #SB_LUT4
set_location uart_frame_decoder.count[2] 10 1 4 #SB_DFF
set_location uart_frame_decoder.WDT[13] 12 3 5 #SB_DFFSR
set_location uart.data_esr[0] 9 3 0 #SB_DFFESR
set_location reset_module_System.count_RNO[7] 8 1 6 #SB_LUT4
set_location uart_frame_decoder.state_1[3] 12 4 1 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNIKVEI2[14] 11 3 4 #SB_LUT4
set_location uart_frame_decoder.WDT[6] 12 2 6 #SB_DFFSR
set_location uart.un4_timer_Count_1_cry_5_c 10 5 4 #SB_CARRY
set_location uart.bit_Count[2] 7 4 7 #SB_DFFSR
set_location reset_module_System.count_RNO[12] 8 2 3 #SB_LUT4
set_location reset_module_System.count_RNI97FD[5] 9 1 5 #SB_LUT4
set_location reset_module_System.count[5] 8 1 4 #SB_DFF
set_location reset_module_System.count[10] 8 2 1 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[2] 11 4 2 #SB_LUT4
set_location uart.un4_timer_Count_1_cry_2_c 10 5 1 #SB_CARRY
set_location uart.data_Aux[5] 7 3 1 #SB_DFFSR
set_location reset_module_System.count_RNO_0[2] 8 1 1 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_7_c 12 2 7 #SB_CARRY
set_location uart_frame_decoder.count8_cry_1_c_inv 11 1 1 #SB_LUT4
set_location uart_frame_decoder.WDT_RNIGSL62[15] 11 2 1 #SB_LUT4
set_location uart.state_RNO_1[3] 9 2 5 #SB_LUT4
set_location uart.data_esr[5] 9 3 5 #SB_DFFESR
set_location reset_module_System.count_1_cry_13_c 8 2 4 #SB_CARRY
set_location uart.data_Aux_RNO[0] 8 4 3 #SB_LUT4
set_location reset_module_System.count_RNO[19] 8 3 2 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_8_c 12 3 0 #SB_CARRY
set_location uart_frame_decoder.source_data_valid_2_sqmuxa_i 13 3 6 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[7] 12 2 7 #SB_LUT4
set_location uart_frame_decoder.WDT_RNI85RG2[14] 11 3 5 #SB_LUT4
set_location uart.data_Aux[2] 7 3 4 #SB_DFFSR
set_location uart_frame_decoder.un1_WDT_cry_0_c 12 2 0 #SB_CARRY
set_location uart_frame_decoder.count8_cry_0_c_inv 11 1 7 #SB_LUT4
set_location uart.state_RNO[4] 9 4 6 #SB_LUT4
set_location reset_module_System.count_RNO[9] 8 2 0 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[13] 12 3 5 #SB_LUT4
set_location uart_frame_decoder.WDT_RNISS5H[11] 11 3 2 #SB_LUT4
set_location uart.timer_Count_RNILKMA1[0] 8 4 1 #SB_LUT4
set_location uart.data_Aux_RNO[5] 7 3 1 #SB_LUT4
set_location uart.data_Aux_RNO_0[5] 8 3 6 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[2] 12 2 2 #SB_LUT4
set_location uart.timer_Count[6] 10 5 5 #SB_DFFSR
set_location uart.state_RNO_0[4] 9 4 5 #SB_LUT4
set_location reset_module_System.count[20] 8 3 3 #SB_DFF
set_location reset_module_System.count_1_cry_19_c 8 3 2 #SB_CARRY
set_location uart.state[3] 9 2 7 #SB_DFF
set_location uart_frame_decoder.un1_WDT_cry_2_c 12 2 2 #SB_CARRY
set_location uart_frame_decoder.count_RNIV5MS[0] 10 1 5 #SB_LUT4
set_location uart.un4_timer_Count_1_cry_1_c 10 5 0 #SB_CARRY
set_location uart.timer_Count_RNO[0] 11 3 7 #SB_LUT4
set_location uart.data_Aux_RNO_0[0] 8 5 2 #SB_LUT4
set_location reset_module_System.count_1_cry_10_c 8 2 1 #SB_CARRY
set_location uart_sync.aux_0__0_[0] 7 2 1 #SB_DFF
set_location uart_frame_decoder.state_1_RNO_3[0] 10 3 2 #SB_LUT4
set_location uart_frame_decoder.WDT[14] 12 3 6 #SB_DFFSR
set_location reset_module_System.count_RNO[4] 8 1 3 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_13_c 12 3 5 #SB_CARRY
set_location uart_frame_decoder.state_1_RNILEPU1[10] 11 2 6 #SB_LUT4
set_location uart_frame_decoder.state_1[6] 12 4 4 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNIRBB11[4] 11 2 3 #SB_LUT4
set_location uart_frame_decoder.WDT[5] 12 2 5 #SB_DFFSR
set_location uart.state[4] 9 4 6 #SB_DFF
set_location reset_module_System.count_RNO[11] 8 2 2 #SB_LUT4
set_location reset_module_System.count[6] 8 1 5 #SB_DFF
set_location reset_module_System.count_1_cry_17_c 8 3 0 #SB_CARRY
set_location reset_module_System.count[13] 8 2 4 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[5] 12 4 3 #SB_LUT4
set_location uart_frame_decoder.state_1_RNI8L5O[8] 13 4 1 #SB_LUT4
set_location uart.timer_Count_RNO[5] 10 5 4 #SB_LUT4
set_location uart.timer_Count_RNIMLMA1[1] 10 4 3 #SB_LUT4
set_location reset_module_System.count_RNO_0[1] 5 1 2 #SB_LUT4
set_location uart_frame_decoder.count[0] 11 1 5 #SB_DFF
set_location uart_frame_decoder.WDT[11] 12 3 3 #SB_DFFSR
set_location uart.state_RNO_1[0] 10 1 0 #SB_LUT4
set_location uart.data_esr[2] 9 3 2 #SB_DFFESR
set_location uart.bit_Count_RNIETHE[2] 8 3 5 #SB_LUT4
set_location reset_module_System.count_RNO[1] 9 1 6 #SB_LUT4
set_location uart_frame_decoder.WDT[0] 12 2 0 #SB_DFFSR
set_location reset_module_System.count_RNO[14] 8 2 5 #SB_LUT4
set_location reset_module_System.count[3] 8 1 2 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[0] 10 2 6 #SB_LUT4
set_location uart.data_Aux[7] 7 3 2 #SB_DFFSR
set_location uart.timer_Count_RNI9M0N[1] 8 3 7 #SB_LUT4
set_location uart.state_RNO[1] 9 4 3 #SB_LUT4
set_location uart.data_esr[7] 9 3 7 #SB_DFFESR
set_location uart_frame_decoder.un1_WDT_cry_10_c 12 3 2 #SB_CARRY
set_location uart_frame_decoder.WDT_RNO[10] 12 3 2 #SB_LUT4
set_location uart.timer_Count_RNI1HBL[6] 9 4 2 #SB_LUT4
set_location uart.state_RNIMO1Q[4] 9 4 4 #SB_LUT4
set_location uart.data_Aux_RNO[6] 7 5 1 #SB_LUT4
set_location reset_module_System.count[19] 8 3 2 #SB_DFF
set_location uart_frame_decoder.WDT_RNO[5] 12 2 5 #SB_LUT4
set_location uart.timer_Count[3] 10 5 2 #SB_DFFSR
set_location uart.state_RNO_0[3] 9 2 6 #SB_LUT4
set_location uart_frame_decoder.state_1_ns_0_i_a2_1_0[2] 10 3 4 #SB_LUT4
set_location uart_frame_decoder.count8_cry_2_c 11 1 2 #SB_CARRY
set_location uart_frame_decoder.state_1_ns_0_i_a2_1[2] 10 3 5 #SB_LUT4
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_0_1[2] 10 3 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNID8391[2] 13 4 6 #SB_LUT4
set_location uart_frame_decoder.count_RNO[0] 11 1 5 #SB_LUT4
set_location uart.data_Aux_RNO_0[3] 8 5 6 #SB_LUT4
set_location reset_module_System.count_RNI10J41[1] 9 1 1 #SB_LUT4
set_location reset_module_System.count[9] 8 2 0 #SB_DFF
set_location uart_frame_decoder.WDT_RNO[0] 12 2 0 #SB_LUT4
set_location uart.timer_Count[4] 10 5 3 #SB_DFFSR
set_location reset_module_System.count_1_cry_6_c 8 1 5 #SB_CARRY
set_location uart_frame_decoder.state_1_RNIMBMF[1] 10 2 4 #SB_LUT4
set_location uart_frame_decoder.state_1[5] 12 4 3 #SB_DFFSR
set_location uart_frame_decoder.WDT[8] 12 3 0 #SB_DFFSR
set_location uart.state_RNIGITG2[4] 10 4 6 #SB_LUT4
set_location uart.state[1] 9 4 3 #SB_DFF
set_location reset_module_System.count[16] 8 2 7 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[8] 12 4 6 #SB_LUT4
set_location uart_frame_decoder.count8_cry_0_c 11 1 0 #SB_CARRY
set_location uart.timer_Count_RNO[2] 10 5 1 #SB_LUT4
set_location uart.bit_Count_RNO[1] 7 4 4 #SB_LUT4
set_location uart_frame_decoder.WDT[12] 12 3 4 #SB_DFFSR
set_location reset_module_System.count_RNO[6] 8 1 5 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_0[1] 10 3 7 #SB_LUT4
set_location uart_frame_decoder.state_1[0] 10 2 6 #SB_DFFSS
set_location uart_frame_decoder.WDT[7] 12 2 7 #SB_DFFSR
set_location uart.state_RNI4ENK[3] 7 4 3 #SB_LUT4
set_location uart.bit_Count[1] 7 4 4 #SB_DFFSR
set_location reset_module_System.count_RNO[13] 8 2 4 #SB_LUT4
set_location reset_module_System.count[4] 8 1 3 #SB_DFF
set_location reset_module_System.count[11] 8 2 2 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[3] 12 4 1 #SB_LUT4
set_location uart.timer_Count_RNO[7] 10 5 6 #SB_LUT4
set_location uart.data_Aux[4] 8 4 7 #SB_DFFSR
set_location uart.bit_Count_RNO_0[2] 7 5 3 #SB_LUT4
set_location uart.data_esr[4] 11 5 3 #SB_DFFESR
set_location reset_module_System.count_RNO[3] 8 1 2 #SB_LUT4
set_location uart_sync.aux_3__0_[0] 7 2 5 #SB_DFF
set_location uart_frame_decoder.state_1_RNO_1[0] 10 2 5 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[15] 12 3 7 #SB_LUT4
set_location uart_frame_decoder.WDT[2] 12 2 2 #SB_DFFSR
set_location uart.timer_Count_RNIS4183[7] 10 4 1 #SB_LUT4
set_location uart.data_rdy 10 3 3 #SB_DFF
set_location uart.data_Aux_RNO[3] 8 4 6 #SB_LUT4
set_location reset_module_System.count_RNO[16] 8 2 7 #SB_LUT4
set_location reset_module_System.count[1] 9 1 6 #SB_DFF
set_location uart_frame_decoder.WDT_RNO[8] 12 3 0 #SB_LUT4
set_location uart.data_Aux[1] 8 4 4 #SB_DFFSR
set_location reset_module_System.reset_iso 9 1 4 #SB_DFF
set_location reset_module_System.reset 9 1 2 #SB_DFF
set_location uart_frame_decoder.state_1[10] 12 4 0 #SB_DFFSR
set_location uart.timer_Count_RNIT4OA2[2] 9 4 1 #SB_LUT4
set_location uart.state_RNO[3] 9 2 7 #SB_LUT4
set_location reset_module_System.reset_RNO 9 1 2 #SB_LUT4
set_location reset_module_System.count_RNO[8] 8 1 7 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[12] 12 3 4 #SB_LUT4
set_location uart.data_Aux_RNO[4] 8 4 7 #SB_LUT4
set_location uart.data_Aux_RNO_0[6] 7 5 0 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[3] 12 2 3 #SB_LUT4
set_location uart.timer_Count[1] 11 3 1 #SB_DFFSR
set_location uart_frame_decoder.state_1[8] 12 4 6 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNIOAVK1[5] 11 2 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uart.state[2] 9 5 5 #SB_DFF
set_location uart_sync.Q_0_[0] 7 2 2 #SB_DFF
set_location uart_frame_decoder.count_RNO[2] 10 1 4 #SB_LUT4
set_location uart.data_Aux_RNO_0[1] 8 5 3 #SB_LUT4
set_location uart.bit_Count_RNO[2] 7 4 7 #SB_LUT4
set_location reset_module_System.count_RNO[21] 8 3 4 #SB_LUT4
set_location uart_sync.aux_2__0_[0] 7 2 0 #SB_DFF
set_location uart.un4_timer_Count_1_cry_4_c 10 5 3 #SB_CARRY
set_location uart.state_RNILC8T2[3] 8 4 2 #SB_LUT4
set_location uart.state_RNIB0BC[2] 9 4 7 #SB_LUT4
set_location reset_module_System.count_1_cry_9_c 8 2 0 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[6] 12 4 4 #SB_LUT4
set_location reset_module_System.count_RNIN3HK3[12] 9 2 4 #SB_LUT4
set_location reset_module_System.count_1_cry_1_c 8 1 0 #SB_CARRY
set_location uart_sync.aux_1__0_[0] 7 2 4 #SB_DFF
set_location uart_frame_decoder.un1_WDT_cry_6_c 12 2 6 #SB_CARRY
set_location uart_frame_decoder.count[1] 10 1 6 #SB_DFF
set_location uart_frame_decoder.WDT_RNIEDQT1[7] 11 3 3 #SB_LUT4
set_location uart.data_esr[1] 11 5 2 #SB_DFFESR
set_location uart_frame_decoder.state_1[2] 11 4 2 #SB_DFFSR
set_location uart.state_RNIA73N2[4] 8 5 5 #SB_LUT4
set_location reset_module_System.count[2] 9 1 7 #SB_DFF
set_location uart.data_Aux[6] 7 5 1 #SB_DFFSR
set_location uart.state_RNO[0] 10 1 2 #SB_LUT4
set_location reset_module_System.count_1_cry_3_c 8 1 2 #SB_CARRY
set_location reset_module_System.count_RNO[18] 8 3 1 #SB_LUT4
set_location uart.state_RNO_0[0] 10 1 1 #SB_LUT4
set_location reset_module_System.count_1_cry_4_c 8 1 3 #SB_CARRY
set_location uart.state_RNIIHDQ5[2] 10 4 5 #SB_LUT4
set_location uart_frame_decoder.WDT_RNIVBR8[15] 11 2 5 #SB_LUT4
set_location uart.state_RNI78E91[4] 10 4 0 #SB_LUT4
set_location reset_module_System.count[8] 8 1 7 #SB_DFF
set_location reset_module_System.count_1_cry_11_c 8 2 2 #SB_CARRY
set_location uart_frame_decoder.WDT_RNO[1] 12 2 1 #SB_LUT4
set_location uart.timer_Count[7] 10 5 6 #SB_DFFSR
set_location uart_frame_decoder.WDT[9] 12 3 1 #SB_DFFSR
set_location uart.state[0] 10 1 2 #SB_DFF
set_location uart_frame_decoder.state_1_RNO[9] 12 4 7 #SB_LUT4
set_location uart.bit_Count_RNO[0] 7 4 2 #SB_LUT4
set_location uart_frame_decoder.state_1_RNIUQR11[4] 13 4 0 #SB_LUT4
set_location uart_frame_decoder.state_1[1] 11 4 1 #SB_DFFSR
set_location uart.bit_Count[0] 7 4 2 #SB_DFFSR
set_location reset_module_System.count[7] 8 1 6 #SB_DFF
set_location reset_module_System.count_1_cry_12_c 8 2 3 #SB_CARRY
set_location reset_module_System.count[12] 8 2 3 #SB_DFF
set_location uart.timer_Count_RNO[6] 10 5 5 #SB_LUT4
set_io uart_input 4
set_io debug_state_output[4] 42
set_io debug_state_output[0] 2
set_io uart_data_rdy 47
set_io debug_state_output[3] 10
set_io debug_state_output[1] 9
set_io debug_sinkdatavalid_output 45
set_io uart_input_debug 6
set_io frame_decoder_dv 18
set_io debug_state_output[2] 46
set_io clk_system 35
