set_location IN_MUX_bfv_11_24_0_ 11 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_25_0_ 11 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_25_0_ 9 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_26_0_ 9 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_21_0_ 10 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_22_0_ 10 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_23_0_ 10 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_26_0_ 11 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_27_0_ 11 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_28_0_ 11 28 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 23 7 #SB_LUT4
set_location counter11_0_N_2_THRU_LUT4_0 11 25 2 #SB_LUT4
set_location init_pulses_RNO[8] 9 22 4 #SB_LUT4
set_location init_pulses[9] 9 23 3 #SB_DFF
set_location PPM_STATE_RNI7CM54[0] 11 21 6 #SB_LUT4
set_location pulses2count_RNO[8] 12 27 1 #SB_LUT4
set_location pulses2count_RNO[16] 12 24 4 #SB_LUT4
set_location counter_RNIV1JM[2] 12 25 4 #SB_LUT4
set_location counter11_0_I_33_c 11 24 5 #SB_CARRY
set_location count_RNO[5] 9 25 4 #SB_LUT4
set_location un1_counter_13_cry_13_c 11 27 5 #SB_CARRY
set_location init_pulses[16] 10 23 5 #SB_DFF
set_location counter_RNO[15] 11 27 7 #SB_LUT4
set_location counter[2] 11 26 2 #SB_DFFSR
set_location init_pulses_RNO_0[13] 10 22 5 #SB_LUT4
set_location counter_RNIP3J6[4] 12 26 4 #SB_LUT4
set_location CHOOSE_CHANNEL[1] 9 20 0 #SB_DFFE
set_location un1_counter_13_cry_1_c 11 26 1 #SB_CARRY
set_location init_pulses_RNO[2] 9 21 7 #SB_LUT4
set_location counter[18] 11 28 2 #SB_DFFSR
set_location count_1_cry_4_c 9 25 3 #SB_CARRY
set_location init_pulses_RNO[14] 9 22 2 #SB_LUT4
set_location counter11_0_I_9_c_RNO 12 25 0 #SB_LUT4
set_location counter11_0_I_21_c_RNO 11 23 0 #SB_LUT4
set_location count_1_cry_9_c 9 26 0 #SB_CARRY
set_location CHOOSE_CHANNEL_fast_RNIEQVB1[0] 11 21 1 #SB_LUT4
set_location CHOOSE_CHANNEL_cnst_3_2_.N_7_i_fast 12 20 6 #SB_LUT4
set_location un1_counter_13_cry_8_c 11 27 0 #SB_CARRY
set_location pulses2count_RNO[2] 12 24 7 #SB_LUT4
set_location init_pulses_RNO_0[6] 10 21 6 #SB_LUT4
set_location counter_RNO[4] 11 26 4 #SB_LUT4
set_location count[10] 9 26 1 #SB_DFFSR
set_location un1_counter_13_cry_0_c 11 26 0 #SB_CARRY
set_location pulses2count[11] 10 24 6 #SB_DFFE
set_location init_pulses_RNO[13] 9 22 1 #SB_LUT4
set_location un1_counter_13_cry_16_c 11 28 0 #SB_CARRY
set_location pulses2count_RNO[7] 11 23 2 #SB_LUT4
set_location count_RNO[10] 9 26 1 #SB_LUT4
set_location count[9] 9 26 0 #SB_DFFSR
set_location count_1_cry_7_c 9 25 6 #SB_CARRY
set_location CHOOSE_CHANNEL_fast_RNIPSOR8[2] 11 22 2 #SB_LUT4
set_location un1_counter_13_cry_7_c 11 26 7 #SB_CARRY
set_location count_1_cry_11_c 9 26 2 #SB_CARRY
set_location CHOOSE_CHANNEL_RNIA6U31_0[3] 9 23 5 #SB_LUT4
set_location pulses2count_RNO[15] 10 24 0 #SB_LUT4
set_location pulses2count[14] 10 24 7 #SB_DFFE
set_location count_RNO[6] 9 25 5 #SB_LUT4
set_location un1_init_pulses_cry_16_c 10 23 0 #SB_CARRY
set_location ppm_output_reg_RNO 10 26 6 #SB_LUT4
set_location PPM_STATE_RNO_0[0] 12 21 2 #SB_LUT4
set_location init_pulses[11] 9 22 3 #SB_DFF
set_location counter[1] 11 26 1 #SB_DFFSR
set_location count_1_cry_10_c 9 26 1 #SB_CARRY
set_location CHOOSE_CHANNEL_fast_RNI8KMD1[0] 11 21 2 #SB_LUT4
set_location CHOOSE_CHANNEL_RNIA6U31[3] 12 23 3 #SB_LUT4
set_location un1_counter_13_cry_5_c 11 26 5 #SB_CARRY
set_location pulses2count_RNO[10] 10 24 1 #SB_LUT4
set_location pulses2count[2] 12 24 7 #SB_DFFE
set_location count[4] 9 25 3 #SB_DFFSR
set_location CHOOSE_CHANNEL_RNI31VH[1] 9 21 2 #SB_LUT4
set_location init_pulses[14] 9 22 2 #SB_DFF
set_location counter_RNO[17] 11 28 1 #SB_LUT4
set_location count_1_cry_2_c 9 25 1 #SB_CARRY
set_location PPM_STATE_RNIB4CG[0] 11 22 6 #SB_LUT4
set_location un1_counter_13_cry_4_c 11 26 4 #SB_CARRY
set_location pulses2count[7] 11 23 2 #SB_DFFE
set_location init_pulses_RNO_0[5] 10 21 5 #SB_LUT4
set_location init_pulses_RNO_0[11] 10 22 3 #SB_LUT4
set_location init_pulses[2] 9 21 7 #SB_DFF
set_location counter11_0_I_1_c 11 24 0 #SB_CARRY
set_location count_1_cry_12_c 9 26 3 #SB_CARRY
set_location count[1] 8 25 2 #SB_DFFSR
set_location PPM_STATE[0] 12 22 0 #SB_DFFSS
set_location CHOOSE_CHANNEL[3] 10 20 7 #SB_DFFE
set_location un1_init_pulses_cry_3_c 10 21 3 #SB_CARRY
set_location init_pulses_RNO[4] 9 21 0 #SB_LUT4
set_location counter_RNO[7] 11 26 7 #SB_LUT4
set_location counter[16] 11 28 0 #SB_DFFSR
set_location un1_init_pulses_cry_15_c 10 22 7 #SB_CARRY
set_location init_pulses_RNO[16] 10 23 5 #SB_LUT4
set_location counter_RNI75D91[18] 11 30 5 #SB_LUT4
set_location counter_RNI6C6D1[7] 12 26 3 #SB_LUT4
set_location counter11_0_I_51_c_RNO 11 25 6 #SB_LUT4
set_location pulses2count_RNO[4] 13 25 3 #SB_LUT4
set_location pulses2count[8] 12 27 1 #SB_DFFE
set_location init_pulses_RNO_0[8] 10 22 0 #SB_LUT4
set_location init_pulses[7] 9 21 5 #SB_DFF
set_location counter_RNINSCP[12] 12 26 6 #SB_LUT4
set_location count_RNO[13] 9 26 4 #SB_LUT4
set_location un1_init_pulses_cry_12_c 10 22 4 #SB_CARRY
set_location counter_RNO[2] 11 26 2 #SB_LUT4
set_location counter[13] 11 27 5 #SB_DFFSR
set_location counter11_0_I_45_c_RNO 10 25 5 #SB_LUT4
set_location count_1_cry_8_c 9 25 7 #SB_CARRY
set_location count[12] 9 26 3 #SB_DFFSR
set_location un1_counter_13_cry_9_c 11 27 1 #SB_CARRY
set_location pulses2count_RNO[18] 12 27 6 #SB_LUT4
set_location pulses2count[17] 10 24 3 #SB_DFFE
set_location count_RNO[3] 9 25 2 #SB_LUT4
set_location init_pulses[8] 9 22 4 #SB_DFF
set_location count_1_cry_1_c 9 25 0 #SB_CARRY
set_location un1_init_pulses_cry_9_c 10 22 1 #SB_CARRY
set_location counter[4] 11 26 4 #SB_DFFSR
set_location un1_init_pulses_cry_10_c 10 22 2 #SB_CARRY
set_location pulses2count_RNO[17] 10 24 3 #SB_LUT4
set_location count_RNO[4] 9 25 3 #SB_LUT4
set_location count_1_cry_6_c 9 25 5 #SB_CARRY
set_location un1_init_pulses_cry_0_c 10 21 0 #SB_CARRY
set_location init_pulses[17] 10 23 6 #SB_DFF
set_location counter_RNO[8] 11 27 0 #SB_LUT4
set_location counter_RNO[14] 11 27 6 #SB_LUT4
set_location counter[3] 11 26 3 #SB_DFFSR
set_location un1_init_pulses_cry_7_c 10 21 7 #SB_CARRY
set_location un1_init_pulses_cry_2_0_c 10 21 2 #SB_CARRY
set_location un1_init_pulses_cry_11_c 10 22 3 #SB_CARRY
set_location test_led_RNO 8 26 7 #SB_LUT4
set_location pulses2count_RNO[12] 12 24 3 #SB_LUT4
set_location pulses2count[0] 10 24 2 #SB_DFFE
set_location init_pulses_RNO_0[12] 10 22 4 #SB_LUT4
set_location init_pulses_RNO_0[0] 10 21 0 #SB_LUT4
set_location counter_RNI03JM[0] 12 26 2 #SB_LUT4
set_location count_RNO[9] 9 26 0 #SB_LUT4
set_location count_RNI67NP1[13] 8 26 4 #SB_LUT4
set_location count[6] 9 25 5 #SB_DFFSR
set_location CHOOSE_CHANNEL[0] 9 20 4 #SB_DFFE
set_location un1_counter_13_cry_2_c 11 26 2 #SB_CARRY
set_location init_pulses_RNO[1] 9 21 3 #SB_LUT4
set_location CHOOSE_CHANNEL_fast[0] 12 20 1 #SB_DFFE
set_location ppm_output_reg 10 26 6 #SB_DFF
set_location init_pulses_RNO[15] 9 23 1 #SB_LUT4
set_location counter_RNO[11] 11 27 3 #SB_LUT4
set_location count_RNIVO3Q[9] 8 26 3 #SB_LUT4
set_location CHOOSE_CHANNEL_RNII9B21[3] 11 22 5 #SB_LUT4
set_location pulses2count_RNO[1] 12 24 2 #SB_LUT4
set_location pulses2count[5] 12 25 3 #SB_DFFE
set_location init_pulses_RNO_0[7] 10 21 7 #SB_LUT4
set_location init_pulses_RNO_0[17] 10 23 1 #SB_LUT4
set_location init_pulses[0] 9 22 7 #SB_DFF
set_location counter11_0_I_57_c_RNIRTLL1 9 22 6 #SB_LUT4
set_location count[3] 9 25 2 #SB_DFFSR
set_location CHOOSE_CHANNEL_fast_RNICOMD1[2] 11 21 0 #SB_LUT4
set_location un1_init_pulses_cry_5_c 10 21 5 #SB_CARRY
set_location init_pulses_RNO[6] 9 21 6 #SB_LUT4
set_location counter_RNO[5] 11 26 5 #SB_LUT4
set_location counter[14] 11 27 6 #SB_DFFSR
set_location count[11] 9 26 2 #SB_DFFSR
set_location pulses2count[12] 12 24 3 #SB_DFFE
set_location init_pulses_RNO[10] 10 23 4 #SB_LUT4
set_location CHOOSE_CHANNEL_fast_RNIIG2M4[2] 11 21 3 #SB_LUT4
set_location un1_init_pulses_cry_4_c 10 21 4 #SB_CARRY
set_location pulses2count_RNO[6] 10 24 5 #SB_LUT4
set_location init_pulses_RNO_0[18] 10 23 2 #SB_LUT4
set_location init_pulses[5] 9 21 1 #SB_DFF
set_location count_RNO[11] 9 26 2 #SB_LUT4
set_location count[8] 9 25 7 #SB_DFFSR
set_location CHOOSE_CHANNEL_cnst_3_2_.N_163_0_i 10 20 0 #SB_LUT4
set_location un1_init_pulses_cry_14_c 10 22 6 #SB_CARRY
set_location un1_counter_13_cry_15_c 11 27 7 #SB_CARRY
set_location counter_RNO[0] 11 26 0 #SB_LUT4
set_location counter[11] 11 27 3 #SB_DFFSR
set_location CHOOSE_CHANNEL_fast_RNIIG2M4_0[2] 11 21 4 #SB_LUT4
set_location pulses2count[15] 10 24 0 #SB_DFFE
set_location count_RNO[1] 8 25 2 #SB_LUT4
set_location count_RNIU4A7[5] 8 26 5 #SB_LUT4
set_location CHOOSE_CHANNEL_RNO[1] 9 20 0 #SB_LUT4
set_location un1_counter_13_cry_12_c 11 27 4 #SB_CARRY
set_location init_pulses_RNO[9] 9 23 3 #SB_LUT4
set_location counter11_0_I_15_c 11 24 2 #SB_CARRY
set_location PPM_STATE_RNO_0[1] 11 22 3 #SB_LUT4
set_location PPM_STATE_RNI981B2[0] 12 21 1 #SB_LUT4
set_location init_pulses[12] 9 22 0 #SB_DFF
set_location counter[6] 11 26 6 #SB_DFFSR
set_location pulses2count_RNO[9] 12 27 2 #SB_LUT4
set_location pulses2count_RNO[11] 10 24 6 #SB_LUT4
set_location CHOOSE_CHANNEL_fast_RNO[0] 12 20 1 #SB_LUT4
set_location un1_init_pulses_cry_17_c 10 23 1 #SB_CARRY
set_location PPM_STATE_RNO[1] 11 22 4 #SB_LUT4
set_location un1_counter_13_cry_10_c 11 27 2 #SB_CARRY
set_location init_pulses_RNO[18] 10 23 3 #SB_LUT4
set_location init_pulses[15] 9 23 1 #SB_DFF
set_location counter_RNO[16] 11 28 0 #SB_LUT4
set_location counter11_0_I_39_c_RNO 11 25 5 #SB_LUT4
set_location counter11_0_I_21_c 11 24 3 #SB_CARRY
set_location un1_init_pulses_cry_1_c 10 21 1 #SB_CARRY
set_location pulses2count[6] 10 24 5 #SB_DFFE
set_location init_pulses_RNO_0[2] 10 21 2 #SB_LUT4
set_location init_pulses_RNO_0[10] 10 22 2 #SB_LUT4
set_location counter11_0_I_39_c 11 24 6 #SB_CARRY
set_location count[0] 8 25 1 #SB_DFFSR
set_location CHOOSE_CHANNEL[2] 10 20 0 #SB_DFFE
set_location init_pulses_RNO[3] 9 21 4 #SB_LUT4
set_location CHOOSE_CHANNEL_fast_RNIPSOR8_0[2] 11 21 7 #SB_LUT4
set_location CHOOSE_CHANNEL_fast[2] 12 20 3 #SB_DFFE
set_location un1_counter_13_cry_11_c 11 27 3 #SB_CARRY
set_location init_pulses_RNO[17] 10 23 6 #SB_LUT4
set_location counter_RNO[13] 11 27 5 #SB_LUT4
set_location counter[8] 11 27 0 #SB_DFFSR
set_location CHOOSE_CHANNEL_fast_RNIU3LQ1_0[0] 12 21 5 #SB_LUT4
set_location pulses2count_RNO[3] 12 24 1 #SB_LUT4
set_location init_pulses_RNO_0[9] 10 22 1 #SB_LUT4
set_location init_pulses_RNO_0[15] 10 22 7 #SB_LUT4
set_location init_pulses[6] 9 21 6 #SB_DFF
set_location CHOOSE_CHANNEL_RNIA6U31_1[3] 9 22 5 #SB_LUT4
set_location counter_RNO[3] 11 26 3 #SB_LUT4
set_location counter[12] 11 27 4 #SB_DFFSR
set_location counter11_0_I_33_c_RNO 11 25 4 #SB_LUT4
set_location count[13] 9 26 4 #SB_DFFSR
set_location pulses2count[10] 10 24 1 #SB_DFFE
set_location init_pulses_RNO[12] 9 22 0 #SB_LUT4
set_location counter_RNO[18] 11 28 2 #SB_LUT4
set_location count_RNO[2] 9 25 1 #SB_LUT4
set_location pulses2count_RNO_0[11] 10 23 7 #SB_LUT4
set_location counter11_0_I_57_c_RNIUTDL5 12 26 1 #SB_LUT4
set_location counter11_0_I_51_c 11 25 0 #SB_CARRY
set_location counter11_0_I_45_c 11 24 7 #SB_CARRY
set_location counter[5] 11 26 5 #SB_DFFSR
set_location counter11_0_I_27_c_RNO 12 27 0 #SB_LUT4
set_location counter11_0_I_15_c_RNO 12 26 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location pulses2count_RNO[14] 10 24 7 #SB_LUT4
set_location count_RNO[7] 9 25 6 #SB_LUT4
set_location un1_counter_13_cry_14_c 11 27 6 #SB_CARRY
set_location counter_RNID6M35[2] 12 26 0 #SB_LUT4
set_location un1_init_pulses_cry_8_c 10 22 0 #SB_CARRY
set_location init_pulses[10] 10 23 4 #SB_DFF
set_location counter_RNO[9] 11 27 1 #SB_LUT4
set_location counter[0] 11 26 0 #SB_DFFSR
set_location count_1_cry_5_c 9 25 4 #SB_CARRY
set_location CHOOSE_CHANNEL_cnst_3_2_.N_163_0_i_fast 12 20 3 #SB_LUT4
set_location pulses2count_RNO[13] 10 24 4 #SB_LUT4
set_location pulses2count[3] 12 24 1 #SB_DFFE
set_location init_pulses_RNO_0[1] 10 21 1 #SB_LUT4
set_location count_RNO[8] 9 25 7 #SB_LUT4
set_location count[5] 9 25 4 #SB_DFFSR
set_location PPM_STATE_RNIB4CG_0[0] 12 23 4 #SB_LUT4
set_location init_pulses_RNO[0] 9 22 7 #SB_LUT4
set_location counter11_0_I_27_c 11 24 4 #SB_CARRY
set_location CHOOSE_CHANNEL_fast_RNIU3LQ1[0] 11 21 5 #SB_LUT4
set_location CHOOSE_CHANNEL_fast[1] 11 20 2 #SB_DFFE
set_location test_led 8 26 7 #SB_DFF
set_location pulses2count[18] 12 27 6 #SB_DFFE
set_location counter_RNO[10] 11 27 2 #SB_LUT4
set_location counter_RNI1JFM1[16] 12 25 6 #SB_LUT4
set_location counter11_0_I_9_c 11 24 1 #SB_CARRY
set_location un1_init_pulses_cry_6_c 10 21 6 #SB_CARRY
set_location un1_counter_13_cry_17_c 11 28 1 #SB_CARRY
set_location test_led_RNO_0 8 26 6 #SB_LUT4
set_location pulses2count_RNO[0] 10 24 2 #SB_LUT4
set_location pulses2count[4] 13 25 3 #SB_DFFE
set_location init_pulses_RNO_0[4] 10 21 4 #SB_LUT4
set_location init_pulses_RNO_0[16] 10 23 0 #SB_LUT4
set_location init_pulses[3] 9 21 4 #SB_DFF
set_location counter11_0_I_57_c_RNO 12 27 7 #SB_LUT4
set_location count[2] 9 25 1 #SB_DFFSR
set_location PPM_STATE[1] 11 22 4 #SB_DFF
set_location init_pulses_RNO[5] 9 21 1 #SB_LUT4
set_location counter_RNO[6] 11 26 6 #SB_LUT4
set_location counter[17] 11 28 1 #SB_DFFSR
set_location un1_counter_13_cry_6_c 11 26 6 #SB_CARRY
set_location pulses2count[13] 10 24 4 #SB_DFFE
set_location init_pulses_RNO[11] 9 22 3 #SB_LUT4
set_location counter11_0_I_1_c_RNO 11 25 3 #SB_LUT4
set_location pulses2count_RNO[5] 12 25 3 #SB_LUT4
set_location pulses2count[9] 12 27 2 #SB_DFFE
set_location init_pulses[4] 9 21 0 #SB_DFF
set_location count_RNO[12] 9 26 3 #SB_LUT4
set_location PPM_STATE_RNO_1[0] 12 23 0 #SB_LUT4
set_location init_pulses[18] 10 23 3 #SB_DFF
set_location counter_RNO[1] 11 26 1 #SB_LUT4
set_location counter[10] 11 27 2 #SB_DFFSR
set_location pulses2count[16] 12 24 4 #SB_DFFE
set_location count_RNO[0] 8 25 1 #SB_LUT4
set_location CHOOSE_CHANNEL_RNO[0] 9 20 4 #SB_LUT4
set_location counter11_0_I_57_c 11 25 1 #SB_CARRY
set_location init_pulses[13] 9 22 1 #SB_DFF
set_location counter[7] 11 26 7 #SB_DFFSR
set_location un1_counter_13_cry_3_c 11 26 3 #SB_CARRY
set_location count_1_cry_3_c 9 25 2 #SB_CARRY
set_location CHOOSE_CHANNEL_fast_RNO[1] 11 20 2 #SB_LUT4
set_location CHOOSE_CHANNEL_cnst_3_2_.N_7_i 10 20 7 #SB_LUT4
set_location PPM_STATE_RNO[0] 12 22 0 #SB_LUT4
set_location pulses2count[1] 12 24 2 #SB_DFFE
set_location init_pulses_RNO_0[3] 10 21 3 #SB_LUT4
set_location count[7] 9 25 6 #SB_DFFSR
set_location CHOOSE_CHANNEL_fast[3] 12 20 6 #SB_DFFE
set_location un1_init_pulses_cry_13_0_c 10 22 5 #SB_CARRY
set_location counter_RNO[12] 11 27 4 #SB_LUT4
set_location counter[9] 11 27 1 #SB_DFFSR
set_location init_pulses_RNO_0[14] 10 22 6 #SB_LUT4
set_location init_pulses[1] 9 21 3 #SB_DFF
set_location init_pulses_RNO[7] 9 21 5 #SB_LUT4
set_location counter[15] 11 27 7 #SB_DFFSR
set_io test_led 6
set_io ppm_output 34
set_io clk 35
