set_location IN_MUX_bfv_8_19_0_ 8 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_12_0_ 11 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_13_0_ 11 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_13_0_ 12 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_14_0_ 12 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_15_0_ 10 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_16_0_ 10 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_15_0_ 11 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_16_0_ 11 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_14_0_ 9 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_15_0_ 9 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_13_0_ 10 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_14_0_ 10 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_17_0_ 8 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_18_0_ 8 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_17_0_ 10 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_18_0_ 10 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_17_0_ 2 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_18_0_ 2 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_19_0_ 2 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_17_0_ 12 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_18_0_ 12 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_17_0_ 11 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_18_0_ 11 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_19_0_ 11 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_20_0_ 11 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_24_0_ 11 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_25_0_ 11 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_26_0_ 7 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_27_0_ 7 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_28_0_ 7 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_24_0_ 9 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_25_0_ 9 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_26_0_ 9 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_27_0_ 10 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_28_0_ 10 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_18_0_ 5 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_15_0_ 7 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_16_0_ 7 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_19_0_ 3 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_28_0_ 11 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_29_0_ 11 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_30_0_ 11 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_14_0_ 2 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 9 19 6 #SB_LUT4
set_location uart_frame_decoder.count8_THRU_LUT4_0 8 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_9_THRU_LUT4_0 12 17 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_8_THRU_LUT4_0 12 17 3 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_7_THRU_LUT4_0 12 17 2 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_6_THRU_LUT4_0 12 17 1 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_12_THRU_LUT4_0 12 17 7 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_11_THRU_LUT4_0 12 17 6 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_10_THRU_LUT4_0 12 17 5 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_9_THRU_LUT4_0 11 17 4 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_8_THRU_LUT4_0 11 17 3 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_7_THRU_LUT4_0 11 17 2 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_6_THRU_LUT4_0 11 17 1 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_12_THRU_LUT4_0 11 17 7 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_11_THRU_LUT4_0 11 17 6 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_10_THRU_LUT4_0 11 17 5 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_9_THRU_LUT4_0 11 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_8_THRU_LUT4_0 11 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_7_THRU_LUT4_0 11 19 2 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_6_THRU_LUT4_0 11 19 1 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_12_THRU_LUT4_0 11 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_11_THRU_LUT4_0 11 19 6 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_10_THRU_LUT4_0 11 19 5 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_9_THRU_LUT4_0 11 24 4 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_8_THRU_LUT4_0 11 24 3 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_7_THRU_LUT4_0 11 24 2 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_6_THRU_LUT4_0 11 24 1 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_12_THRU_LUT4_0 11 24 7 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_11_THRU_LUT4_0 11 24 6 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_10_THRU_LUT4_0 11 24 5 #SB_LUT4
set_location ppm_encoder_1.counter24_0_N_2_THRU_LUT4_0 10 28 2 #SB_LUT4
set_location uart_pc_sync.aux_3__0__0_THRU_LUT4_0 8 5 0 #SB_LUT4
set_location uart_pc_sync.aux_2__0__0_THRU_LUT4_0 8 4 3 #SB_LUT4
set_location uart_pc_sync.aux_1__0__0_THRU_LUT4_0 8 4 6 #SB_LUT4
set_location uart_pc_sync.aux_0__0__0_THRU_LUT4_0 8 3 2 #SB_LUT4
set_location uart_pc_sync.Q_0__0_THRU_LUT4_0 8 8 0 #SB_LUT4
set_location uart_pc.data_esr_7_THRU_LUT4_0 7 11 7 #SB_LUT4
set_location uart_pc.data_esr_6_THRU_LUT4_0 9 10 1 #SB_LUT4
set_location uart_pc.data_esr_5_THRU_LUT4_0 7 11 5 #SB_LUT4
set_location uart_pc.data_esr_4_THRU_LUT4_0 7 11 0 #SB_LUT4
set_location uart_pc.data_esr_3_THRU_LUT4_0 7 11 3 #SB_LUT4
set_location uart_pc.data_esr_2_THRU_LUT4_0 7 11 2 #SB_LUT4
set_location uart_pc.data_esr_1_THRU_LUT4_0 7 10 0 #SB_LUT4
set_location uart_pc.data_esr_0_THRU_LUT4_0 7 10 6 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_7_THRU_LUT4_0 10 12 2 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_6_THRU_LUT4_0 10 12 6 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_5_THRU_LUT4_0 10 12 5 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_4_THRU_LUT4_0 12 12 3 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_3_THRU_LUT4_0 10 12 3 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_2_THRU_LUT4_0 10 12 7 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_1_THRU_LUT4_0 10 12 1 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr_0_THRU_LUT4_0 10 12 0 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_7_THRU_LUT4_0 8 15 7 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_6_THRU_LUT4_0 8 15 6 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_5_THRU_LUT4_0 8 15 5 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_4_THRU_LUT4_0 8 15 4 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_3_THRU_LUT4_0 8 15 3 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_2_THRU_LUT4_0 8 15 2 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_1_THRU_LUT4_0 8 15 1 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr_0_THRU_LUT4_0 8 15 0 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_7_THRU_LUT4_0 8 14 3 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_6_THRU_LUT4_0 8 14 6 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_5_THRU_LUT4_0 8 14 5 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_4_THRU_LUT4_0 8 14 4 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_3_THRU_LUT4_0 8 14 7 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_2_THRU_LUT4_0 8 14 2 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_1_THRU_LUT4_0 8 14 1 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr_0_THRU_LUT4_0 8 14 0 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_7_THRU_LUT4_0 7 17 7 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_6_THRU_LUT4_0 7 17 6 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_5_THRU_LUT4_0 7 17 5 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_4_THRU_LUT4_0 7 17 4 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_3_THRU_LUT4_0 7 17 3 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_2_THRU_LUT4_0 7 17 2 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_1_THRU_LUT4_0 7 17 1 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr_0_THRU_LUT4_0 7 17 0 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_7_THRU_LUT4_0 11 11 7 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_6_THRU_LUT4_0 11 11 6 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_5_THRU_LUT4_0 11 11 5 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_4_THRU_LUT4_0 11 11 4 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_3_THRU_LUT4_0 11 11 3 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_2_THRU_LUT4_0 11 11 2 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_1_THRU_LUT4_0 11 11 1 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr_0_THRU_LUT4_0 11 11 0 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_7_THRU_LUT4_0 12 15 7 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_6_THRU_LUT4_0 12 15 6 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_5_THRU_LUT4_0 13 15 4 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_4_THRU_LUT4_0 12 15 4 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_3_THRU_LUT4_0 12 15 3 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_2_THRU_LUT4_0 12 15 2 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_1_THRU_LUT4_0 12 15 1 #SB_LUT4
set_location uart_frame_decoder.source_CH3data_esr_0_THRU_LUT4_0 12 15 0 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_7_THRU_LUT4_0 11 14 1 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_6_THRU_LUT4_0 9 13 6 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_5_THRU_LUT4_0 9 13 5 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_4_THRU_LUT4_0 9 13 4 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_3_THRU_LUT4_0 9 13 3 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_2_THRU_LUT4_0 9 13 2 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_1_THRU_LUT4_0 9 13 1 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr_0_THRU_LUT4_0 9 13 0 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_7_THRU_LUT4_0 7 19 4 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_6_THRU_LUT4_0 7 18 6 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_5_THRU_LUT4_0 7 18 5 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_4_THRU_LUT4_0 7 18 4 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_3_THRU_LUT4_0 7 18 3 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_2_THRU_LUT4_0 7 18 2 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_1_THRU_LUT4_0 7 18 1 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr_0_THRU_LUT4_0 7 18 0 #SB_LUT4
set_location uart_drone_sync.aux_3__0__0_THRU_LUT4_0 4 2 7 #SB_LUT4
set_location uart_drone_sync.aux_2__0__0_THRU_LUT4_0 5 2 3 #SB_LUT4
set_location uart_drone_sync.aux_1__0__0_THRU_LUT4_0 7 2 4 #SB_LUT4
set_location uart_drone_sync.aux_0__0__0_THRU_LUT4_0 7 1 7 #SB_LUT4
set_location uart_drone_sync.Q_0__0_THRU_LUT4_0 4 2 2 #SB_LUT4
set_location uart_drone.data_esr_7_THRU_LUT4_0 3 16 7 #SB_LUT4
set_location uart_drone.data_esr_6_THRU_LUT4_0 3 16 6 #SB_LUT4
set_location uart_drone.data_esr_5_THRU_LUT4_0 3 16 5 #SB_LUT4
set_location uart_drone.data_esr_4_THRU_LUT4_0 2 12 1 #SB_LUT4
set_location uart_drone.data_esr_3_THRU_LUT4_0 3 16 3 #SB_LUT4
set_location uart_drone.data_esr_2_THRU_LUT4_0 2 12 3 #SB_LUT4
set_location uart_drone.data_esr_1_THRU_LUT4_0 3 16 1 #SB_LUT4
set_location uart_drone.data_esr_0_THRU_LUT4_0 3 16 4 #SB_LUT4
set_location scaler_4.source_data_1_esr_14_THRU_LUT4_0 12 14 1 #SB_LUT4
set_location scaler_3.source_data_1_esr_14_THRU_LUT4_0 11 16 1 #SB_LUT4
set_location scaler_2.source_data_1_esr_14_THRU_LUT4_0 10 14 1 #SB_LUT4
set_location scaler_1.source_data_valid_THRU_LUT4_0 9 18 3 #SB_LUT4
set_location scaler_1.source_data_1_esr_14_THRU_LUT4_0 10 18 1 #SB_LUT4
set_location ppm_encoder_1.throttle_esr_5_THRU_LUT4_0 8 20 7 #SB_LUT4
set_location ppm_encoder_1.throttle_esr_4_THRU_LUT4_0 8 20 3 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_5_THRU_LUT4_0 8 20 2 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_4_THRU_LUT4_0 7 21 2 #SB_LUT4
set_location ppm_encoder_1.elevator_esr_5_THRU_LUT4_0 8 20 6 #SB_LUT4
set_location ppm_encoder_1.elevator_esr_4_THRU_LUT4_0 8 20 1 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_5_THRU_LUT4_0 9 23 5 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_4_THRU_LUT4_0 8 20 0 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI8GVN2[6] 10 23 2 #SB_LUT4
set_location ppm_encoder_1.elevator[10] 10 24 6 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr[9] 10 20 2 #SB_DFFESR
set_location uart_frame_decoder.source_offset1data_esr[3] 7 17 3 #SB_DFFESR
set_location ppm_encoder_1.counter[5] 11 28 5 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[9] 7 16 1 #SB_LUT4
set_location uart_drone.state_RNI40411[2] 3 20 6 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNISL0F[1] 10 29 0 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr[2] 9 13 2 #SB_DFFESR
set_location uart_drone.timer_Count_RNIDGR31[2] 3 18 1 #SB_LUT4
set_location uart_frame_decoder.WDT_RNI5CUL2[15] 8 13 0 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_15_c_RNO 10 28 5 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNITH3L6[14] 11 22 1 #SB_LUT4
set_location frame_dron_decoder_1.source_data_valid_2_sqmuxa_i 3 15 4 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[8] 2 15 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_2[0] 8 12 4 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr[1] 10 12 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIV7MDT2[15] 9 25 7 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_45_c_RNO 9 26 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[13] 12 25 4 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[14] 11 29 6 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr[4] 8 15 4 #SB_DFFESR
set_location scaler_1.un2_source_data_0_cry_6_c 10 17 5 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[6] 12 25 6 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[0] 8 22 1 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI5QE01_0[0] 9 22 3 #SB_LUT4
set_location scaler_2.source_data_1_esr[9] 10 13 4 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_4_c_RNIR8G11 8 17 5 #SB_LUT4
set_location reset_module_System.count_RNIR9N6[1] 2 20 2 #SB_LUT4
set_location frame_dron_decoder_1.un1_WDT_cry_9_c 2 15 1 #SB_CARRY
set_location reset_module_System.count[5] 2 17 4 #SB_DFF
set_location ppm_encoder_1.elevator_esr[5] 8 20 6 #SB_DFFESR
set_location ppm_encoder_1.elevator_RNO[7] 10 22 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_13_c 12 17 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[4] 7 20 7 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1[1] 7 23 7 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIJII96[7] 10 22 1 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNIE3D21 7 22 6 #SB_LUT4
set_location uart_pc.timer_Count_RNO[0] 5 17 0 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_5_c 10 17 4 #SB_CARRY
set_location scaler_3.un3_source_data.un3_source_data_0_cry_8_c_RNIRV25 10 16 1 #SB_LUT4
set_location uart_drone.timer_Count_RNO[1] 4 19 7 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_6_c 11 15 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_0[3] 9 24 3 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_3_c 3 19 2 #SB_CARRY
set_location scaler_2.source_data_1_esr[10] 10 13 5 #SB_DFFESR
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[3] 7 22 2 #SB_LUT4
set_location frame_dron_decoder_1.WDT[11] 2 15 3 #SB_DFFSR
set_location uart_drone.data_Aux[7] 4 16 0 #SB_DFFSR
set_location ppm_encoder_1.counter24_0_I_57_c_RNIRCE81 9 27 5 #SB_LUT4
set_location reset_module_System.count_1_cry_10_c 2 18 1 #SB_CARRY
set_location ppm_encoder_1.elevator_esr_RNO[14] 11 20 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[7] 12 26 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[13] 7 25 4 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_0_rep1_RNO 8 21 3 #SB_LUT4
set_location reset_module_System.count[13] 2 18 4 #SB_DFF
set_location ppm_encoder_1.rudder[8] 10 19 1 #SB_DFFSR
set_location ppm_encoder_1.counter[3] 11 28 3 #SB_DFFSR
set_location uart_pc.state[4] 5 16 5 #SB_DFF
set_location scaler_1.source_data_1_esr_RNO[13] 10 18 0 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI7O1N[2] 8 26 5 #SB_LUT4
set_location uart_frame_decoder.WDT[11] 7 16 3 #SB_DFFSR
set_location scaler_1.source_data_1_esr[10] 10 17 5 #SB_DFFESR
set_location reset_module_System.count_RNO[14] 2 18 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[3] 11 23 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[0] 9 11 0 #SB_LUT4
set_location uart_drone.state_RNO[1] 2 21 4 #SB_LUT4
set_location uart_drone.data_esr[6] 3 16 6 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[11] 10 13 6 #SB_LUT4
set_location reset_module_System.count_RNIMJ304[12] 2 20 4 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_5_c 11 28 5 #SB_CARRY
set_location ppm_encoder_1.elevator_RNIEMVN2[9] 9 21 5 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_45_c 10 27 7 #SB_CARRY
set_location frame_dron_decoder_1.WDT_RNO[6] 2 14 6 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[5] 10 14 4 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_1_c_RNILSPH 9 14 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count[15] 9 28 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIVIRP[16] 7 28 7 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[3] 8 14 7 #SB_DFFESR
set_location scaler_2.un2_source_data_0_cry_6_c 10 13 5 #SB_CARRY
set_location uart_drone.data_Aux_RNO[1] 3 17 1 #SB_LUT4
set_location scaler_1.source_data_1_esr_RNO[7] 10 17 2 #SB_LUT4
set_location reset_module_System.count_RNISRMR1[10] 2 19 6 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNO[14] 11 25 0 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[0] 3 18 0 #SB_LUT4
set_location scaler_3.source_data_1_esr[11] 11 15 6 #SB_DFFESR
set_location uart_pc.state_RNO_0[2] 4 14 5 #SB_LUT4
set_location uart_frame_decoder.state_1_ns_0_i_a2_1_1[2] 8 12 6 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_8_c 12 13 7 #SB_CARRY
set_location scaler_2.source_data_1_esr[7] 10 13 2 #SB_DFFESR
set_location frame_dron_decoder_1.state_RNO[0] 1 15 7 #SB_LUT4
set_location uart_frame_decoder.count8_cry_0_c 8 19 0 #SB_CARRY
set_location ppm_encoder_1.aileron[12] 10 21 5 #SB_DFFSS
set_location uart_frame_decoder.WDT[7] 7 15 7 #SB_DFFSR
set_location uart_pc.state_RNIEAGS[4] 5 12 0 #SB_LUT4
set_location uart_pc.bit_Count[1] 5 15 2 #SB_DFFSR
set_location ppm_encoder_1.init_pulses[10] 8 26 6 #SB_DFFSR
set_location frame_dron_decoder_1.state[0] 1 15 7 #SB_DFFSS
set_location ppm_encoder_1.init_pulses_RNO_0[9] 9 25 1 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[8] 11 29 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_1[0] 8 11 4 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_7_c 9 14 7 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIAVNR2[0] 8 24 2 #SB_LUT4
set_location uart_drone.state[4] 4 20 0 #SB_DFF
set_location scaler_4.un3_source_data.un3_source_data_0_cry_5_c 11 12 5 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_1_c 10 13 0 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI35QO1[0] 7 23 2 #SB_LUT4
set_location reset_module_System.reset_RNO 3 20 2 #SB_LUT4
set_location ppm_encoder_1.aileron[8] 10 19 0 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[12] 7 16 4 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[2] 7 24 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[11] 10 29 6 #SB_LUT4
set_location frame_dron_decoder_1.un1_WDT_cry_2_c 2 14 2 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_8_c_RNIQL42 9 15 1 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_7_c 10 13 6 #SB_CARRY
set_location scaler_1.source_data_valid 9 18 3 #SB_DFFSR
set_location ppm_encoder_1.counter[9] 11 29 1 #SB_DFFSR
set_location reset_module_System.count_RNO[21] 2 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_12_c 11 24 6 #SB_CARRY
set_location scaler_1.un3_source_data.un3_source_data_0_cry_2_c_RNIL0E11 8 17 3 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[9] 14 21 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[12] 12 26 5 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIRFMUE[3] 9 24 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[9] 10 26 4 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNI6TFJ1[10] 1 14 1 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[6] 8 13 4 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_9_c 12 14 0 #SB_CARRY
set_location uart_frame_decoder.source_CH1data_esr[7] 7 19 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_0[14] 9 25 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[12] 10 21 4 #SB_LUT4
set_location uart_drone_sync.aux_0__0_[0] 7 1 7 #SB_DFF
set_location uart_drone.data_Aux_RNO[7] 4 16 0 #SB_LUT4
set_location scaler_4.source_data_1_esr[10] 12 13 5 #SB_DFFESR
set_location uart_frame_decoder.source_CH4data_esr[7] 11 11 7 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[4] 12 15 4 #SB_DFFESR
set_location reset_module_System.count_1_cry_4_c 2 17 3 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[9] 11 22 4 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIU7KK2[9] 9 21 3 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_7_c_RNI5J0I 9 15 0 #SB_LUT4
set_location reset_module_System.count[8] 2 17 7 #SB_DFF
set_location ppm_encoder_1.un1_rudder_cry_11_c 11 17 5 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[8] 10 19 1 #SB_LUT4
set_location ppm_encoder_1.rudder[10] 9 18 1 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr_RNO[1] 11 27 2 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_1_c_RNO 10 16 7 #SB_LUT4
set_location uart_frame_decoder.WDT[9] 7 16 1 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_5_c_RNI7DOI 11 12 6 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIG4JI2[11] 9 20 1 #SB_LUT4
set_location uart_pc.data_Aux_RNO[3] 5 11 3 #SB_LUT4
set_location scaler_4.N_544_i_l_ofx 11 13 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses[5] 11 23 3 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[2] 11 28 2 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[15] 2 15 7 #SB_LUT4
set_location uart_pc.timer_Count[0] 5 17 0 #SB_DFF
set_location uart_frame_decoder.state_1[1] 7 12 3 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_0_c_RNIOOII 11 12 1 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_7_c_RNI2JJ11 8 18 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[13] 10 25 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[14] 7 27 6 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_3_c_RNIO4F11 8 17 4 #SB_LUT4
set_location reset_module_System.count_RNO[2] 2 20 6 #SB_LUT4
set_location ppm_encoder_1.aileron[6] 10 23 5 #SB_DFFSS
set_location uart_frame_decoder.source_CH4data_esr[4] 11 11 4 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[7] 12 15 7 #SB_DFFESR
set_location uart_frame_decoder.WDT_RNO[14] 7 16 6 #SB_LUT4
set_location ppm_encoder_1.rudder_RNO[11] 12 20 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIDQUS[5] 11 23 4 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNILS7D[3] 8 22 0 #SB_LUT4
set_location uart_drone.bit_Count[1] 3 21 0 #SB_DFFSR
set_location scaler_1.source_data_1_esr[5] 9 16 0 #SB_DFFESR
set_location uart_frame_decoder.source_offset1data_esr[6] 7 17 6 #SB_DFFESR
set_location reset_module_System.count[18] 2 19 1 #SB_DFF
set_location ppm_encoder_1.rudder_RNO[7] 10 22 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[4] 11 26 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI83E0J[7] 7 26 7 #SB_CARRY
set_location uart_pc.data_Aux[4] 5 11 4 #SB_DFFSR
set_location uart_frame_decoder.un1_WDT_cry_3_c 7 15 3 #SB_CARRY
set_location uart_frame_decoder.state_1_RNIB3PK[5] 11 14 5 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[4] 7 15 4 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_0_c 8 17 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[7] 10 22 3 #SB_LUT4
set_location ppm_encoder_1.counter[17] 11 30 1 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[1] 12 22 7 #SB_DFF
set_location frame_dron_decoder_1.WDT[6] 2 14 6 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[7] 11 14 1 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_6_c_RNI7HCI 10 15 7 #SB_LUT4
set_location reset_module_System.count_RNI9O1P[2] 2 20 5 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[4] 3 19 3 #SB_LUT4
set_location scaler_4.source_data_1_esr[7] 12 13 2 #SB_DFFESR
set_location ppm_encoder_1.throttle[13] 10 25 7 #SB_DFFSS
set_location ppm_encoder_1.counter24_0_I_39_c_RNO 11 26 4 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIDHGI5[5] 9 23 1 #SB_LUT4
set_location uart_pc.data_esr[4] 7 11 0 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[0] 5 11 0 #SB_LUT4
set_location uart_drone.timer_Count[0] 4 19 2 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[10] 11 15 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses[2] 8 24 5 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[1] 11 28 1 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIOIR62[5] 9 23 2 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[10] 2 15 2 #SB_LUT4
set_location uart_pc_sync.aux_1__0_[0] 8 4 6 #SB_DFF
set_location uart_frame_decoder.state_1_RNIE6PK[8] 7 13 3 #SB_LUT4
set_location uart_frame_decoder.state_1[4] 8 13 2 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_8_c_RNIS918 11 13 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[12] 10 21 7 #SB_LUT4
set_location ppm_encoder_1.rudder_esr[4] 7 21 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[17] 7 28 1 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI03DH2[11] 9 20 3 #SB_LUT4
set_location uart_pc.state_RNO[0] 4 15 7 #SB_LUT4
set_location reset_module_System.count_RNO[7] 2 17 6 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[11] 11 29 3 #SB_LUT4
set_location uart_frame_decoder.source_CH4data_esr[1] 11 11 1 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[2] 12 15 2 #SB_DFFESR
set_location ppm_encoder_1.rudder_RNO[12] 12 21 1 #SB_LUT4
set_location uart_pc.state_RNIITIF1[4] 5 14 2 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_16_c 11 30 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[3] 12 25 1 #SB_LUT4
set_location ppm_encoder_1.elevator[12] 10 21 6 #SB_DFFSS
set_location uart_frame_decoder.count8_cry_1_c_inv 8 19 1 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_0_c_RNILO5I 10 15 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNII6JI2[12] 10 21 0 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO_3[0] 1 15 5 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr[5] 7 17 5 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIHUUS_0[9] 10 26 6 #SB_LUT4
set_location uart_frame_decoder.source_data_valid_2_sqmuxa_i 8 16 6 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[7] 7 15 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[3] 11 27 6 #SB_LUT4
set_location ppm_encoder_1.counter[14] 11 29 6 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[2] 8 21 0 #SB_DFF
set_location uart_frame_decoder.state_1_RNI91PK[3] 9 15 2 #SB_LUT4
set_location uart_frame_decoder.source_CH2data_esr[0] 9 13 0 #SB_DFFESR
set_location uart_frame_decoder.count8_cry_0_c_inv 10 16 2 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_3_c_RNIR4SH 9 14 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIQDRP[11] 8 25 1 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[1] 4 19 6 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_6_c_RNIAHPI 11 12 7 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_axb_7 11 14 0 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_11_c 11 19 5 #SB_CARRY
set_location frame_dron_decoder_1.WDT_RNIMRG3[4] 1 14 0 #SB_LUT4
set_location uart_pc.data_esr[1] 7 10 0 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[5] 5 11 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIIF3JT[15] 7 27 7 #SB_CARRY
set_location ppm_encoder_1.counter_RNO[4] 11 28 4 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_51_c 10 28 0 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI8J2H[2] 7 23 4 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[13] 2 15 5 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr[3] 10 12 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_0[6] 9 24 6 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_2_c 7 15 2 #SB_CARRY
set_location ppm_encoder_1.ppm_output_reg_RNO_1 12 29 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[12] 7 27 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIPCRP_0[10] 8 21 7 #SB_LUT4
set_location ppm_encoder_1.elevator[6] 10 23 6 #SB_DFFSS
set_location uart_frame_decoder.state_1_RNO_3[0] 8 11 3 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_8_c 10 17 7 #SB_CARRY
set_location reset_module_System.count_RNO[4] 2 17 3 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[12] 11 29 4 #SB_LUT4
set_location frame_dron_decoder_1.WDT[14] 2 15 6 #SB_DFFSR
set_location uart_frame_decoder.source_offset3data_esr[2] 8 15 2 #SB_DFFESR
set_location uart_drone.data_Aux[2] 4 16 6 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNI33GU_0[3] 12 22 1 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_5_c 11 15 4 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_57_c 10 28 1 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[2] 8 22 2 #SB_LUT4
set_location frame_dron_decoder_1.source_data_valid 3 14 6 #SB_DFFSR
set_location uart_frame_decoder.count[0] 10 16 5 #SB_DFF
set_location ppm_encoder_1.throttle_esr[14] 12 18 0 #SB_DFFESR
set_location frame_dron_decoder_1.un1_WDT_cry_7_c 2 14 7 #SB_CARRY
set_location uart_frame_decoder.source_offset1data_esr[0] 7 17 0 #SB_DFFESR
set_location reset_module_System.count[3] 2 17 2 #SB_DFF
set_location ppm_encoder_1.throttle_RNIR0L07[1] 9 24 1 #SB_CARRY
set_location ppm_encoder_1.throttle[6] 10 23 7 #SB_DFFSS
set_location ppm_encoder_1.counter[6] 11 28 6 #SB_DFFSR
set_location uart_frame_decoder.state_1_RNIC4PK[6] 7 13 0 #SB_LUT4
set_location ppm_encoder_1.throttle_esr[5] 8 20 7 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[6] 12 24 2 #SB_LUT4
set_location ppm_encoder_1.counter[11] 11 29 3 #SB_DFFSR
set_location frame_dron_decoder_1.state_RNO_0[0] 1 15 6 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[2] 3 19 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIRERP[12] 8 25 4 #SB_LUT4
set_location uart_pc.data_esr[2] 7 11 2 #SB_DFFESR
set_location uart_drone.state_RNO[4] 4 20 0 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_5_c_RNI4DBI 10 15 6 #SB_LUT4
set_location ppm_encoder_1.throttle_esr_RNO[14] 12 18 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIC1OR2[2] 8 24 4 #SB_LUT4
set_location uart_pc.un4_timer_Count_1_cry_3_c 5 18 2 #SB_CARRY
set_location uart_frame_decoder.source_offset4data_esr[0] 10 12 0 #SB_DFFESR
set_location uart_drone.timer_Count_RNI9E9J[2] 3 18 4 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_4_c_RNI49NI 11 12 5 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_9_c 12 17 3 #SB_CARRY
set_location ppm_encoder_1.un1_elevator_cry_7_c 11 19 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count[18] 9 28 4 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNO_0[1] 9 24 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIG5OR2[6] 7 25 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI5A6431[6] 9 24 6 #SB_CARRY
set_location uart_frame_decoder.state_1_ns_0_i_a2_1[2] 8 12 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[13] 10 25 6 #SB_LUT4
set_location scaler_2.source_data_1_esr[12] 10 13 7 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[10] 12 24 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIDQUS_0[5] 11 23 5 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[17] 11 30 1 #SB_LUT4
set_location frame_dron_decoder_1.WDT[13] 2 15 5 #SB_DFFSR
set_location uart_frame_decoder.source_offset3data_esr[5] 8 15 5 #SB_DFFESR
set_location uart_drone.data_rdy 3 14 3 #SB_DFFSR
set_location uart_drone.data_Aux[1] 3 17 1 #SB_DFFSR
set_location ppm_encoder_1.un1_throttle_cry_7_c 12 17 1 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_6_c 11 28 6 #SB_CARRY
set_location uart_drone.data_Aux_RNO_0[5] 3 17 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[5] 12 23 7 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[1] 8 21 6 #SB_LUT4
set_location scaler_4.source_data_1_RNO[4] 9 17 7 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_5_c 10 15 5 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_5_c 9 14 5 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr[5] 11 26 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[11] 8 25 0 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO[5] 1 13 2 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[9] 11 15 4 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_3_c 10 13 2 #SB_CARRY
set_location reset_module_System.count[4] 2 17 3 #SB_DFF
set_location reset_module_System.count[11] 2 18 2 #SB_DFF
set_location ppm_encoder_1.rudder[6] 13 19 0 #SB_DFFSS
set_location ppm_encoder_1.elevator_esr[4] 8 20 1 #SB_DFFESR
set_location ppm_encoder_1.counter[1] 11 28 1 #SB_DFFSR
set_location uart_pc.bit_Count_RNO[0] 5 15 6 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_7_c 10 17 6 #SB_CARRY
set_location scaler_1.source_data_1_esr_RNO[11] 10 17 6 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_8_c 11 29 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[5] 9 23 4 #SB_LUT4
set_location uart_frame_decoder.count8_cry_2_c_RNIU1C61 9 18 6 #SB_LUT4
set_location scaler_1.source_data_1_esr[12] 10 17 7 #SB_DFFESR
set_location ppm_encoder_1.rudder_esr[14] 11 18 0 #SB_DFFESR
set_location frame_dron_decoder_1.un1_WDT_cry_8_c 2 15 0 #SB_CARRY
set_location frame_dron_decoder_1.state_RNO_0[3] 2 16 3 #SB_LUT4
set_location uart_pc.timer_Count_RNO[3] 5 18 7 #SB_LUT4
set_location uart_frame_decoder.WDT[2] 7 15 2 #SB_DFFSR
set_location reset_module_System.count_RNO[16] 2 18 7 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_3_c 11 28 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[1] 8 23 2 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE[1] 8 23 7 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_0_c 2 14 0 #SB_CARRY
set_location uart_pc.timer_Count_RNIE94V3[2] 8 10 1 #SB_LUT4
set_location uart_drone.data_esr[0] 3 16 4 #SB_DFFESR
set_location ppm_encoder_1.un1_elevator_cry_8_c 11 19 2 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_11_c 11 29 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIBOUS[3] 7 24 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses[9] 10 26 4 #SB_DFFSS
set_location frame_dron_decoder_1.WDT_RNO[4] 2 14 4 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr[5] 10 12 5 #SB_DFFESR
set_location uart_drone.timer_Count_RNO[2] 3 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_10_c 11 24 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count[17] 9 28 2 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNI8LUS[0] 8 24 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI5QE01[0] 9 22 0 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[1] 8 14 1 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_6_c 10 15 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[18] 7 28 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI8LUS_0[0] 9 24 0 #SB_CARRY
set_location ppm_encoder_1.PPM_STATE_RNO[1] 8 23 7 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_7_c 11 17 1 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIALN65[1] 8 22 6 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[18] 11 30 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[2] 8 21 0 #SB_LUT4
set_location uart_pc.state_RNIGRIF1[2] 5 16 3 #SB_LUT4
set_location uart_frame_decoder.count_RNIHJ501[0] 8 16 5 #SB_LUT4
set_location uart_drone.data_Aux[4] 3 17 6 #SB_DFFSR
set_location scaler_1.source_data_1_esr_RNO[5] 9 16 0 #SB_LUT4
set_location frame_dron_decoder_1.state_ns_i_a2_2[0] 3 15 2 #SB_LUT4
set_location uart_drone.state_RNO_0[2] 3 20 0 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[6] 4 18 1 #SB_LUT4
set_location uart_pc.un4_timer_Count_1_cry_2_c 5 18 1 #SB_CARRY
set_location uart_pc.state_RNO_0[0] 3 15 6 #SB_LUT4
set_location uart_drone.timer_Count_RNIES9Q1[2] 2 16 6 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_3_c 11 12 3 #SB_CARRY
set_location scaler_4.un3_source_data.un3_source_data_0_cry_1_c_RNIRSJI 11 12 2 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_2_c 9 14 2 #SB_CARRY
set_location scaler_2.source_data_1_esr[5] 9 16 1 #SB_DFFESR
set_location reset_module_System.count_RNIA72I1[16] 2 20 3 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_8_c 12 17 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr[0] 11 27 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[14] 8 25 6 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_33_c 10 27 5 #SB_CARRY
set_location frame_dron_decoder_1.state_RNO[6] 1 15 0 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNI05KQ[6] 1 14 7 #SB_LUT4
set_location uart_frame_decoder.WDT_RNIQAB11[4] 8 16 4 #SB_LUT4
set_location uart_frame_decoder.WDT_RNIM8N32[7] 8 16 2 #SB_LUT4
set_location reset_module_System.count[14] 2 18 5 #SB_DFF
set_location ppm_encoder_1.un1_rudder_cry_9_c 11 17 3 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIE2JI2[10] 10 24 0 #SB_LUT4
set_location ppm_encoder_1.rudder[9] 11 21 4 #SB_DFFSR
set_location uart_pc.state[3] 5 16 2 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_1[8] 10 20 4 #SB_LUT4
set_location ppm_encoder_1.aileron_RNO[11] 9 20 6 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[2] 5 12 1 #SB_LUT4
set_location uart_frame_decoder.source_data_valid_RNO 9 18 5 #SB_LUT4
set_location uart_frame_decoder.WDT[10] 7 16 2 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_7_c_RNIBJQI 11 13 0 #SB_LUT4
set_location scaler_1.source_data_1_esr[11] 10 17 6 #SB_DFFESR
set_location reset_module_System.count_1_cry_14_c 2 18 5 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI6LFQ[0] 8 22 4 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNI7RM01 9 22 7 #SB_LUT4
set_location frame_dron_decoder_1.WDT[9] 2 15 1 #SB_DFFSR
set_location uart_pc.timer_Count_RNO[4] 5 18 4 #SB_LUT4
set_location uart_frame_decoder.WDT[1] 7 15 1 #SB_DFFSR
set_location reset_module_System.count_RNO[15] 2 18 6 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_6_c 12 17 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[2] 8 24 5 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[1] 7 12 3 #SB_LUT4
set_location uart_drone.state_RNO[2] 3 20 1 #SB_LUT4
set_location uart_drone.data_esr[7] 3 16 7 #SB_DFFESR
set_location scaler_4.source_data_1_esr[8] 12 13 3 #SB_DFFESR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_4_c 9 14 4 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[10] 10 13 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses[12] 8 25 3 #SB_DFFSR
set_location frame_dron_decoder_1.state_ns_0_a3_0_1[3] 2 16 2 #SB_LUT4
set_location frame_dron_decoder_1.state[2] 1 13 0 #SB_DFFSR
set_location frame_dron_decoder_1.WDT_RNO[1] 2 14 1 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[2] 7 18 2 #SB_DFFESR
set_location uart_drone.state_RNI63LK2[3] 4 21 0 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[6] 12 13 1 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_4_c 10 13 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIHUUS[9] 10 26 5 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[2] 8 14 2 #SB_DFFESR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_6_c 11 12 6 #SB_CARRY
set_location ppm_encoder_1.throttle_RNI5V123[2] 8 24 7 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNIA5HI2[7] 1 14 2 #SB_LUT4
set_location uart_frame_decoder.state_1_RNI8GVT[5] 11 13 2 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_7_c_RNI8JDI 10 16 0 #SB_LUT4
set_location reset_module_System.count_RNI34OR1[21] 2 19 5 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_4_c 11 28 4 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI7NT8D[5] 7 26 5 #SB_CARRY
set_location ppm_encoder_1.elevator[8] 10 19 4 #SB_DFFSR
set_location uart_drone.data_Aux_RNO[2] 4 16 6 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_0_c_RNIIOOH 9 14 1 #SB_LUT4
set_location scaler_1.source_data_1_esr_RNO[6] 10 17 1 #SB_LUT4
set_location ppm_encoder_1.counter_RNIAEV01[8] 12 29 3 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[3] 3 18 3 #SB_LUT4
set_location scaler_3.source_data_1_esr[12] 11 15 7 #SB_DFFESR
set_location ppm_encoder_1.un1_throttle_cry_10_c 12 17 4 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_10_c 11 29 2 #SB_CARRY
set_location uart_pc.state_RNO_0[3] 5 16 1 #SB_LUT4
set_location reset_module_System.count[21] 2 19 4 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr[3] 11 27 7 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[17] 8 27 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIUQH7U2[16] 9 26 0 #SB_CARRY
set_location frame_dron_decoder_1.state_RNO[3] 2 13 3 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_14_c 7 16 6 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_9_c 10 14 0 #SB_CARRY
set_location scaler_2.source_data_1_RNO[4] 9 17 3 #SB_LUT4
set_location reset_module_System.count[17] 2 19 0 #SB_DFF
set_location uart_pc.state[0] 4 15 7 #SB_DFF
set_location ppm_encoder_1.un1_rudder_cry_6_c 11 17 0 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[12] 10 21 5 #SB_LUT4
set_location ppm_encoder_1.aileron[11] 9 20 6 #SB_DFFSS
set_location uart_pc.timer_Count_RNI5UFA2[3] 5 16 6 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[1] 5 10 4 #SB_LUT4
set_location uart_frame_decoder.WDT[15] 7 16 7 #SB_DFFSR
set_location uart_drone_sync.aux_2__0_[0] 5 2 3 #SB_DFF
set_location scaler_4.source_data_1_esr_RNO[13] 12 14 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[14] 13 22 1 #SB_DFFESR
set_location uart_frame_decoder.WDT[4] 7 15 4 #SB_DFFSR
set_location uart_drone_sync.aux_3__0_[0] 4 2 7 #SB_DFF
set_location scaler_4.un2_source_data_0_cry_1_c 12 13 0 #SB_CARRY
set_location reset_module_System.count_RNO[10] 2 18 1 #SB_LUT4
set_location reset_module_System.count_1_cry_7_c 2 17 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[7] 11 23 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNICKVN2[8] 9 21 2 #SB_LUT4
set_location uart_pc.bit_Count[0] 5 15 6 #SB_DFFSR
set_location uart_frame_decoder.state_1_RNO[4] 8 13 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses[11] 8 25 0 #SB_DFFSS
set_location ppm_encoder_1.elevator_RNIALRT5[11] 9 20 2 #SB_LUT4
set_location frame_dron_decoder_1.state[7] 1 13 7 #SB_DFFSR
set_location frame_dron_decoder_1.WDT_RNO[2] 2 14 2 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_9_c 7 16 1 #SB_CARRY
set_location uart_frame_decoder.state_1_RNI5DVT[2] 8 21 4 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[1] 7 18 1 #SB_DFFESR
set_location scaler_1.source_data_1_RNO[4] 9 17 1 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_8_c 11 17 2 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[8] 7 27 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[16] 9 26 0 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[9] 11 29 1 #SB_LUT4
set_location uart_frame_decoder.state_1_RNIAIVT[7] 7 13 6 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[7] 8 14 3 #SB_DFFESR
set_location scaler_3.source_data_1_esr[7] 11 15 2 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[10] 10 24 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI3B1IA[2] 7 26 2 #SB_CARRY
set_location uart_drone_sync.Q_0_[0] 4 2 2 #SB_DFF
set_location reset_module_System.count_1_cry_15_c 2 18 6 #SB_CARRY
set_location uart_drone.data_Aux_RNO[5] 4 17 3 #SB_LUT4
set_location reset_module_System.count_1_cry_18_c 2 19 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI9J0VC2[12] 9 25 4 #SB_CARRY
set_location ppm_encoder_1.aileron[9] 10 19 2 #SB_DFFSR
set_location uart_pc.timer_Count_RNO_0[3] 5 18 2 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[11] 7 16 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNIC2521[1] 13 26 2 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_2_c 12 13 1 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_8_c 9 15 0 #SB_CARRY
set_location ppm_encoder_1.rudder_esr_ctle[14] 9 19 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[10] 10 29 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNITGRP_0[14] 7 21 4 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIK8JI2[13] 10 25 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIBOUS_0[3] 7 24 3 #SB_LUT4
set_location uart_drone.state_RNIOU0N[4] 4 18 7 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_2_c_RNIR08I 10 15 3 #SB_LUT4
set_location reset_module_System.count_RNO[20] 2 19 3 #SB_LUT4
set_location reset_module_System.count_1_cry_16_c 2 18 7 #SB_CARRY
set_location ppm_encoder_1.rudder_esr_RNO[14] 11 18 0 #SB_LUT4
set_location ppm_encoder_1.rudder[12] 12 21 1 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[3] 11 27 7 #SB_LUT4
set_location ppm_encoder_1.counter_RNIDBJ8[13] 12 29 2 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[4] 5 12 4 #SB_LUT4
set_location uart_pc.data_Aux[1] 5 11 1 #SB_DFFSR
set_location uart_drone.timer_Count_RNIU8TV1[3] 4 20 2 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[10] 12 13 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[8] 10 20 3 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[11] 10 29 6 #SB_DFFESR
set_location frame_dron_decoder_1.state_ns_i_a2_2_0[0] 3 15 1 #SB_LUT4
set_location frame_dron_decoder_1.WDT[3] 2 14 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNO[8] 10 26 0 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI5GRT5[10] 10 24 1 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_5_c 7 15 5 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[7] 8 13 5 #SB_LUT4
set_location scaler_2.source_data_1_esr_RNO[6] 10 13 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses[14] 8 25 6 #SB_DFFSS
set_location ppm_encoder_1.aileron_RNO[6] 10 23 5 #SB_LUT4
set_location frame_dron_decoder_1.state[4] 1 13 3 #SB_DFFSR
set_location uart_pc.state_RNIBLRB2[4] 5 17 1 #SB_LUT4
set_location uart_frame_decoder.state_1_RNI9HVT[6] 7 14 0 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[4] 7 18 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[5] 7 26 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[13] 9 25 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses[7] 11 23 7 #SB_DFFSR
set_location uart_pc.timer_Count[2] 5 18 5 #SB_DFF
set_location uart_frame_decoder.state_1[3] 8 13 1 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr_RNO_2[11] 12 24 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIUHRP[15] 8 26 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNIHFK13[0] 8 22 5 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO_2[0] 2 16 5 #SB_LUT4
set_location uart_drone.state[0] 4 21 4 #SB_DFF
set_location scaler_4.source_data_1_esr[13] 12 14 0 #SB_DFFESR
set_location ppm_encoder_1.un1_elevator_cry_13_c 11 19 7 #SB_CARRY
set_location ppm_encoder_1.un1_aileron_cry_7_c 11 24 1 #SB_CARRY
set_location uart_frame_decoder.source_CH4data_esr[6] 11 11 6 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[5] 13 15 4 #SB_DFFESR
set_location uart_drone.bit_Count_RNO[0] 3 21 3 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_9_c 11 16 0 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_8_c 7 16 0 #SB_CARRY
set_location scaler_3.source_data_1_RNO[4] 9 17 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[8] 11 22 7 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_0_c 7 15 0 #SB_CARRY
set_location uart_frame_decoder.state_1_RNINMHJ[10] 9 12 4 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[5] 9 16 2 #SB_LUT4
set_location scaler_1.source_data_1_esr[7] 10 17 2 #SB_DFFESR
set_location ppm_encoder_1.throttle[9] 12 21 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNI9MUS_0[1] 7 21 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[8] 10 19 4 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[2] 8 22 2 #SB_DFF
set_location ppm_encoder_1.rudder_RNO[9] 11 21 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[6] 12 26 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIJ5N5R2[14] 9 25 6 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_27_c 10 27 4 #SB_CARRY
set_location ppm_encoder_1.PPM_STATE_RNISH5F[1] 12 25 7 #SB_LUT4
set_location uart_pc.data_Aux[2] 5 11 2 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[2] 7 15 2 #SB_LUT4
set_location reset_module_System.count_1_cry_19_c 2 19 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[5] 9 23 3 #SB_LUT4
set_location frame_dron_decoder_1.WDT[0] 2 14 0 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[5] 9 13 5 #SB_DFFESR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_3_c_RNI15MI 11 12 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_RNO[17] 9 28 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNIUS1G[4] 12 28 1 #SB_LUT4
set_location scaler_2.source_data_1_esr_RNO[5] 9 16 1 #SB_LUT4
set_location ppm_encoder_1.throttle[11] 10 19 5 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[2] 5 11 2 #SB_LUT4
set_location uart_drone.timer_Count[2] 3 19 7 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[12] 11 15 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[6] 7 26 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[10] 9 25 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses[4] 8 27 5 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[3] 11 28 3 #SB_LUT4
set_location uart_frame_decoder.state_1[6] 8 13 4 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_0_c 11 12 0 #SB_CARRY
set_location scaler_4.source_data_1_esr_RNO[8] 12 13 3 #SB_LUT4
set_location reset_module_System.count_1_cry_17_c 2 19 0 #SB_CARRY
set_location uart_pc.timer_Count_RNILR1B2[2] 8 10 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[15] 7 27 7 #SB_LUT4
set_location ppm_encoder_1.elevator_esr[14] 11 20 0 #SB_DFFESR
set_location scaler_4.source_data_1_esr[14] 12 14 1 #SB_DFFESR
set_location scaler_1.source_data_1_esr_RNO[9] 10 17 4 #SB_LUT4
set_location reset_module_System.count_RNO[1] 3 20 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIVIRP_0[16] 9 28 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI25DH2[12] 10 21 2 #SB_LUT4
set_location ppm_encoder_1.aileron[7] 10 22 6 #SB_DFFSR
set_location uart_frame_decoder.source_CH4data_esr[3] 11 11 3 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[0] 12 15 0 #SB_DFFESR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_1_c 9 14 1 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[10] 9 18 1 #SB_LUT4
set_location ppm_encoder_1.aileron_esr[5] 9 23 5 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_1_c 10 15 1 #SB_CARRY
set_location uart_drone.bit_Count[2] 4 22 5 #SB_DFFSR
set_location ppm_encoder_1.ppm_output_reg_RNO 12 21 2 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr[7] 7 17 7 #SB_DFFESR
set_location reset_module_System.count[19] 2 19 2 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[5] 11 26 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_1_c_RNO 11 27 3 #SB_LUT4
set_location uart_pc.data_Aux[7] 5 11 7 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[5] 7 15 5 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIQ3KK2[7] 10 22 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[6] 10 23 3 #SB_LUT4
set_location ppm_encoder_1.counter[16] 11 30 0 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[0] 12 24 1 #SB_DFF
set_location frame_dron_decoder_1.un1_WDT_cry_4_c 2 14 4 #SB_CARRY
set_location frame_dron_decoder_1.WDT[5] 2 14 5 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[6] 9 13 6 #SB_DFFESR
set_location uart_frame_decoder.count8_cry_2_c 8 19 2 #SB_CARRY
set_location ppm_encoder_1.un1_aileron_cry_6_c 11 24 0 #SB_CARRY
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_0_1[2] 8 11 5 #SB_LUT4
set_location uart_frame_decoder.count_RNO[0] 10 16 5 #SB_LUT4
set_location scaler_2.source_data_1_esr_RNO[8] 10 13 3 #SB_LUT4
set_location ppm_encoder_1.throttle[12] 10 21 7 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIP6F3I[6] 7 26 6 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[8] 10 19 0 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI7O1N_0[2] 7 23 5 #SB_LUT4
set_location uart_pc.data_esr[7] 7 11 7 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[7] 5 11 7 #SB_LUT4
set_location uart_drone.timer_Count[1] 4 19 7 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[11] 11 15 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[3] 7 26 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIANUS[2] 8 24 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI0KRP[17] 7 28 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses[1] 8 23 2 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[6] 11 28 6 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[11] 2 15 3 #SB_LUT4
set_location uart_frame_decoder.state_1[5] 8 13 3 #SB_DFFSR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_4_c 8 17 4 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[11] 10 19 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[4] 9 24 4 #SB_LUT4
set_location scaler_3.source_data_1_esr[9] 11 15 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[10] 7 27 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_0_rep1 8 21 3 #SB_DFF
set_location uart_pc.state_RNO[3] 5 16 2 #SB_LUT4
set_location reset_module_System.count_RNO[6] 2 17 5 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[10] 11 29 2 #SB_LUT4
set_location uart_pc.bit_Count_RNO_0[2] 5 14 7 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_0[1] 8 12 3 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr[0] 8 15 0 #SB_DFFESR
set_location uart_frame_decoder.source_CH4data_esr[0] 11 11 0 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[3] 12 15 3 #SB_DFFESR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_7_c 11 12 7 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_12_c 11 17 6 #SB_CARRY
set_location frame_dron_decoder_1.state_RNO_1[1] 1 17 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[2] 12 23 5 #SB_LUT4
set_location ppm_encoder_1.elevator[11] 10 19 3 #SB_DFFSS
set_location scaler_1.source_data_1_esr[9] 10 17 4 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr[8] 10 20 5 #SB_DFFESR
set_location uart_frame_decoder.source_offset1data_esr[2] 7 17 2 #SB_DFFESR
set_location reset_module_System.count[1] 3 20 4 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[8] 10 20 5 #SB_LUT4
set_location ppm_encoder_1.counter[4] 11 28 4 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_12_c 2 15 4 #SB_CARRY
set_location uart_pc.timer_Count_RNIPD2K1[2] 5 16 0 #SB_LUT4
set_location uart_pc.state_RNIMQ8T1[4] 5 17 6 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[8] 7 16 0 #SB_LUT4
set_location ppm_encoder_1.counter[13] 11 29 5 #SB_DFFSR
set_location uart_frame_decoder.state_1[10] 9 11 3 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[3] 9 13 3 #SB_DFFESR
set_location uart_drone.timer_Count_RNI5A9J[1] 3 19 0 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_39_c 10 27 6 #SB_CARRY
set_location scaler_4.un3_source_data.un3_source_data_0_cry_2_c 11 12 2 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_0_c 9 14 0 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_8_c 10 13 7 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIQDRP_0[11] 8 25 2 #SB_LUT4
set_location uart_pc.data_esr[0] 7 10 6 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[4] 5 11 4 #SB_LUT4
set_location uart_drone.timer_Count[4] 4 19 4 #SB_DFF
set_location scaler_2.N_520_i_l_ofx 9 15 7 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[5] 11 28 5 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[9] 2 15 1 #SB_LUT4
set_location uart_frame_decoder.state_1[8] 8 13 6 #SB_DFFSR
set_location uart_frame_decoder.source_offset4data_esr[2] 10 12 7 #SB_DFFESR
set_location ppm_encoder_1.throttle_esr_RNI62ME2[4] 9 22 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[7] 9 24 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI9MUS[1] 8 23 3 #SB_LUT4
set_location frame_dron_decoder_1.un1_WDT_cry_14_c 2 15 6 #SB_CARRY
set_location ppm_encoder_1.ppm_output_reg_RNO_2 10 29 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[13] 7 27 5 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[11] 10 19 3 #SB_LUT4
set_location ppm_encoder_1.elevator[7] 10 22 4 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_5_c 2 14 5 #SB_CARRY
set_location uart_pc.state_RNO[4] 5 16 5 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_1_c_RNIOS6I 10 15 2 #SB_LUT4
set_location scaler_2.source_data_1_esr[14] 10 14 1 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[12] 12 25 3 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIKVRT5[13] 10 25 1 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[15] 11 29 7 #SB_LUT4
set_location frame_dron_decoder_1.WDT[15] 2 15 7 #SB_DFFSR
set_location uart_frame_decoder.source_offset3data_esr[3] 8 15 3 #SB_DFFESR
set_location uart_drone.data_Aux[3] 3 17 3 #SB_DFFSR
set_location ppm_encoder_1.un1_counter_13_cry_14_c 11 29 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIERUS[6] 7 25 2 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_5_c 10 13 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[7] 11 22 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_4[18] 7 28 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI5ATG1[15] 8 26 0 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[3] 8 22 3 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_6_c 7 15 6 #SB_CARRY
set_location uart_frame_decoder.count[1] 8 18 4 #SB_DFF
set_location scaler_2.source_data_1_esr[8] 10 13 3 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_5_c 8 17 5 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[8] 12 19 2 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIOVDS2[14] 11 22 2 #SB_LUT4
set_location uart_frame_decoder.source_offset1data_esr[1] 7 17 1 #SB_DFFESR
set_location uart_frame_decoder.WDT_RNIAGPB[10] 8 16 1 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_3_c 10 15 3 #SB_CARRY
set_location scaler_1.un3_source_data.un3_source_data_0_cry_8_c 8 18 0 #SB_CARRY
set_location reset_module_System.count[2] 2 20 6 #SB_DFF
set_location ppm_encoder_1.throttle[7] 10 19 6 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNI7PNAA1[7] 9 24 7 #SB_CARRY
set_location ppm_encoder_1.elevator_RNO[6] 10 23 6 #SB_LUT4
set_location ppm_encoder_1.counter[7] 11 28 7 #SB_DFFSR
set_location uart_pc.bit_Count_RNO[2] 5 13 2 #SB_LUT4
set_location ppm_encoder_1.throttle_esr[4] 8 20 3 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[7] 10 20 6 #SB_LUT4
set_location ppm_encoder_1.counter[10] 11 29 2 #SB_DFFSR
set_location ppm_encoder_1.PPM_STATE_RNI09RH2[1] 12 29 4 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_1_c 3 19 0 #SB_CARRY
set_location scaler_4.un2_source_data_0_cry_5_c 12 13 4 #SB_CARRY
set_location scaler_3.un3_source_data.un3_source_data_0_axb_7 9 15 6 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_1_c 11 15 0 #SB_CARRY
set_location scaler_1.source_data_1_esr[14] 10 18 1 #SB_DFFESR
set_location reset_module_System.count_1_cry_3_c 2 17 2 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_13_c 11 17 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_RNO[18] 9 28 4 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO_0[1] 1 17 7 #SB_LUT4
set_location uart_pc.timer_Count_RNO[1] 5 17 7 #SB_LUT4
set_location reset_module_System.count_RNO[18] 2 19 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNITGRP[14] 8 25 7 #SB_LUT4
set_location uart_drone.data_esr[2] 2 12 3 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_6_c 8 17 6 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1 9 22 2 #SB_DFF
set_location uart_frame_decoder.source_offset4data_esr[7] 10 12 2 #SB_DFFESR
set_location uart_drone.timer_Count_RNO[0] 4 19 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[2] 9 24 2 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_6_c_RNI1HI11 8 17 7 #SB_LUT4
set_location reset_module_System.count_1_cry_11_c 2 18 2 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIGTUS_0[8] 10 26 2 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[12] 10 21 6 #SB_LUT4
set_location scaler_2.source_data_1_esr[11] 10 13 6 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[11] 12 25 5 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[16] 11 30 0 #SB_LUT4
set_location frame_dron_decoder_1.WDT[10] 2 15 2 #SB_DFFSR
set_location uart_frame_decoder.source_offset3data_esr[6] 8 15 6 #SB_DFFESR
set_location uart_drone.data_Aux[6] 4 17 1 #SB_DFFSR
set_location uart_drone.state_RNO_0[0] 4 21 3 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[4] 3 17 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[4] 11 22 6 #SB_LUT4
set_location uart_pc.timer_Count_RNIVT8S[2] 5 17 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[6] 12 26 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[12] 8 25 3 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO[4] 1 13 3 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[8] 11 15 3 #SB_LUT4
set_location reset_module_System.count[7] 2 17 6 #SB_DFF
set_location reset_module_System.count_1_cry_12_c 2 18 3 #SB_CARRY
set_location reset_module_System.count[12] 2 18 3 #SB_DFF
set_location ppm_encoder_1.throttle[2] 7 24 5 #SB_DFFSS
set_location ppm_encoder_1.rudder[7] 10 22 7 #SB_DFFSR
set_location ppm_encoder_1.counter[2] 11 28 2 #SB_DFFSR
set_location scaler_1.source_data_1_esr_RNO[12] 10 17 7 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_4_c 10 15 4 #SB_CARRY
set_location scaler_1.source_data_1_esr[13] 10 18 0 #SB_DFFESR
set_location ppm_encoder_1.counter_RNI637H[18] 12 29 0 #SB_LUT4
set_location uart_pc.timer_Count_RNO[2] 5 18 5 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_1_c 7 15 1 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_11_c 7 16 3 #SB_CARRY
set_location uart_frame_decoder.WDT[3] 7 15 3 #SB_DFFSR
set_location scaler_2.un2_source_data_0_cry_2_c 10 13 1 #SB_CARRY
set_location reset_module_System.count_RNO[17] 2 19 0 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_13_c 11 29 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[0] 8 24 1 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE[0] 8 23 6 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNO 9 22 2 #SB_LUT4
set_location uart_drone.state_RNO[0] 4 21 4 #SB_LUT4
set_location uart_drone.data_esr[1] 3 16 1 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_4_c_RNI19AI 10 15 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFL5EL[4] 9 24 4 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIC9HQ4[0] 7 26 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses[8] 10 26 0 #SB_DFFSS
set_location frame_dron_decoder_1.WDT_RNO[7] 2 14 7 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr[4] 12 12 3 #SB_DFFESR
set_location uart_drone.timer_Count_RNO[3] 3 19 6 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_3_c 10 17 2 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIQSUBC[4] 7 26 4 #SB_CARRY
set_location uart_frame_decoder.source_offset2data_esr[0] 8 14 0 #SB_DFFESR
set_location ppm_encoder_1.PPM_STATE_RNO[0] 8 23 6 #SB_LUT4
set_location uart_frame_decoder.count8_cry_2_c_inv 8 19 2 #SB_LUT4
set_location reset_module_System.count_1_cry_2_c 2 17 1 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[1] 12 22 7 #SB_LUT4
set_location uart_drone.data_Aux_RNO[0] 3 17 0 #SB_LUT4
set_location uart_drone.data_Aux[5] 4 17 3 #SB_DFFSR
set_location uart_frame_decoder.un1_WDT_cry_4_c 7 15 4 #SB_CARRY
set_location uart_frame_decoder.un1_WDT_cry_12_c 7 16 4 #SB_CARRY
set_location uart_frame_decoder.state_1_RNO[10] 9 11 3 #SB_LUT4
set_location uart_frame_decoder.count8_cry_1_c 8 19 1 #SB_CARRY
set_location uart_drone.data_Aux_RNO_0[1] 3 18 2 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_3_c_RNIU49I 10 15 4 #SB_LUT4
set_location scaler_3.source_data_1_esr[10] 11 15 5 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_7_c 8 17 7 #SB_CARRY
set_location uart_frame_decoder.state_1_ns_0_i_a2_0_4[1] 8 12 2 #SB_LUT4
set_location scaler_2.source_data_1_esr[6] 10 13 1 #SB_DFFESR
set_location ppm_encoder_1.throttle_RNO[6] 10 23 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[1] 11 27 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[15] 8 26 1 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO[1] 1 16 2 #SB_LUT4
set_location reset_module_System.count[15] 2 18 6 #SB_DFF
set_location ppm_encoder_1.throttle[1] 7 24 4 #SB_DFFSR
set_location uart_pc.state[2] 4 14 6 #SB_DFF
set_location uart_frame_decoder.state_1_RNIA2PK[4] 13 13 6 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_3_c 11 15 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[9] 10 20 1 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNI8CGI5[4] 9 22 5 #SB_LUT4
set_location ppm_encoder_1.aileron_RNO[10] 10 24 5 #SB_LUT4
set_location ppm_encoder_1.aileron[13] 14 25 5 #SB_DFFSS
set_location uart_pc.data_Aux_RNO_0[3] 5 12 2 #SB_LUT4
set_location uart_frame_decoder.WDT[13] 7 16 5 #SB_DFFSR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_5_c_RNI1DUH 9 14 6 #SB_LUT4
set_location frame_dron_decoder_1.WDT[8] 2 15 0 #SB_DFFSR
set_location uart_frame_decoder.WDT[6] 7 15 6 #SB_DFFSR
set_location scaler_4.un2_source_data_0_cry_7_c 12 13 6 #SB_CARRY
set_location reset_module_System.count_RNO[12] 2 18 3 #SB_LUT4
set_location reset_module_System.count_RNI97FD[5] 2 19 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[5] 11 23 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIH2VCU[16] 7 28 0 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_27_c_RNO 10 28 3 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[2] 13 13 0 #SB_LUT4
set_location uart_drone.state_RNO[3] 4 20 3 #SB_LUT4
set_location uart_drone.data_esr[4] 2 12 1 #SB_DFFESR
set_location scaler_4.source_data_1_esr[9] 12 13 4 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[13] 10 14 0 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_8_c_RNIPB6F 8 18 1 #SB_LUT4
set_location reset_module_System.count_RNO_0[2] 2 17 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI91LTR[5] 9 24 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses[13] 7 25 4 #SB_DFFSS
set_location frame_dron_decoder_1.state[1] 1 16 2 #SB_DFFSR
set_location frame_dron_decoder_1.WDT_RNO[0] 2 14 0 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[3] 7 18 3 #SB_DFFESR
set_location scaler_4.source_data_1_esr_RNO[7] 12 13 2 #SB_LUT4
set_location reset_module_System.count_1_cry_13_c 2 18 4 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIEDI96[6] 10 23 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[8] 9 25 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[18] 9 26 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIRERP_0[12] 8 25 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI60223[3] 7 24 1 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_2[1] 7 23 3 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[5] 8 14 5 #SB_DFFESR
set_location scaler_3.source_data_1_esr[5] 9 16 2 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_2[14] 11 22 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIE30FB[3] 7 26 3 #SB_CARRY
set_location ppm_encoder_1.elevator[9] 9 21 7 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_3_c 2 14 3 #SB_CARRY
set_location uart_frame_decoder.state_1_RNIBJVT[8] 7 14 2 #SB_LUT4
set_location uart_drone_sync.aux_1__0_[0] 7 2 4 #SB_DFF
set_location uart_drone.data_Aux_RNO[3] 3 17 3 #SB_LUT4
set_location reset_module_System.count_RNO[9] 2 18 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFE9HH1[8] 9 25 0 #SB_CARRY
set_location uart_pc.timer_Count_RNO_0[1] 5 17 3 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[13] 7 16 5 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[2] 4 18 3 #SB_LUT4
set_location scaler_3.source_data_1_esr[13] 11 16 0 #SB_DFFESR
set_location ppm_encoder_1.un1_aileron_cry_13_c 11 24 7 #SB_CARRY
set_location scaler_1.un2_source_data_0_cry_2_c 10 17 1 #SB_CARRY
set_location reset_module_System.count[20] 2 19 3 #SB_DFF
set_location ppm_encoder_1.throttle_RNO[1] 7 24 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[18] 8 26 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFSUS[7] 7 21 6 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO[2] 1 13 0 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_0_c 11 28 0 #SB_CARRY
set_location ppm_encoder_1.throttle_esr_RNI84ME2[5] 9 23 0 #SB_LUT4
set_location ppm_encoder_1.counter[8] 11 29 0 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_11_c 2 15 3 #SB_CARRY
set_location uart_drone.bit_Count_RNO_0[2] 4 21 6 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_10_c 11 19 4 #SB_CARRY
set_location ppm_encoder_1.aileron[10] 10 24 5 #SB_DFFSR
set_location uart_pc.data_Aux_RNO_0[6] 5 10 2 #SB_LUT4
set_location uart_frame_decoder.WDT[14] 7 16 6 #SB_DFFSR
set_location scaler_4.source_data_1_esr_RNO[12] 12 13 7 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_12_c 11 29 4 #SB_CARRY
set_location ppm_encoder_1.throttle_esr_RNI81QU2[14] 11 22 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[13] 11 26 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNISP2EM[11] 7 27 3 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNI78NT 8 23 0 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_13_c 7 16 5 #SB_CARRY
set_location uart_frame_decoder.WDT[5] 7 15 5 #SB_DFFSR
set_location reset_module_System.count_RNO[11] 2 18 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[6] 7 25 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNICPUS_0[4] 8 27 7 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_33_c_RNO 10 29 5 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNIV4V5[1] 8 23 4 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[5] 8 13 3 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_1_c 10 17 0 #SB_CARRY
set_location reset_module_System.count_RNO_0[1] 3 20 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIR6IFV1[10] 9 25 2 #SB_CARRY
set_location ppm_encoder_1.init_pulses[16] 8 27 0 #SB_DFFSR
set_location frame_dron_decoder_1.state[6] 1 15 0 #SB_DFFSR
set_location uart_frame_decoder.source_CH1data_esr[6] 7 18 6 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_0[15] 9 25 7 #SB_LUT4
set_location uart_pc.timer_Count[4] 5 18 4 #SB_DFF
set_location uart_frame_decoder.source_offset2data_esr[6] 8 14 6 #SB_DFFESR
set_location scaler_3.un2_source_data_0_cry_2_c 11 15 1 #SB_CARRY
set_location scaler_3.source_data_1_esr[6] 11 15 1 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[13] 10 25 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIT9RNO1[9] 9 25 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIN8U7N[12] 7 27 4 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_57_c_RNIGCO83 12 30 1 #SB_LUT4
set_location uart_drone.state[2] 3 20 1 #SB_DFF
set_location scaler_4.un2_source_data_0_cry_3_c 12 13 2 #SB_CARRY
set_location ppm_encoder_1.throttle_RNITSI96[9] 9 21 4 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIU0DH2[10] 10 24 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNI7RM01_0 8 23 5 #SB_LUT4
set_location uart_drone.data_Aux_RNO[6] 4 17 1 #SB_LUT4
set_location scaler_4.source_data_1_esr[11] 12 13 6 #SB_DFFESR
set_location scaler_3.un2_source_data_0_cry_1_c_RNO 9 17 6 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_6_c 11 19 0 #SB_CARRY
set_location uart_frame_decoder.WDT_RNO[10] 7 16 2 #SB_LUT4
set_location uart_drone.bit_Count_RNO[2] 4 22 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIPCRP[10] 8 26 7 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_4_c_RNIU8TH 9 14 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[13] 11 26 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNINCCVR[13] 7 27 5 #SB_CARRY
set_location scaler_3.source_data_1_esr_RNO[7] 11 15 2 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_7_c 11 28 7 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_21_c_RNO 11 26 6 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[0] 8 22 1 #SB_DFF
set_location reset_module_System.count[9] 2 18 0 #SB_DFF
set_location ppm_encoder_1.rudder[11] 12 20 2 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[0] 11 27 4 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNIV4V5_0[1] 9 22 6 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[5] 5 12 3 #SB_LUT4
set_location uart_pc.data_Aux[0] 5 11 0 #SB_DFFSR
set_location uart_frame_decoder.state_1_RNI6EVT[3] 9 15 3 #SB_LUT4
set_location uart_frame_decoder.WDT_RNO[0] 7 15 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[10] 10 29 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_2[18] 9 26 5 #SB_LUT4
set_location frame_dron_decoder_1.WDT[2] 2 14 2 #SB_DFFSR
set_location uart_pc.timer_Count_RNIRP8S[1] 5 18 0 #SB_LUT4
set_location uart_frame_decoder.state_1_RNI80PK[2] 12 16 7 #SB_LUT4
set_location uart_frame_decoder.WDT[8] 7 16 0 #SB_DFFSR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_2_c 10 15 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_RNO[15] 9 28 3 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[8] 8 13 6 #SB_LUT4
set_location scaler_2.source_data_1_esr_RNO[7] 10 13 2 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_axb_7 8 18 5 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_9_c 11 29 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses[15] 8 26 1 #SB_DFFSR
set_location ppm_encoder_1.aileron_RNO[7] 10 22 6 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[5] 7 18 5 #SB_DFFESR
set_location scaler_1.N_508_i_l_ofx 8 18 6 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_1_c 11 28 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_3[12] 9 19 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[4] 7 26 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[12] 9 25 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIUPKO2[13] 7 25 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses[6] 7 25 1 #SB_DFFSR
set_location frame_dron_decoder_1.un1_WDT_cry_10_c 2 15 2 #SB_CARRY
set_location frame_dron_decoder_1.WDT_RNO[14] 2 15 6 #SB_LUT4
set_location uart_pc.timer_Count[1] 5 17 7 #SB_DFF
set_location uart_frame_decoder.state_1[0] 9 11 0 #SB_DFFSS
set_location ppm_encoder_1.un1_counter_13_cry_15_c 11 29 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[12] 12 25 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[14] 12 22 5 #SB_LUT4
set_location frame_dron_decoder_1.un1_WDT_cry_1_c 2 14 1 #SB_CARRY
set_location frame_dron_decoder_1.WDT_RNI3A9C3[15] 1 14 3 #SB_LUT4
set_location uart_drone.state[1] 2 21 4 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNO_3[18] 9 26 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIP2OMJ2[13] 9 25 5 #SB_CARRY
set_location scaler_4.source_data_1_esr[12] 12 13 7 #SB_DFFESR
set_location scaler_3.source_data_1[4] 9 17 5 #SB_DFFSR
set_location reset_module_System.count_RNO[3] 2 17 2 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_11_c 11 24 5 #SB_CARRY
set_location uart_pc_sync.aux_2__0_[0] 8 4 3 #SB_DFF
set_location uart_frame_decoder.source_CH4data_esr[5] 11 11 5 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[6] 12 15 6 #SB_DFFESR
set_location uart_frame_decoder.WDT_RNO[15] 7 16 7 #SB_LUT4
set_location uart_drone.bit_Count_RNO[1] 3 21 0 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_7_c 10 15 7 #SB_CARRY
set_location scaler_2.source_data_1[4] 9 17 3 #SB_DFFSR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_1_c 8 17 1 #SB_CARRY
set_location reset_module_System.reset 3 20 2 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[14] 13 22 1 #SB_LUT4
set_location uart_drone.bit_Count[0] 3 21 3 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_axb_7 11 14 7 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_4_c 12 13 3 #SB_CARRY
set_location scaler_1.source_data_1_esr[6] 10 17 1 #SB_DFFESR
set_location ppm_encoder_1.un1_elevator_cry_12_c 11 19 6 #SB_CARRY
set_location ppm_encoder_1.elevator_RNO[9] 9 21 7 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[3] 8 22 3 #SB_DFF
set_location ppm_encoder_1.un1_aileron_cry_8_c 11 24 2 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[6] 13 19 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[7] 12 26 1 #SB_LUT4
set_location uart_pc.data_Aux[5] 5 11 5 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[3] 7 15 3 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_9_c 11 19 3 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[4] 8 22 7 #SB_LUT4
set_location ppm_encoder_1.counter[18] 11 30 2 #SB_DFFSR
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_0[1] 7 23 0 #SB_LUT4
set_location frame_dron_decoder_1.WDT[7] 2 14 7 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[4] 9 13 4 #SB_DFFESR
set_location ppm_encoder_1.throttle_RNIS5KK2[8] 9 21 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNILVFN5[1] 7 26 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIKT7PS[14] 7 27 6 #SB_CARRY
set_location ppm_encoder_1.elevator_RNI47DH2[13] 10 25 2 #SB_LUT4
set_location uart_frame_decoder.count_RNO[2] 8 18 7 #SB_LUT4
set_location scaler_4.source_data_1_esr[6] 12 13 1 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_2_c 8 17 2 #SB_CARRY
set_location ppm_encoder_1.throttle[10] 12 20 5 #SB_DFFSR
set_location ppm_encoder_1.init_pulses[18] 8 26 4 #SB_DFFSR
set_location frame_dron_decoder_1.source_data_valid_RNO 3 14 6 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNICPRL3[15] 1 14 6 #SB_LUT4
set_location uart_pc.data_esr[5] 7 11 5 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[1] 5 11 1 #SB_LUT4
set_location uart_drone.timer_Count[3] 3 19 6 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[13] 11 16 0 #SB_LUT4
set_location reset_module_System.count_1_cry_9_c 2 18 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[1] 7 26 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses[3] 11 23 0 #SB_DFFSR
set_location ppm_encoder_1.counter_RNO[0] 11 28 0 #SB_LUT4
set_location uart_frame_decoder.state_1[7] 8 13 5 #SB_DFFSR
set_location scaler_4.source_data_1_esr_RNO[9] 12 13 4 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[13] 10 25 7 #SB_LUT4
set_location uart_pc_sync.Q_0_[0] 8 8 0 #SB_DFF
set_location scaler_1.source_data_1_esr_ctle[14] 12 1 2 #SB_LUT4
set_location ppm_encoder_1.rudder_esr[5] 8 20 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[16] 7 28 0 #SB_LUT4
set_location frame_dron_decoder_1.state_RNIOTUU[6] 1 15 4 #SB_LUT4
set_location uart_pc.state_RNO[1] 4 13 5 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_3_c 9 14 3 #SB_CARRY
set_location scaler_1.source_data_1_esr_RNO[8] 10 17 3 #SB_LUT4
set_location reset_module_System.count_RNO[0] 2 20 1 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_1_c 10 27 0 #SB_CARRY
set_location uart_frame_decoder.source_CH4data_esr[2] 11 11 2 #SB_DFFESR
set_location uart_frame_decoder.source_CH3data_esr[1] 12 15 1 #SB_DFFESR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_1_c 11 12 1 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_2_c_RNIO0RH 9 14 3 #SB_LUT4
set_location ppm_encoder_1.rudder_RNO[13] 11 21 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_9_c 10 27 1 #SB_CARRY
set_location ppm_encoder_1.aileron_esr[4] 8 20 0 #SB_DFFESR
set_location ppm_encoder_1.elevator[13] 10 25 6 #SB_DFFSS
set_location ppm_encoder_1.un1_throttle_cry_11_c 12 17 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIR7352[3] 7 24 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNICPUS[4] 8 27 6 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_ns_3_0_.m6 7 22 3 #SB_LUT4
set_location frame_dron_decoder_1.un1_WDT_cry_6_c 2 14 6 #SB_CARRY
set_location uart_frame_decoder.source_offset1data_esr[4] 7 17 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIV99762[11] 9 25 3 #SB_CARRY
set_location uart_pc.data_rdy_RNO 9 18 7 #SB_LUT4
set_location uart_pc.data_Aux[6] 5 9 3 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[6] 7 15 6 #SB_LUT4
set_location uart_drone.bit_Count_RNIJOJC1[2] 4 21 2 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_0_c 10 15 0 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_17_c 11 30 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[2] 7 24 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIANLVA[2] 9 24 2 #SB_CARRY
set_location ppm_encoder_1.counter[15] 11 29 7 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[3] 7 22 2 #SB_DFF
set_location frame_dron_decoder_1.WDT[4] 2 14 4 #SB_DFFSR
set_location uart_frame_decoder.source_CH2data_esr[1] 9 13 1 #SB_DFFESR
set_location uart_drone.state_RNIAT1D1[4] 4 19 3 #SB_LUT4
set_location uart_drone.state_RNI62411[4] 4 20 6 #SB_LUT4
set_location uart_frame_decoder.count_RNO[1] 8 18 4 #SB_LUT4
set_location uart_frame_decoder.WDT_RNI17K92[15] 8 16 3 #SB_LUT4
set_location scaler_4.source_data_1_esr[5] 10 14 4 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_8_c 10 16 0 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[9] 10 13 4 #SB_LUT4
set_location scaler_1.un3_source_data.un3_source_data_0_cry_0_c_RNIFOB11 8 17 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIO0DTJ[8] 7 27 0 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[9] 10 19 2 #SB_LUT4
set_location uart_pc.data_esr[6] 9 10 1 #SB_DFFESR
set_location uart_pc.data_Aux_RNO[6] 5 9 3 #SB_LUT4
set_location reset_module_System.count_1_cry_5_c 2 17 4 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[2] 7 26 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses[0] 8 24 1 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[7] 11 28 7 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[12] 2 15 4 #SB_LUT4
set_location uart_pc.state_RNIUPE73[3] 5 14 3 #SB_LUT4
set_location uart_pc.bit_Count_RNI4U6E1[2] 5 14 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[10] 12 20 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[5] 9 24 5 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_15_c 10 27 2 #SB_CARRY
set_location uart_frame_decoder.source_data_valid 9 18 5 #SB_DFFSR
set_location uart_drone.timer_Count_RNIRC5U2[2] 2 16 7 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_6_c 12 13 5 #SB_CARRY
set_location scaler_3.un2_source_data_0_cry_4_c 11 15 3 #SB_CARRY
set_location scaler_3.source_data_1_esr[8] 11 15 3 #SB_DFFESR
set_location ppm_encoder_1.ppm_output_reg_RNO_0 11 21 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[11] 7 27 3 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_1[1] 7 23 6 #SB_LUT4
set_location uart_pc.state_RNO[2] 4 14 6 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_2_c 3 19 1 #SB_CARRY
set_location reset_module_System.count_RNO[5] 2 17 4 #SB_LUT4
set_location reset_module_System.count_1_cry_20_c 2 19 3 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_10_c 11 17 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[14] 12 22 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[13] 11 29 5 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO_0[0] 8 11 1 #SB_LUT4
set_location uart_frame_decoder.source_offset3data_esr[1] 8 15 1 #SB_DFFESR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_3_c 8 17 3 #SB_CARRY
set_location scaler_1.un3_source_data.un3_source_data_0_cry_1_c_RNIISC11 8 17 2 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO_1[0] 1 16 5 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_1_c_RNO 11 13 3 #SB_LUT4
set_location reset_module_System.count_1_cry_8_c 2 17 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[1] 12 27 0 #SB_LUT4
set_location scaler_1.source_data_1_esr[8] 10 17 3 #SB_DFFESR
set_location uart_pc.un4_timer_Count_1_cry_1_c 5 18 0 #SB_CARRY
set_location scaler_3.un2_source_data_0_cry_7_c 11 15 6 #SB_CARRY
set_location reset_module_System.count[0] 2 20 1 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[9] 10 20 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_9_c_RNO 10 28 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[1] 11 27 1 #SB_LUT4
set_location ppm_encoder_1.counter[12] 11 29 4 #SB_DFFSR
set_location uart_frame_decoder.state_1_RNID5PK[7] 7 13 5 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[3] 3 19 2 #SB_LUT4
set_location uart_pc.data_esr[3] 7 11 3 #SB_DFFESR
set_location uart_frame_decoder.state_1_RNIDPNH[1] 8 11 6 #SB_LUT4
set_location uart_frame_decoder.state_1_RNICKVT[9] 9 12 1 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIFQRT5[12] 10 21 1 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_57_c_RNO 10 28 7 #SB_LUT4
set_location uart_frame_decoder.state_1[9] 8 13 7 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNO_0[0] 8 24 0 #SB_LUT4
set_location ppm_encoder_1.aileron_esr[14] 11 25 0 #SB_DFFESR
set_location ppm_encoder_1.elevator_RNO[10] 10 24 6 #SB_LUT4
set_location scaler_2.source_data_1_esr[13] 10 14 0 #SB_DFFESR
set_location frame_dron_decoder_1.WDT[12] 2 15 4 #SB_DFFSR
set_location uart_drone.data_Aux[0] 3 17 0 #SB_DFFSR
set_location uart_frame_decoder.count[2] 8 18 7 #SB_DFF
set_location ppm_encoder_1.throttle_RNO[9] 12 21 3 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[4] 11 26 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[10] 8 26 6 #SB_LUT4
set_location reset_module_System.count[10] 2 18 1 #SB_DFF
set_location ppm_encoder_1.counter[0] 11 28 0 #SB_DFFSR
set_location uart_pc.bit_Count_RNO[1] 5 15 2 #SB_LUT4
set_location scaler_1.source_data_1_esr_RNO[10] 10 17 5 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_7_c 7 15 7 #SB_CARRY
set_location reset_module_System.count_RNO[19] 2 19 2 #SB_LUT4
set_location uart_drone.data_esr[3] 3 16 3 #SB_DFFESR
set_location frame_dron_decoder_1.WDT_RNO[5] 2 14 5 #SB_LUT4
set_location uart_frame_decoder.source_offset4data_esr[6] 10 12 6 #SB_DFFESR
set_location ppm_encoder_1.pulses2count[16] 9 28 1 #SB_DFFSR
set_location ppm_encoder_1.ppm_output_reg 12 21 2 #SB_DFFSS
set_location uart_pc_sync.aux_3__0_[0] 8 5 0 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNI2C7KL[10] 7 27 2 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIONI96[8] 9 21 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIO1KK2[6] 10 23 0 #SB_LUT4
set_location uart_pc_sync.aux_0__0_[0] 8 3 2 #SB_DFF
set_location uart_frame_decoder.source_offset3data_esr[7] 8 15 7 #SB_DFFESR
set_location uart_pc.timer_Count_RNO_0[4] 5 18 3 #SB_LUT4
set_location uart_drone.state_RNO_0[3] 4 20 5 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIMGR62[4] 9 22 1 #SB_LUT4
set_location uart_pc.data_rdy 9 18 7 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_2_c_RNIU0LI 11 12 3 #SB_LUT4
set_location frame_dron_decoder_1.state_RNO[7] 1 13 7 #SB_LUT4
set_location uart_drone.state_RNI9ADK1[4] 3 18 5 #SB_LUT4
set_location reset_module_System.count[6] 2 17 5 #SB_DFF
set_location uart_frame_decoder.WDT_RNIBI7E[6] 8 16 0 #SB_LUT4
set_location uart_frame_decoder.WDT[0] 7 15 0 #SB_DFFSR
set_location scaler_1.un2_source_data_0_cry_9_c 10 18 0 #SB_CARRY
set_location ppm_encoder_1.un1_aileron_cry_9_c 11 24 3 #SB_CARRY
set_location frame_dron_decoder_1.state[3] 2 13 3 #SB_DFFSR
set_location uart_drone.timer_Count_RNO[4] 4 19 4 #SB_LUT4
set_location uart_frame_decoder.un1_WDT_cry_10_c 7 16 2 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIGTUS[8] 10 26 1 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[0] 12 24 1 #SB_LUT4
set_location scaler_1.un2_source_data_0_cry_4_c 10 17 3 #SB_CARRY
set_location scaler_4.source_data_1[4] 9 17 7 #SB_DFFSR
set_location scaler_1.source_data_1[4] 9 17 1 #SB_DFFSR
set_location uart_frame_decoder.state_1_RNI7FVT[4] 13 14 3 #SB_LUT4
set_location reset_module_System.count_1_cry_6_c 2 17 5 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[7] 10 19 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[2] 10 29 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[16] 8 27 0 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_21_c 10 27 3 #SB_CARRY
set_location reset_module_System.count[16] 2 18 7 #SB_DFF
set_location uart_pc.state[1] 4 13 5 #SB_DFF
set_location ppm_encoder_1.aileron_RNO[13] 14 25 5 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[0] 5 12 7 #SB_LUT4
set_location uart_frame_decoder.WDT[12] 7 16 4 #SB_DFFSR
set_location scaler_1.un3_source_data.un3_source_data_0_cry_5_c_RNIUCH11 8 17 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFSUS_0[7] 7 21 5 #SB_LUT4
set_location scaler_3.N_532_i_l_ofx 10 16 3 #SB_LUT4
set_location reset_module_System.count_RNO[13] 2 18 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[4] 8 27 5 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[3] 8 13 1 #SB_LUT4
set_location uart_drone.data_esr[5] 3 16 5 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[12] 10 13 7 #SB_LUT4
set_location ppm_encoder_1.counter_RNIK1KG[0] 12 29 7 #SB_LUT4
set_location frame_dron_decoder_1.WDT_RNO[3] 2 14 3 #SB_LUT4
set_location uart_frame_decoder.source_CH1data_esr[0] 7 18 0 #SB_DFFESR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_6_c_RNI4HVH 9 14 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[9] 7 27 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[17] 9 26 1 #SB_LUT4
set_location uart_frame_decoder.source_offset2data_esr[4] 8 14 4 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[11] 9 20 5 #SB_LUT4
set_location uart_drone.data_rdy_RNO 3 14 3 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_8_c 11 13 0 #SB_CARRY
set_location uart_drone.data_Aux_RNO[4] 3 17 6 #SB_LUT4
set_location reset_module_System.count_RNO[8] 2 17 7 #SB_LUT4
set_location uart_pc.timer_Count_RNO_0[2] 5 18 1 #SB_LUT4
set_location scaler_3.source_data_1_esr[14] 11 16 1 #SB_DFFESR
set_location ppm_encoder_1.un1_counter_13_cry_2_c 11 28 2 #SB_CARRY
set_location frame_dron_decoder_1.un1_WDT_cry_13_c 2 15 5 #SB_CARRY
set_location GND -1 -1 -1 #GND
set_location ppm_encoder_1.throttle_RNIR7352[2] 7 24 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNISFRP[13] 7 25 5 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIAIVN2[7] 10 22 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNIGD613 7 23 1 #SB_LUT4
set_location ppm_encoder_1.rudder[13] 11 21 2 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[2] 10 29 3 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[11] 12 13 6 #SB_LUT4
set_location uart_pc.bit_Count[2] 5 13 2 #SB_DFFSR
set_location reset_module_System.count_1_cry_1_c 2 17 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses[17] 8 27 2 #SB_DFFSS
set_location frame_dron_decoder_1.state[5] 1 13 2 #SB_DFFSR
set_location scaler_2.un2_source_data_0_cry_1_c_RNO 9 12 3 #SB_LUT4
set_location uart_pc.timer_Count[3] 5 18 7 #SB_DFF
set_location uart_frame_decoder.state_1[2] 13 13 0 #SB_DFFSR
set_location scaler_3.un2_source_data_0_cry_8_c 11 15 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[10] 10 24 3 #SB_LUT4
set_location uart_drone.state[3] 4 20 3 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNI9VBQK[9] 7 27 1 #SB_CARRY
set_location uart_frame_decoder.count_RNI8GDP1[2] 9 12 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[12] 12 26 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI0KRP_0[17] 8 27 3 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_51_c_RNO 10 28 6 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[6] 11 15 1 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_6_c 9 14 6 #SB_CARRY
set_location ppm_encoder_1.throttle[8] 12 19 2 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_ns_3_0_.m9 7 22 1 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[1] 8 21 6 #SB_DFF
set_location uart_pc.data_Aux[3] 5 11 3 #SB_DFFSR
set_location uart_frame_decoder.WDT_RNO[1] 7 15 1 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_4_c 11 12 4 #SB_CARRY
set_location frame_dron_decoder_1.WDT[1] 2 14 1 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_RNO[16] 9 28 1 #SB_LUT4
set_location uart_frame_decoder.state_1_RNO[9] 8 13 7 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_12_c 12 17 6 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_3[11] 9 20 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[7] 7 26 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[11] 9 25 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNI33GU[3] 12 23 4 #SB_LUT4
set_location uart_frame_decoder.state_1_RNIF7PK[9] 9 12 0 #SB_LUT4
set_io uart_input_drone 2
set_io uart_data_rdy_debug 10
set_io ppm_output 9
set_io uart_input_pc 4
set_io uart_input_debug 6
set_io drone_frame_decoder_data_rdy_debug 46
set_io clk_system 35
