set_location IN_MUX_bfv_11_14_0_ 11 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_15_0_ 11 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_15_0_ 10 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_16_0_ 10 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_15_0_ 12 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_16_0_ 12 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_16_0_ 11 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_17_0_ 11 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_14_0_ 8 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_13_0_ 9 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_14_0_ 9 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_12_0_ 4 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_13_0_ 4 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_14_0_ 4 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_19_0_ 2 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_20_0_ 2 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_19_0_ 7 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_20_0_ 7 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_19_0_ 9 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_20_0_ 9 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_19_0_ 8 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_20_0_ 8 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_25_0_ 3 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_26_0_ 3 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_27_0_ 3 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_28_0_ 1 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_29_0_ 1 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_30_0_ 1 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_29_0_ 4 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_30_0_ 4 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_15_0_ 1 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_16_0_ 1 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_19_0_ 11 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_18_0_ 8 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_19_0_ 5 19 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_28_0_ 7 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_29_0_ 7 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_30_0_ 7 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_14_0_ 1 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_18_0_ 4 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_19_0_ 4 19 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 23 1 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_9_THRU_LUT4_0 2 20 2 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_8_THRU_LUT4_0 2 20 1 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_7_THRU_LUT4_0 2 20 0 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_6_THRU_LUT4_0 2 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_5_THRU_LUT4_0 2 19 6 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_4_THRU_LUT4_0 2 19 5 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_3_THRU_LUT4_0 2 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_2_THRU_LUT4_0 2 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_1_THRU_LUT4_0 2 19 2 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_12_THRU_LUT4_0 2 20 5 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_11_THRU_LUT4_0 2 20 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_10_THRU_LUT4_0 2 20 3 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_0_THRU_LUT4_0 2 19 1 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_9_THRU_LUT4_0 7 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_8_THRU_LUT4_0 7 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_7_THRU_LUT4_0 7 19 2 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_6_THRU_LUT4_0 7 19 1 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_12_THRU_LUT4_0 7 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_11_THRU_LUT4_0 7 19 6 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_10_THRU_LUT4_0 7 19 5 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_9_THRU_LUT4_0 9 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_8_THRU_LUT4_0 9 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_7_THRU_LUT4_0 9 19 2 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_6_THRU_LUT4_0 9 19 1 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_12_THRU_LUT4_0 9 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_11_THRU_LUT4_0 9 19 6 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_10_THRU_LUT4_0 9 19 5 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_9_THRU_LUT4_0 8 19 4 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_8_THRU_LUT4_0 8 19 3 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_7_THRU_LUT4_0 8 19 2 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_6_THRU_LUT4_0 8 19 1 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_12_THRU_LUT4_0 8 19 7 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_11_THRU_LUT4_0 8 19 6 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_10_THRU_LUT4_0 8 19 5 #SB_LUT4
set_location ppm_encoder_1.counter24_0_N_2_THRU_LUT4_0 4 30 2 #SB_LUT4
set_location Commands_frame_decoder.count8_THRU_LUT4_0 11 19 3 #SB_LUT4
set_location uart_pc_sync.aux_3__0__0_THRU_LUT4_0 7 2 4 #SB_LUT4
set_location uart_pc_sync.aux_2__0__0_THRU_LUT4_0 7 1 7 #SB_LUT4
set_location uart_pc_sync.aux_1__0__0_THRU_LUT4_0 9 1 2 #SB_LUT4
set_location uart_pc_sync.aux_0__0__0_THRU_LUT4_0 9 1 1 #SB_LUT4
set_location uart_pc_sync.Q_0__0_THRU_LUT4_0 7 2 2 #SB_LUT4
set_location uart_drone_sync.aux_3__0__0_THRU_LUT4_0 8 2 5 #SB_LUT4
set_location uart_drone_sync.aux_2__0__0_THRU_LUT4_0 8 1 1 #SB_LUT4
set_location uart_drone_sync.aux_1__0__0_THRU_LUT4_0 8 1 6 #SB_LUT4
set_location uart_drone_sync.aux_0__0__0_THRU_LUT4_0 8 1 0 #SB_LUT4
set_location uart_drone_sync.Q_0__0_THRU_LUT4_0 8 2 7 #SB_LUT4
set_location uart_drone.data_esr_7_THRU_LUT4_0 4 16 7 #SB_LUT4
set_location uart_drone.data_esr_6_THRU_LUT4_0 4 16 6 #SB_LUT4
set_location uart_drone.data_esr_5_THRU_LUT4_0 4 16 5 #SB_LUT4
set_location uart_drone.data_esr_4_THRU_LUT4_0 4 16 4 #SB_LUT4
set_location uart_drone.data_esr_3_THRU_LUT4_0 4 16 3 #SB_LUT4
set_location uart_drone.data_esr_2_THRU_LUT4_0 4 16 2 #SB_LUT4
set_location uart_drone.data_esr_1_THRU_LUT4_0 4 16 1 #SB_LUT4
set_location uart_drone.data_esr_0_THRU_LUT4_0 4 16 0 #SB_LUT4
set_location scaler_4.source_data_1_esr_14_THRU_LUT4_0 10 16 1 #SB_LUT4
set_location scaler_3.source_data_1_esr_14_THRU_LUT4_0 11 17 1 #SB_LUT4
set_location scaler_2.source_data_1_esr_14_THRU_LUT4_0 9 14 1 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_5_THRU_LUT4_0 4 23 2 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_4_THRU_LUT4_0 1 27 1 #SB_LUT4
set_location ppm_encoder_1.elevator_esr_5_THRU_LUT4_0 4 23 1 #SB_LUT4
set_location ppm_encoder_1.elevator_esr_4_THRU_LUT4_0 3 24 2 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_5_THRU_LUT4_0 4 23 0 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_4_THRU_LUT4_0 3 24 1 #SB_LUT4
set_location pid_alt.source_p_ess_6_THRU_LUT4_0 1 9 3 #SB_LUT4
set_location pid_alt.source_p_ess_3_THRU_LUT4_0 1 9 2 #SB_LUT4
set_location pid_alt.source_p_ess_2_THRU_LUT4_0 1 9 1 #SB_LUT4
set_location pid_alt.source_p_ess_13_THRU_LUT4_0 1 9 0 #SB_LUT4
set_location pid_alt.source_data_valid_THRU_LUT4_0 3 18 7 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_9_THRU_LUT4_0 2 18 4 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_8_THRU_LUT4_0 1 18 3 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_7_THRU_LUT4_0 1 20 0 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_6_THRU_LUT4_0 2 14 6 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_15_THRU_LUT4_0 1 18 2 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_14_THRU_LUT4_0 2 18 1 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_13_THRU_LUT4_0 1 17 7 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_12_THRU_LUT4_0 1 17 5 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_11_THRU_LUT4_0 1 17 3 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_10_THRU_LUT4_0 1 17 1 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_ess_7_THRU_LUT4_0 10 14 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_6_THRU_LUT4_0 13 14 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_5_THRU_LUT4_0 10 14 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_4_THRU_LUT4_0 10 14 3 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_3_THRU_LUT4_0 13 14 1 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_2_THRU_LUT4_0 10 14 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_1_THRU_LUT4_0 10 14 6 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr_0_THRU_LUT4_0 10 14 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_ess_7_THRU_LUT4_0 13 16 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_6_THRU_LUT4_0 13 15 1 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_5_THRU_LUT4_0 13 15 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_4_THRU_LUT4_0 13 15 3 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_3_THRU_LUT4_0 13 15 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_2_THRU_LUT4_0 13 15 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_1_THRU_LUT4_0 13 15 6 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr_0_THRU_LUT4_0 13 16 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_ess_7_THRU_LUT4_0 9 10 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_6_THRU_LUT4_0 8 12 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_5_THRU_LUT4_0 8 12 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_4_THRU_LUT4_0 9 12 6 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_3_THRU_LUT4_0 8 12 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_2_THRU_LUT4_0 9 12 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_1_THRU_LUT4_0 9 12 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr_0_THRU_LUT4_0 9 12 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_ess_7_THRU_LUT4_0 10 12 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_6_THRU_LUT4_0 11 13 6 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_5_THRU_LUT4_0 11 13 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_4_THRU_LUT4_0 11 13 4 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_3_THRU_LUT4_0 11 13 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_2_THRU_LUT4_0 11 13 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_1_THRU_LUT4_0 12 12 6 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr_0_THRU_LUT4_0 12 13 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_ess_7_THRU_LUT4_0 12 17 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_6_THRU_LUT4_0 12 14 6 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_5_THRU_LUT4_0 12 14 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_4_THRU_LUT4_0 12 14 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_3_THRU_LUT4_0 12 14 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_2_THRU_LUT4_0 12 14 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_1_THRU_LUT4_0 12 17 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr_0_THRU_LUT4_0 11 12 0 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_ess_7_THRU_LUT4_0 8 10 6 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_6_THRU_LUT4_0 7 13 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_5_THRU_LUT4_0 7 13 0 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_4_THRU_LUT4_0 7 13 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_3_THRU_LUT4_0 7 13 4 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_2_THRU_LUT4_0 7 13 7 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_1_THRU_LUT4_0 7 13 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr_0_THRU_LUT4_0 7 11 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_esr_7_THRU_LUT4_0 3 16 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_esr_6_THRU_LUT4_0 3 16 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_esr_5_THRU_LUT4_0 3 16 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_esr_4_THRU_LUT4_0 3 16 0 #SB_LUT4
set_location scaler_3.source_data_1[4] 9 16 5 #SB_DFFSR
set_location uart_pc_sync.aux_2__0_[0] 7 1 7 #SB_DFF
set_location scaler_3.un3_source_data.un3_source_data_0_cry_7_c 12 15 7 #SB_CARRY
set_location Commands_frame_decoder.state_1_RNISJ1O[3] 7 14 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr[3] 7 13 4 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[7] 4 18 7 #SB_LUT4
set_location reset_module_System.reset 5 10 1 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[14] 8 29 5 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNI4FIN5[5] 3 24 6 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_axb_7 10 13 1 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_12_c 9 19 6 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[3] 1 26 6 #SB_DFF
set_location ppm_encoder_1.un1_aileron_cry_8_c 8 19 2 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[11] 1 14 3 #SB_LUT4
set_location uart_pc.data_Aux[5] 5 20 5 #SB_DFFSR
set_location ppm_encoder_1.un1_elevator_cry_9_c 9 19 3 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[4] 3 24 3 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_0[1] 2 28 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr[4] 12 14 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIKT7PS[14] 1 29 6 #SB_CARRY
set_location scaler_4.source_data_1_esr[6] 10 15 1 #SB_DFFESR
set_location ppm_encoder_1.throttle[10] 2 21 4 #SB_DFFSR
set_location uart_drone.timer_Count[3] 5 18 6 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[13] 11 17 0 #SB_LUT4
set_location reset_module_System.count_1_cry_9_c 4 13 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[1] 1 28 1 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[9] 10 15 4 #SB_LUT4
set_location ppm_encoder_1.rudder_esr[5] 4 23 2 #SB_DFFESR
set_location dron_frame_decoder_1.source_Altitude_esr[11] 1 17 3 #SB_DFFESR
set_location uart_pc.state_RNO[1] 7 15 3 #SB_LUT4
set_location reset_module_System.count_RNO[0] 4 11 7 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_1_c 4 29 0 #SB_CARRY
set_location scaler_3.N_533_i_l_ofx 12 16 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_ess[7] 9 10 7 #SB_DFFESS
set_location ppm_encoder_1.un1_throttle_cry_11_c 2 20 3 #SB_CARRY
set_location dron_frame_decoder_1.WDT[2] 1 13 2 #SB_DFFSR
set_location dron_frame_decoder_1.un1_WDT_cry_7_c 1 13 7 #SB_CARRY
set_location Commands_frame_decoder.count[2] 11 19 5 #SB_DFF
set_location uart_drone.bit_Count_RNIJOJC1[2] 7 14 1 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_0_c 12 15 0 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_0_c_RNIUVGK 8 13 1 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_17_c 7 30 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[2] 3 27 6 #SB_LUT4
set_location ppm_encoder_1.counter[15] 7 29 7 #SB_DFFSR
set_location pid_alt.source_p[8] 1 11 7 #SB_DFFE
set_location Commands_frame_decoder.state_1_RNI4CRE[8] 14 16 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr[0] 9 12 3 #SB_DFFESR
set_location ppm_encoder_1.PPM_STATE_RNI78NT[0] 4 26 0 #SB_LUT4
set_location dron_frame_decoder_1.state[5] 3 13 0 #SB_DFFSR
set_location Commands_frame_decoder.WDT[6] 4 18 6 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[6] 5 21 0 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_5_c_RNIDKMK 8 13 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses[0] 2 27 1 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[7] 7 28 7 #SB_LUT4
set_location uart_pc.state_RNIUPE73[3] 3 19 6 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[10] 2 21 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[5] 3 25 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIMFG0K1[8] 3 26 0 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_15_c 4 29 2 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[3] 1 13 3 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_6_c 10 15 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[11] 1 29 3 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_1[1] 2 28 3 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[3] 5 15 4 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_2_c_RNI48JK 8 13 3 #SB_LUT4
set_location reset_module_System.count_1_cry_20_c 4 14 3 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_10_c 7 19 4 #SB_CARRY
set_location Commands_frame_decoder.source_CH2data_esr[5] 7 13 0 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[1] 4 18 1 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_5_c_RNIGK3L 12 15 6 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_5_c 2 19 5 #SB_CARRY
set_location ppm_encoder_1.elevator_RNI8GVN2[6] 1 24 5 #SB_LUT4
set_location ppm_encoder_1.elevator[10] 8 21 6 #SB_DFFSR
set_location dron_frame_decoder_1.source_Altitude_esr[7] 1 20 0 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr[9] 3 29 5 #SB_DFFESR
set_location ppm_encoder_1.counter[5] 7 28 5 #SB_DFFSR
set_location uart_drone.state_RNI40411[2] 7 17 5 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNISL0F[1] 5 24 1 #SB_LUT4
set_location uart_drone.timer_Count_RNIDGR31[2] 5 18 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_15_c_RNO 4 28 0 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNITH3L6[14] 4 24 0 #SB_LUT4
set_location pid_alt.error_cry_4_c 1 15 4 #SB_CARRY
set_location Commands_frame_decoder.WDT_RNO[14] 4 19 6 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_45_c_RNO 8 29 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[13] 7 27 0 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[14] 7 29 6 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO[5] 3 13 0 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_4_c_RNIGGFL 11 14 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[6] 7 26 7 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[0] 2 25 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI5QE01_0[0] 2 25 5 #SB_LUT4
set_location scaler_2.source_data_1_esr[9] 9 13 4 #SB_DFFESR
set_location reset_module_System.count_RNIR9N6[1] 4 11 3 #SB_LUT4
set_location dron_frame_decoder_1.WDT[4] 1 13 4 #SB_DFFSR
set_location uart_pc.timer_Count_RNIMQ8T1[2] 4 17 2 #SB_LUT4
set_location reset_module_System.count[5] 4 12 4 #SB_DFF
set_location ppm_encoder_1.elevator_esr[5] 4 23 1 #SB_DFFESR
set_location ppm_encoder_1.elevator_RNO[7] 2 22 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_13_c 2 20 5 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[4] 3 30 5 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1[1] 2 28 2 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_6_c_RNIIUTM 8 13 7 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIJII96[7] 2 23 1 #SB_LUT4
set_location uart_pc.timer_Count_RNO[0] 7 18 5 #SB_LUT4
set_location pid_alt.error_cry_11_c_RNI5JAH 1 16 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_1_RNO[4] 3 10 3 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_8_c_RNIRV25 12 16 1 #SB_LUT4
set_location uart_drone.timer_Count_RNO[1] 5 17 4 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_6_c 11 16 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_0[3] 3 25 3 #SB_LUT4
set_location pid_alt.source_p_RNO[8] 1 11 7 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[5] 5 14 3 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_3_c 5 19 2 #SB_CARRY
set_location scaler_2.source_data_1_esr[10] 9 13 5 #SB_DFFESR
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[3] 1 26 5 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_1[1] 3 12 4 #SB_LUT4
set_location dron_frame_decoder_1.state_RNI0AAT1[7] 3 17 4 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI2Q1O[9] 13 17 5 #SB_LUT4
set_location uart_drone.data_Aux[7] 5 16 4 #SB_DFFSR
set_location ppm_encoder_1.counter24_0_I_57_c_RNIRCE81 4 26 1 #SB_LUT4
set_location reset_module_System.count_1_cry_10_c 4 13 1 #SB_CARRY
set_location ppm_encoder_1.elevator_esr_RNO[14] 9 20 0 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[1] 2 15 0 #SB_DFFESR
set_location Commands_frame_decoder.state_1_RNIRI1O[2] 5 15 2 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[4] 2 21 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[7] 8 27 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[13] 4 27 6 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_0_rep1_RNO 1 22 7 #SB_LUT4
set_location dron_frame_decoder_1.WDT[14] 1 14 6 #SB_DFFSR
set_location reset_module_System.count[13] 4 13 4 #SB_DFF
set_location ppm_encoder_1.throttle[3] 1 25 5 #SB_DFFSR
set_location ppm_encoder_1.rudder[8] 7 21 5 #SB_DFFSR
set_location ppm_encoder_1.counter[3] 7 28 3 #SB_DFFSR
set_location Commands_frame_decoder.state_1_ns_0_a4_0_0[1] 8 15 0 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_RNO[0] 2 16 5 #SB_LUT4
set_location uart_pc.state[4] 7 17 2 #SB_DFF
set_location uart_pc.data_RNO[1] 4 17 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI7O1N[2] 4 27 5 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr[1] 10 14 6 #SB_DFFESR
set_location reset_module_System.count_RNO[14] 4 13 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[3] 1 25 0 #SB_LUT4
set_location uart_drone.state_RNO[1] 7 15 2 #SB_LUT4
set_location uart_drone.data_esr[6] 4 16 6 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[11] 9 13 6 #SB_LUT4
set_location reset_module_System.count_RNIMJ304[12] 4 11 6 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_5_c 7 28 5 #SB_CARRY
set_location ppm_encoder_1.elevator_RNIEMVN2[9] 3 23 6 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_45_c 4 29 7 #SB_CARRY
set_location Commands_frame_decoder.WDT_RNO[12] 4 19 4 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[5] 9 15 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count[15] 8 30 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIVIRP[16] 5 26 5 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_6_c 9 13 5 #SB_CARRY
set_location dron_frame_decoder_1.state_RNO[3] 3 13 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[2] 11 13 2 #SB_DFFESR
set_location uart_drone.data_Aux_RNO[1] 8 16 1 #SB_LUT4
set_location reset_module_System.count_RNISRMR1[10] 5 13 2 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNO[14] 8 20 0 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[0] 9 15 6 #SB_LUT4
set_location scaler_3.source_data_1_esr[11] 11 16 6 #SB_DFFESR
set_location Commands_frame_decoder.un1_WDT_cry_14_c 4 19 6 #SB_CARRY
set_location uart_pc.state_RNO_0[2] 7 16 6 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_8_c 10 15 7 #SB_CARRY
set_location scaler_2.source_data_1_esr[7] 9 13 2 #SB_DFFESR
set_location ppm_encoder_1.aileron[12] 3 22 6 #SB_DFFSS
set_location uart_pc.state_RNIEAGS[4] 7 18 2 #SB_LUT4
set_location uart_pc.bit_Count[1] 3 20 3 #SB_DFFSR
set_location ppm_encoder_1.throttle_RNIN3352[0] 2 27 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses[10] 4 26 5 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNO_0[9] 3 26 1 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[8] 7 29 0 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_7_c 8 13 7 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIAVNR2[0] 2 27 4 #SB_LUT4
set_location uart_drone.state[4] 8 17 6 #SB_DFF
set_location scaler_4.un3_source_data.un3_source_data_0_cry_5_c 11 14 5 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_1_c 9 13 0 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI35QO1[0] 1 26 2 #SB_LUT4
set_location reset_module_System.reset_RNO 5 10 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIGK7EF2[12] 3 26 4 #SB_CARRY
set_location ppm_encoder_1.aileron[8] 4 21 7 #SB_DFFSR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_2_c_RNI780L 12 15 3 #SB_LUT4
set_location Commands_frame_decoder.state_1[1] 9 17 7 #SB_DFFSR
set_location ppm_encoder_1.throttle_RNO[2] 2 26 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[11] 4 28 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI69TSV2[15] 3 26 7 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI4B27R1[9] 3 26 1 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_8_c_RNIQL42 8 14 1 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_7_c 9 13 6 #SB_CARRY
set_location ppm_encoder_1.throttle_RNI82223[3] 1 25 2 #SB_LUT4
set_location ppm_encoder_1.counter[9] 7 29 1 #SB_DFFSR
set_location pid_alt.error_cry_10_c_RNI0SDO 1 16 3 #SB_LUT4
set_location reset_module_System.count_RNO[21] 4 14 4 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_12_c 8 19 6 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[14] 1 14 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[9] 4 22 1 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[12] 4 28 6 #SB_DFFESR
set_location pid_alt.error_axb_2 2 15 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr[3] 12 14 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[9] 2 29 4 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_9_c 10 16 0 #SB_CARRY
set_location pid_alt.source_p_ess[13] 1 9 0 #SB_DFFESS
set_location ppm_encoder_1.init_pulses_RNO_0[14] 3 26 6 #SB_LUT4
set_location pid_alt.source_p_ess[6] 1 9 3 #SB_DFFESS
set_location dron_frame_decoder_1.un1_WDT_cry_5_c 1 13 5 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[12] 3 22 5 #SB_LUT4
set_location pid_alt.error_cry_5_c_RNIQM3T 1 15 6 #SB_LUT4
set_location uart_drone_sync.aux_0__0_[0] 8 1 0 #SB_DFF
set_location uart_drone.data_Aux_RNO[7] 5 16 4 #SB_LUT4
set_location scaler_4.source_data_1_esr[10] 10 15 5 #SB_DFFESR
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNIGD613[3] 1 26 4 #SB_LUT4
set_location Commands_frame_decoder.count8_cry_2_c_RNIARGV 11 19 4 #SB_LUT4
set_location reset_module_System.count_1_cry_4_c 4 12 3 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[9] 2 29 7 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[2] 2 15 4 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIU7KK2[9] 3 23 3 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_6_c 4 18 6 #SB_CARRY
set_location reset_module_System.count[8] 4 12 7 #SB_DFF
set_location ppm_encoder_1.un1_rudder_cry_11_c 7 19 5 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[8] 7 21 5 #SB_LUT4
set_location ppm_encoder_1.rudder[10] 7 21 0 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr_RNO[1] 5 28 7 #SB_LUT4
set_location pid_alt.source_p[5] 1 10 1 #SB_DFFE
set_location ppm_encoder_1.throttle_RNIG4JI2[11] 4 24 3 #SB_LUT4
set_location pid_alt.error_cry_0_c 1 15 0 #SB_CARRY
set_location dron_frame_decoder_1.state[2] 3 13 7 #SB_DFFSR
set_location Commands_frame_decoder.WDT[1] 4 18 1 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[3] 5 20 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses[5] 5 25 0 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[2] 7 28 2 #SB_LUT4
set_location uart_pc.timer_Count[0] 7 18 5 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_2[13] 7 24 0 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[4] 1 13 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[14] 1 29 6 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_10_c 1 14 2 #SB_CARRY
set_location Commands_frame_decoder.source_offset3data_esr[6] 13 15 1 #SB_DFFESR
set_location Commands_frame_decoder.source_CH1data_esr[7] 3 16 3 #SB_DFFESR
set_location reset_module_System.count_RNO[2] 4 11 2 #SB_LUT4
set_location ppm_encoder_1.aileron[6] 1 24 6 #SB_DFFSS
set_location ppm_encoder_1.rudder_RNO[11] 7 22 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIDQUS[5] 5 25 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr[2] 7 13 7 #SB_DFFESR
set_location Commands_frame_decoder.count_RNIT86R[0] 11 19 6 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNO[4] 4 18 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI1RO4D[2] 3 25 2 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNILS7D[3] 2 25 1 #SB_LUT4
set_location uart_drone.bit_Count[1] 9 18 6 #SB_DFFSR
set_location Commands_frame_decoder.state_1_RNI2D06[1] 9 17 0 #SB_LUT4
set_location reset_module_System.count[18] 4 14 1 #SB_DFF
set_location ppm_encoder_1.rudder_RNO[7] 5 23 1 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[4] 4 28 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI83E0J[7] 1 28 7 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[12] 1 14 4 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO_0[2] 4 15 7 #SB_LUT4
set_location uart_pc.data_Aux[4] 5 20 4 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr_RNO_2[7] 2 23 3 #SB_LUT4
set_location ppm_encoder_1.counter[17] 7 30 1 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[1] 1 22 6 #SB_DFF
set_location Commands_frame_decoder.source_CH3data_esr[5] 12 14 5 #SB_DFFESR
set_location reset_module_System.count_RNI9O1P[2] 5 12 3 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr[2] 9 12 7 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNIUG2B4[7] 4 20 4 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[4] 5 19 3 #SB_LUT4
set_location scaler_4.source_data_1_esr[7] 10 15 2 #SB_DFFESR
set_location ppm_encoder_1.un1_throttle_cry_0_c 2 19 0 #SB_CARRY
set_location ppm_encoder_1.throttle[13] 2 21 5 #SB_DFFSS
set_location ppm_encoder_1.counter24_0_I_39_c_RNO 5 29 2 #SB_LUT4
set_location dron_frame_decoder_1.state[7] 3 13 6 #SB_DFFSR
set_location Commands_frame_decoder.WDT[4] 4 18 4 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[0] 5 20 0 #SB_LUT4
set_location uart_drone.timer_Count[0] 5 17 1 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[10] 11 16 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[0] 2 27 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIQ6UKT2[14] 3 26 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses[2] 2 26 1 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[1] 7 28 1 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIOIR62[5] 3 24 7 #SB_LUT4
set_location uart_pc_sync.aux_1__0_[0] 9 1 2 #SB_DFF
set_location scaler_4.un3_source_data.un3_source_data_0_cry_8_c_RNIS918 11 15 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[12] 3 21 7 #SB_LUT4
set_location pid_alt.source_p_RNO[0] 1 11 4 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNIHIDC[4] 2 14 3 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[1] 1 13 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNII4O59[1] 3 25 1 #SB_CARRY
set_location ppm_encoder_1.rudder_esr[4] 1 27 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[17] 1 30 1 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI03DH2[11] 4 24 5 #SB_LUT4
set_location pid_alt.source_p_1[3] 1 11 6 #SB_DFFE
set_location dron_frame_decoder_1.WDT_RNIC5NL3[15] 2 13 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr[5] 13 15 5 #SB_DFFESR
set_location uart_pc.state_RNO[0] 7 16 1 #SB_LUT4
set_location reset_module_System.count_RNO[7] 4 12 6 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[11] 7 29 3 #SB_LUT4
set_location ppm_encoder_1.rudder_RNO[12] 7 22 3 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNO[3] 4 18 3 #SB_LUT4
set_location uart_pc.state_RNIITIF1[4] 7 18 4 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_16_c 7 30 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[3] 5 27 7 #SB_LUT4
set_location ppm_encoder_1.elevator[12] 8 22 1 #SB_DFFSS
set_location dron_frame_decoder_1.source_Altitude_esr[9] 2 18 4 #SB_DFFESR
set_location ppm_encoder_1.throttle_RNII6JI2[12] 3 22 1 #SB_LUT4
set_location dron_frame_decoder_1.WDT[1] 1 13 1 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIHUUS_0[9] 2 29 6 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data[1] 2 10 5 #SB_DFF
set_location uart_pc.data[2] 5 17 0 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_1[3] 5 27 0 #SB_LUT4
set_location ppm_encoder_1.counter[14] 7 29 6 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[2] 7 27 6 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNIQDRP[11] 1 23 4 #SB_LUT4
set_location uart_drone.timer_Count_RNO_0[1] 5 17 3 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_axb_7 8 11 1 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_11_c 9 19 5 #SB_CARRY
set_location dron_frame_decoder_1.state[4] 3 17 1 #SB_DFFSR
set_location Commands_frame_decoder.state_1_RNIU5RE[2] 5 15 3 #SB_LUT4
set_location Commands_frame_decoder.WDT[7] 4 18 7 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[5] 5 20 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIIF3JT[15] 1 29 7 #SB_CARRY
set_location ppm_encoder_1.counter_RNO[4] 7 28 4 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_51_c 4 30 0 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI8J2H[2] 1 26 1 #SB_LUT4
set_location pid_alt.error_cry_2_c 1 15 2 #SB_CARRY
set_location Commands_frame_decoder.un1_WDT_cry_13_c 4 19 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_0[6] 3 25 6 #SB_LUT4
set_location pid_alt.source_p_RNO[5] 1 10 1 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[2] 1 13 2 #SB_LUT4
set_location Commands_frame_decoder.count8_cry_0_c 11 19 0 #SB_CARRY
set_location ppm_encoder_1.ppm_output_reg_RNO_1 8 28 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[12] 1 29 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIPCRP_0[10] 1 27 6 #SB_LUT4
set_location ppm_encoder_1.elevator[6] 1 24 7 #SB_DFFSS
set_location dron_frame_decoder_1.source_Altitude_esr[15] 1 18 2 #SB_DFFESR
set_location Commands_frame_decoder.state_1_RNO[0] 9 17 5 #SB_LUT4
set_location reset_module_System.count_RNO[4] 4 12 3 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[12] 7 29 4 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNIATMH2[7] 2 13 4 #SB_LUT4
set_location uart_drone.data_Aux[2] 8 16 2 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNI33GU_0[3] 5 24 6 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_12_c 1 14 4 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude8lto5 2 15 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_esr[4] 7 13 2 #SB_DFFESR
set_location scaler_3.un2_source_data_0_cry_5_c 11 16 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[0] 2 27 7 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_57_c 4 30 1 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[2] 1 26 7 #SB_LUT4
set_location dron_frame_decoder_1.state_ns_i_a2_2[0] 3 15 6 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[6] 2 14 6 #SB_DFFESR
set_location Commands_frame_decoder.un1_WDT_cry_10_c 4 19 2 #SB_CARRY
set_location ppm_encoder_1.throttle_esr[14] 2 20 6 #SB_DFFESR
set_location dron_frame_decoder_1.WDT[6] 1 13 6 #SB_DFFSR
set_location reset_module_System.count[3] 4 12 2 #SB_DFF
set_location ppm_encoder_1.throttle[6] 1 19 2 #SB_DFFSS
set_location ppm_encoder_1.counter[6] 7 28 6 #SB_DFFSR
set_location Commands_frame_decoder.source_offset1data[6] 3 10 1 #SB_DFF
set_location uart_pc.data[1] 4 17 3 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_1[6] 1 21 7 #SB_LUT4
set_location ppm_encoder_1.counter[11] 7 29 3 #SB_DFFSR
set_location Commands_frame_decoder.source_offset2data_esr[4] 9 12 6 #SB_DFFESR
set_location uart_drone.timer_Count_RNO_0[2] 5 19 1 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_5_c_RNIJKGL 11 14 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIRERP[12] 1 23 7 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_0[0] 3 14 0 #SB_LUT4
set_location uart_drone.state_RNO[4] 8 17 6 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_6_c_RNILUAN 12 15 7 #SB_LUT4
set_location ppm_encoder_1.throttle_esr_RNO[14] 2 20 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIC1OR2[2] 2 26 0 #SB_LUT4
set_location uart_pc.un4_timer_Count_1_cry_3_c 8 18 2 #SB_CARRY
set_location uart_drone.timer_Count_RNI9E9J[2] 5 18 4 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_9_c 2 20 1 #SB_CARRY
set_location ppm_encoder_1.un1_elevator_cry_7_c 9 19 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count[18] 5 23 0 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNO_0[1] 3 25 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIG5OR2[6] 2 26 7 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNIM3K1[4] 2 13 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[5] 2 11 1 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[13] 9 22 1 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[7] 10 17 6 #SB_LUT4
set_location scaler_2.source_data_1_esr[12] 9 13 7 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[10] 4 25 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIDQUS_0[5] 5 25 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[17] 7 30 1 #SB_LUT4
set_location pid_alt.error_cry_5_c 1 15 5 #SB_CARRY
set_location dron_frame_decoder_1.state_RNO[4] 3 17 1 #SB_LUT4
set_location Commands_frame_decoder.WDT[13] 4 19 5 #SB_DFFSR
set_location uart_drone.data_rdy 3 18 4 #SB_DFFSR
set_location uart_drone.data_Aux[1] 8 16 1 #SB_DFFSR
set_location ppm_encoder_1.un1_throttle_cry_7_c 2 19 7 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_6_c 7 28 6 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude_esr_RNILMDC[8] 2 17 6 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[5] 7 16 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[5] 5 25 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[1] 2 25 3 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[3] 2 15 6 #SB_DFFESR
set_location Commands_frame_decoder.state_1_RNIVM1O[6] 5 13 5 #SB_LUT4
set_location Commands_frame_decoder.state_1[9] 14 17 6 #SB_DFFSR
set_location scaler_4.source_data_1_RNO[4] 9 16 6 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_5_c 12 15 5 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_5_c 8 13 5 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr[5] 4 28 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[11] 4 26 6 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[9] 11 16 4 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_3_c 9 13 2 #SB_CARRY
set_location reset_module_System.count[4] 4 12 3 #SB_DFF
set_location reset_module_System.count[11] 4 13 2 #SB_DFF
set_location ppm_encoder_1.throttle[5] 2 22 0 #SB_DFFSR
set_location ppm_encoder_1.rudder[6] 5 23 2 #SB_DFFSS
set_location ppm_encoder_1.elevator_esr[4] 3 24 2 #SB_DFFESR
set_location ppm_encoder_1.counter[1] 7 28 1 #SB_DFFSR
set_location Commands_frame_decoder.count8_cry_1_c 11 19 1 #SB_CARRY
set_location uart_pc.data[4] 4 17 5 #SB_DFF
set_location uart_pc.bit_Count_RNO[0] 3 18 3 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_8_c 7 29 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[5] 5 27 3 #SB_LUT4
set_location pid_alt.error_cry_7_c_RNI9LEM 1 16 0 #SB_LUT4
set_location Commands_frame_decoder.count8_cry_0_c_inv 12 19 0 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_1_c_RNI74CL 11 14 2 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_1_c_RNI14IK 8 13 2 #SB_LUT4
set_location ppm_encoder_1.rudder_esr[14] 7 20 0 #SB_DFFESR
set_location Commands_frame_decoder.source_data_valid_RNO 12 18 7 #SB_LUT4
set_location uart_pc.timer_Count_RNO[3] 8 18 5 #SB_LUT4
set_location reset_module_System.count_RNO[16] 4 13 7 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_3_c 7 28 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[1] 4 26 2 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE[1] 2 24 6 #SB_DFFSR
set_location pid_alt.error_cry_10_c 1 16 2 #SB_CARRY
set_location dron_frame_decoder_1.state_RNO_0[3] 3 12 3 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_11_c 4 19 3 #SB_CARRY
set_location uart_drone.data_esr[0] 4 16 0 #SB_DFFESR
set_location ppm_encoder_1.un1_elevator_cry_8_c 9 19 2 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_11_c 7 29 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIBOUS[3] 1 25 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses[9] 2 29 4 #SB_DFFSS
set_location Commands_frame_decoder.WDT_RNO[10] 4 19 2 #SB_LUT4
set_location uart_drone.timer_Count_RNO[2] 5 18 0 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_10_c 8 19 4 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIVO123[0] 3 25 0 #SB_CARRY
set_location ppm_encoder_1.pulses2count[17] 8 30 2 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNI8LUS[0] 2 27 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI5QE01[0] 2 24 0 #SB_LUT4
set_location pid_alt.error_cry_14_c_RNIBSDH 1 16 7 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI0O1O[7] 10 13 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[6] 3 10 1 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_6_c 12 15 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[18] 1 30 2 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNO[1] 2 24 6 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_7_c 7 19 1 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIALN65[1] 2 24 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[18] 7 30 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[2] 7 27 6 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_1[0] 3 14 6 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO[1] 2 12 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[0] 12 13 3 #SB_DFFESR
set_location Commands_frame_decoder.WDT[10] 4 19 2 #SB_DFFSR
set_location uart_pc.state_RNIGRIF1[2] 7 17 6 #SB_LUT4
set_location uart_drone.data_Aux[4] 8 16 7 #SB_DFFSR
set_location uart_drone.state_RNO_0[2] 7 15 0 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[6] 7 15 7 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[0] 2 14 0 #SB_DFFESR
set_location Commands_frame_decoder.un1_WDT_cry_2_c 4 18 2 #SB_CARRY
set_location Commands_frame_decoder.state_1[4] 5 15 7 #SB_DFFSR
set_location uart_pc.un4_timer_Count_1_cry_2_c 8 18 1 #SB_CARRY
set_location uart_pc.state_RNO_0[0] 7 16 0 #SB_LUT4
set_location uart_drone.timer_Count_RNIES9Q1[2] 4 15 1 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_3_c 11 14 3 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_2_c 8 13 2 #SB_CARRY
set_location scaler_2.source_data_1_esr[5] 9 15 0 #SB_DFFESR
set_location reset_module_System.count_RNIA72I1[16] 4 11 5 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_8_c 2 20 0 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[5] 2 22 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[0] 5 28 5 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[14] 5 26 0 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_33_c 4 29 5 #SB_CARRY
set_location pid_alt.error_cry_9_c_RNIMMUJ 1 16 2 #SB_LUT4
set_location dron_frame_decoder_1.WDT[15] 1 14 7 #SB_DFFSR
set_location reset_module_System.count[14] 4 13 5 #SB_DFF
set_location ppm_encoder_1.un1_rudder_cry_9_c 7 19 3 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIE2JI2[10] 4 25 4 #SB_LUT4
set_location ppm_encoder_1.throttle[0] 2 27 6 #SB_DFFSS
set_location ppm_encoder_1.rudder[9] 7 22 0 #SB_DFFSR
set_location Commands_frame_decoder.source_data_valid_RNO_0 11 18 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data_RNO[3] 2 16 0 #SB_LUT4
set_location uart_pc.state[3] 7 17 0 #SB_DFF
set_location uart_pc.data_RNO[2] 5 17 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[8] 2 30 1 #SB_LUT4
set_location ppm_encoder_1.aileron_RNO[11] 5 23 3 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNI65RK1[10] 2 13 3 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr[0] 10 14 4 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNID7P31[6] 4 20 3 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[2] 3 19 7 #SB_LUT4
set_location reset_module_System.count_1_cry_14_c 4 13 5 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI6LFQ[0] 2 25 4 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNI7RM01 2 24 3 #SB_LUT4
set_location uart_pc.timer_Count_RNO[4] 7 18 3 #SB_LUT4
set_location reset_module_System.count_RNO[15] 4 13 6 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_6_c 2 19 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[2] 2 26 1 #SB_LUT4
set_location uart_drone.state_RNO[2] 7 15 1 #SB_LUT4
set_location uart_drone.data_esr[7] 4 16 7 #SB_DFFESR
set_location scaler_4.source_data_1_esr[8] 10 15 3 #SB_DFFESR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_4_c 8 13 4 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[10] 9 13 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI5SOM03[16] 3 27 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses[12] 4 26 7 #SB_DFFSR
set_location uart_drone.state_RNI63LK2[3] 10 18 6 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[6] 10 15 1 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_4_c 9 13 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIHUUS[9] 2 29 5 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_11_c 1 14 3 #SB_CARRY
set_location dron_frame_decoder_1.state_RNI6P6K[4] 3 17 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[3] 2 10 7 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_6_c 11 14 6 #SB_CARRY
set_location ppm_encoder_1.throttle_RNI5V123[2] 2 26 3 #SB_LUT4
set_location pid_alt.error_axb_13 1 17 6 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[9] 14 17 6 #SB_LUT4
set_location reset_module_System.count_RNI34OR1[21] 4 14 7 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_4_c 7 28 4 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI7NT8D[5] 1 28 5 #SB_CARRY
set_location ppm_encoder_1.elevator[8] 7 21 6 #SB_DFFSR
set_location dron_frame_decoder_1.state_RNO[2] 3 13 7 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[5] 11 13 5 #SB_DFFESR
set_location Commands_frame_decoder.WDT[15] 4 19 7 #SB_DFFSR
set_location uart_drone.data_Aux_RNO[2] 8 16 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNIAEV01[8] 8 28 2 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[3] 8 14 4 #SB_LUT4
set_location scaler_3.source_data_1_esr[12] 11 16 7 #SB_DFFESR
set_location ppm_encoder_1.un1_throttle_cry_10_c 2 20 2 #SB_CARRY
set_location ppm_encoder_1.un1_counter_13_cry_10_c 7 29 2 #SB_CARRY
set_location Commands_frame_decoder.state_1[7] 10 17 6 #SB_DFFSR
set_location uart_pc.state_RNO_0[3] 7 17 4 #SB_LUT4
set_location reset_module_System.count[21] 4 14 4 #SB_DFF
set_location ppm_encoder_1.throttle_RNO[0] 2 27 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[3] 5 28 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[17] 2 28 6 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_6_c 1 13 6 #SB_CARRY
set_location dron_frame_decoder_1.WDT[10] 1 14 2 #SB_DFFSR
set_location scaler_2.un2_source_data_0_cry_9_c 9 14 0 #SB_CARRY
set_location scaler_2.source_data_1_RNO[4] 9 16 4 #SB_LUT4
set_location reset_module_System.count[17] 4 14 0 #SB_DFF
set_location pid_alt.error_cry_6_c_RNITQ4T 1 15 7 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI08RE[4] 5 11 4 #SB_LUT4
set_location uart_pc.state[0] 7 16 1 #SB_DFF
set_location uart_pc.data_RNO[5] 4 15 4 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_6_c 7 19 0 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[12] 3 22 6 #SB_LUT4
set_location ppm_encoder_1.aileron[11] 5 23 3 #SB_DFFSS
set_location Commands_frame_decoder.source_offset4data_esr[5] 10 14 5 #SB_DFFESR
set_location uart_pc.timer_Count_RNI5UFA2[3] 7 17 1 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[1] 4 20 1 #SB_LUT4
set_location uart_drone_sync.aux_2__0_[0] 8 1 1 #SB_DFF
set_location scaler_4.source_data_1_esr_RNO[13] 10 16 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[14] 8 29 5 #SB_DFFESR
set_location pid_alt.error_cry_12_c 1 16 4 #SB_CARRY
set_location uart_drone_sync.aux_3__0_[0] 8 2 5 #SB_DFF
set_location scaler_4.un2_source_data_0_cry_1_c 10 15 0 #SB_CARRY
set_location reset_module_System.count_RNO[10] 4 13 1 #SB_LUT4
set_location reset_module_System.count_1_cry_7_c 4 12 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[7] 5 25 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNICKVN2[8] 3 23 2 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNIDIPF[10] 11 18 3 #SB_LUT4
set_location uart_pc.bit_Count[0] 3 18 3 #SB_DFFSR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_4_c_RNIDG2L 12 15 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIG2SCU[5] 3 25 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses[11] 4 26 6 #SB_DFFSS
set_location ppm_encoder_1.elevator_RNIALRT5[11] 4 24 4 #SB_LUT4
set_location pid_alt.error_cry_1_c_RNI3Q3F 1 15 2 #SB_LUT4
set_location ppm_encoder_1.un1_rudder_cry_8_c 7 19 2 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIT9352[3] 1 25 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[8] 1 29 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[16] 3 27 0 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[9] 7 29 1 #SB_LUT4
set_location pid_alt.source_data_valid 3 18 7 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_7_c_RNIP0PN 11 15 0 #SB_LUT4
set_location scaler_3.source_data_1_esr[7] 11 16 2 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[10] 7 25 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI3B1IA[2] 1 28 2 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[9] 1 14 1 #SB_LUT4
set_location uart_drone_sync.Q_0_[0] 8 2 7 #SB_DFF
set_location scaler_4.un3_source_data.un3_source_data_0_cry_3_c_RNIDCEL 11 14 4 #SB_LUT4
set_location reset_module_System.count_1_cry_15_c 4 13 6 #SB_CARRY
set_location Commands_frame_decoder.source_CH4data_esr[6] 11 13 6 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNIPRJG5[15] 5 17 2 #SB_LUT4
set_location uart_drone.data_Aux_RNO[5] 5 16 1 #SB_LUT4
set_location reset_module_System.count_1_cry_18_c 4 14 1 #SB_CARRY
set_location ppm_encoder_1.aileron[9] 7 21 4 #SB_DFFSR
set_location pid_alt.error_cry_3_c 1 15 3 #SB_CARRY
set_location Commands_frame_decoder.count8_cry_2_c_inv 11 19 2 #SB_LUT4
set_location uart_pc.timer_Count_RNO_0[3] 8 18 2 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_RNIV1OJ2[5] 3 24 5 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNIC2521[1] 3 27 4 #SB_LUT4
set_location Commands_frame_decoder.state_1[2] 5 15 1 #SB_DFFSR
set_location scaler_4.un2_source_data_0_cry_2_c 10 15 1 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_8_c 8 14 0 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[3] 1 25 5 #SB_LUT4
set_location ppm_encoder_1.rudder_esr_ctle[14] 4 25 7 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[10] 4 28 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNITGRP_0[14] 5 26 2 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[0] 2 14 0 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIK8JI2[13] 1 24 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIBOUS_0[3] 1 25 4 #SB_LUT4
set_location dron_frame_decoder_1.WDT[9] 1 14 1 #SB_DFFSR
set_location Commands_frame_decoder.un1_WDT_cry_0_c 4 18 0 #SB_CARRY
set_location uart_drone.state_RNIOU0N[4] 8 17 4 #SB_LUT4
set_location reset_module_System.count_RNO[20] 4 14 3 #SB_LUT4
set_location reset_module_System.count_1_cry_16_c 4 13 7 #SB_CARRY
set_location ppm_encoder_1.rudder_esr_RNO[14] 7 20 0 #SB_LUT4
set_location ppm_encoder_1.rudder[12] 7 22 3 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[3] 5 28 4 #SB_LUT4
set_location ppm_encoder_1.counter_RNIDBJ8[13] 8 28 5 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_13_c 1 14 5 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[15] 1 14 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr[6] 13 14 4 #SB_DFFESR
set_location uart_pc.data_Aux_RNO_0[4] 4 20 5 #SB_LUT4
set_location uart_pc.data_Aux[1] 5 20 1 #SB_DFFSR
set_location uart_drone.timer_Count_RNIU8TV1[3] 8 15 1 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[10] 10 15 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[8] 1 22 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[11] 4 28 5 #SB_DFFESR
set_location pid_alt.error_axb_1 2 15 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr[0] 11 12 0 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[8] 2 29 0 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI5GRT5[10] 4 25 5 #SB_LUT4
set_location pid_alt.error_cry_6_c 1 15 6 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[6] 9 13 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses[14] 5 26 0 #SB_DFFSS
set_location ppm_encoder_1.aileron_RNO[6] 1 24 6 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNI0JQQ[6] 2 13 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data[3] 2 16 0 #SB_DFFSR
set_location uart_pc.state_RNIBLRB2[4] 7 18 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[5] 1 28 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[13] 3 26 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses[7] 5 25 7 #SB_DFFSR
set_location pid_alt.source_p_1_RNO[6] 1 10 3 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[10] 9 17 6 #SB_LUT4
set_location uart_pc.timer_Count[2] 7 18 1 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_2[11] 4 24 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIUHRP[15] 4 27 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNIHFK13[0] 2 24 1 #SB_LUT4
set_location uart_drone.state[0] 7 16 3 #SB_DFF
set_location Commands_frame_decoder.state_1[10] 9 17 6 #SB_DFFSR
set_location Commands_frame_decoder.source_offset3data_esr[0] 13 16 7 #SB_DFFESR
set_location Commands_frame_decoder.source_CH1data_esr[5] 3 16 1 #SB_DFFESR
set_location Commands_frame_decoder.count_RNO[0] 12 19 4 #SB_LUT4
set_location scaler_4.source_data_1_esr[13] 10 16 0 #SB_DFFESR
set_location ppm_encoder_1.un1_elevator_cry_13_c 9 19 7 #SB_CARRY
set_location ppm_encoder_1.un1_aileron_cry_7_c 8 19 1 #SB_CARRY
set_location uart_drone.bit_Count_RNO[0] 10 17 2 #SB_LUT4
set_location scaler_4.N_545_i_l_ofx 10 13 3 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_9_c 11 17 0 #SB_CARRY
set_location Commands_frame_decoder.source_CH1data8lto3 2 17 0 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNO[6] 4 18 6 #SB_LUT4
set_location scaler_3.source_data_1_RNO[4] 9 16 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[8] 2 29 3 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[5] 2 14 4 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_9_c 4 19 1 #SB_CARRY
set_location scaler_3.source_data_1_esr_RNO[5] 9 15 2 #SB_LUT4
set_location ppm_encoder_1.throttle[9] 3 21 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNI9MUS_0[1] 4 26 4 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[8] 7 21 6 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[2] 1 26 7 #SB_DFF
set_location ppm_encoder_1.rudder_RNO[9] 7 22 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[6] 8 29 1 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_27_c 4 29 4 #SB_CARRY
set_location ppm_encoder_1.PPM_STATE_RNISH5F[1] 8 28 4 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[10] 1 14 2 #SB_LUT4
set_location uart_pc.data_Aux[2] 5 20 2 #SB_DFFSR
set_location reset_module_System.count_1_cry_19_c 4 14 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[5] 5 27 2 #SB_LUT4
set_location pid_alt.source_p[4] 1 10 2 #SB_DFFE
set_location ppm_encoder_1.pulses2count_RNO[17] 8 30 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNIUS1G[4] 8 28 1 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNIJKDC[6] 2 14 7 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_7_c 4 18 7 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[5] 9 15 0 #SB_LUT4
set_location ppm_encoder_1.throttle[11] 3 21 5 #SB_DFFSR
set_location dron_frame_decoder_1.state[1] 2 12 5 #SB_DFFSR
set_location dron_frame_decoder_1.source_Altitude_esr_RNIMNDC[9] 2 17 7 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data[0] 2 16 5 #SB_DFFSR
set_location Commands_frame_decoder.WDT[2] 4 18 2 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[2] 5 20 2 #SB_LUT4
set_location uart_drone.timer_Count[2] 5 18 0 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[12] 11 16 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[6] 1 28 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[10] 3 26 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses[4] 5 26 6 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[3] 7 28 3 #SB_LUT4
set_location pid_alt.source_p_ess[2] 1 9 1 #SB_DFFESS
set_location pid_alt.source_p_1_RNO[3] 1 11 6 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNI2VDI1[10] 4 20 0 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_0_c 11 14 0 #SB_CARRY
set_location scaler_4.source_data_1_esr_RNO[8] 10 15 3 #SB_LUT4
set_location reset_module_System.count_1_cry_17_c 4 14 0 #SB_CARRY
set_location dron_frame_decoder_1.WDT_RNO[7] 1 13 7 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_ess[7] 12 17 3 #SB_DFFESS
set_location uart_pc.timer_Count_RNILR1B2[2] 5 12 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[15] 1 29 7 #SB_LUT4
set_location ppm_encoder_1.elevator_esr[14] 9 20 0 #SB_DFFESR
set_location pid_alt.error_cry_1_c 1 15 1 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude_esr[10] 1 17 1 #SB_DFFESR
set_location Commands_frame_decoder.state_1_RNO_3[0] 9 17 3 #SB_LUT4
set_location scaler_4.source_data_1_esr[14] 10 16 1 #SB_DFFESR
set_location reset_module_System.count_RNO[1] 4 10 5 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_3_c 2 19 3 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIVIRP_0[16] 3 27 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNI25DH2[12] 3 22 3 #SB_LUT4
set_location ppm_encoder_1.aileron[7] 2 23 5 #SB_DFFSR
set_location pid_alt.error_cry_9_c 1 16 1 #SB_CARRY
set_location Commands_frame_decoder.source_data_valid 12 18 7 #SB_DFFSR
set_location Commands_frame_decoder.source_CH4data_ess[7] 10 12 1 #SB_DFFESS
set_location scaler_2.un3_source_data.un3_source_data_0_cry_1_c 8 13 1 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[10] 7 21 0 #SB_LUT4
set_location ppm_encoder_1.aileron_esr[5] 4 23 0 #SB_DFFESR
set_location Commands_frame_decoder.source_CH2data_esr[1] 7 13 3 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[5] 4 18 5 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_1_c 12 15 1 #SB_CARRY
set_location scaler_2.source_data_1_esr_ctle[14] 12 3 3 #SB_LUT4
set_location uart_pc.data_1[4] 2 17 3 #SB_DFF
set_location uart_drone.bit_Count[2] 9 18 3 #SB_DFFSR
set_location ppm_encoder_1.ppm_output_reg_RNO 4 21 2 #SB_LUT4
set_location dron_frame_decoder_1.WDT[3] 1 13 3 #SB_DFFSR
set_location Commands_frame_decoder.source_offset3data_ess[7] 13 16 5 #SB_DFFESS
set_location reset_module_System.count[19] 4 14 2 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[5] 4 28 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_1_c_RNO 5 28 6 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[13] 1 14 5 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO_0[1] 8 17 2 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data[3] 2 10 7 #SB_DFF
set_location uart_pc.data_Aux[7] 5 20 7 #SB_DFFSR
set_location ppm_encoder_1.throttle_RNIQ3KK2[7] 2 23 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_2[6] 1 21 6 #SB_LUT4
set_location ppm_encoder_1.counter[16] 7 30 0 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[0] 3 27 5 #SB_DFF
set_location pid_alt.source_p[9] 1 10 0 #SB_DFFE
set_location Commands_frame_decoder.source_offset4data_ess[7] 10 14 7 #SB_DFFESS
set_location ppm_encoder_1.un1_aileron_cry_6_c 8 19 0 #SB_CARRY
set_location ppm_encoder_1.aileron_esr_RNIV9IN5[4] 2 25 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr[1] 9 12 5 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[8] 9 13 3 #SB_LUT4
set_location ppm_encoder_1.throttle[12] 3 21 7 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIP6F3I[6] 1 28 6 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[8] 4 21 7 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNI7O1N_0[2] 2 25 0 #SB_LUT4
set_location dron_frame_decoder_1.state[6] 3 13 2 #SB_DFFSR
set_location Commands_frame_decoder.state_1_RNO_1[0] 8 17 7 #SB_LUT4
set_location Commands_frame_decoder.WDT[5] 4 18 5 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[7] 5 20 7 #SB_LUT4
set_location uart_drone.timer_Count[1] 5 17 4 #SB_DFF
set_location scaler_3.source_data_1_esr_RNO[11] 11 16 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[3] 1 28 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIANUS[2] 2 26 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI0KRP[17] 2 28 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses[1] 4 26 2 #SB_DFFSS
set_location ppm_encoder_1.counter_RNO[6] 7 28 6 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_7_c_RNIM0CN 12 16 0 #SB_LUT4
set_location ppm_encoder_1.throttle_RNO[11] 3 21 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[4] 3 25 4 #SB_LUT4
set_location pid_alt.source_p_RNO[7] 1 11 1 #SB_LUT4
set_location dron_frame_decoder_1.state_RNI0TLI1[5] 3 17 0 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[0] 1 13 0 #SB_LUT4
set_location Commands_frame_decoder.preinit_RNO 9 16 2 #SB_LUT4
set_location scaler_3.source_data_1_esr[9] 11 16 4 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_1[10] 1 29 2 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_0_rep1 1 22 7 #SB_DFF
set_location pid_alt.source_p_1[2] 1 12 5 #SB_DFFE
set_location Commands_frame_decoder.state_1_RNO[2] 5 15 1 #SB_LUT4
set_location uart_pc.state_RNO[3] 7 17 0 #SB_LUT4
set_location reset_module_System.count_RNO[6] 4 12 5 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[10] 7 29 2 #SB_LUT4
set_location uart_pc.bit_Count_RNO_0[2] 3 20 1 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_7_c 11 14 7 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_12_c 7 19 6 #SB_CARRY
set_location Commands_frame_decoder.source_CH2data_esr[6] 7 13 1 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[0] 4 18 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[2] 4 25 1 #SB_LUT4
set_location ppm_encoder_1.elevator[11] 9 24 0 #SB_DFFSS
set_location dron_frame_decoder_1.source_Altitude_esr[8] 1 18 3 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr[8] 3 29 1 #SB_DFFESR
set_location dron_frame_decoder_1.WDT[0] 1 13 0 #SB_DFFSR
set_location uart_pc.data_1_RNO[4] 2 17 3 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_3_c_RNIAC1L 12 15 4 #SB_LUT4
set_location reset_module_System.count[1] 4 10 5 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[8] 3 29 1 #SB_LUT4
set_location ppm_encoder_1.counter[4] 7 28 4 #SB_DFFSR
set_location Commands_frame_decoder.source_offset1data[0] 2 10 1 #SB_DFF
set_location Commands_frame_decoder.count[0] 12 19 4 #SB_DFF
set_location uart_pc.timer_Count_RNIPD2K1[2] 7 17 3 #SB_LUT4
set_location uart_pc.state_RNIMQ8T1[4] 7 18 0 #SB_LUT4
set_location uart_pc.data[3] 4 17 0 #SB_DFF
set_location ppm_encoder_1.un1_throttle_cry_2_c 2 19 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[0] 5 27 5 #SB_LUT4
set_location ppm_encoder_1.counter[13] 7 29 5 #SB_DFFSR
set_location uart_drone.timer_Count_RNI5A9J[1] 5 19 0 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_39_c 4 29 6 #SB_CARRY
set_location Commands_frame_decoder.source_offset2data_esr[6] 8 12 0 #SB_DFFESR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_2_c 11 14 2 #SB_CARRY
set_location scaler_2.un3_source_data.un3_source_data_0_cry_0_c 8 13 0 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_8_c 9 13 7 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIQDRP_0[11] 1 26 0 #SB_LUT4
set_location Commands_frame_decoder.WDT[8] 4 19 0 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[4] 5 20 4 #SB_LUT4
set_location uart_drone.timer_Count[4] 5 18 7 #SB_DFF
set_location ppm_encoder_1.counter_RNO[5] 7 28 5 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI1P1O[8] 14 16 6 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNO[15] 4 19 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[7] 3 25 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI9MUS[1] 4 26 3 #SB_LUT4
set_location pid_alt.source_p_RNO[4] 1 10 2 #SB_LUT4
set_location ppm_encoder_1.ppm_output_reg_RNO_2 5 28 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[13] 1 29 5 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[11] 9 24 0 #SB_LUT4
set_location ppm_encoder_1.elevator[7] 2 22 4 #SB_DFFSR
set_location Commands_frame_decoder.state_1_RNO[1] 9 17 7 #SB_LUT4
set_location uart_pc.state_RNO[4] 7 17 2 #SB_LUT4
set_location scaler_2.source_data_1_esr[14] 9 14 1 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[12] 7 24 5 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIKVRT5[13] 1 24 1 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[15] 7 29 7 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_12_c 4 19 4 #SB_CARRY
set_location uart_drone.data_Aux[3] 8 16 5 #SB_DFFSR
set_location ppm_encoder_1.un1_counter_13_cry_14_c 7 29 6 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNIERUS[6] 5 25 5 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_2_c 1 13 2 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_5_c 9 13 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[7] 7 27 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_4[18] 1 30 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNI5ATG1[15] 4 27 0 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast_RNO[3] 1 26 6 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[5] 2 14 4 #SB_DFFESR
set_location scaler_2.source_data_1_esr[8] 9 13 3 #SB_DFFESR
set_location ppm_encoder_1.throttle_RNO[8] 2 22 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNICBDJ51[6] 3 25 6 #SB_CARRY
set_location ppm_encoder_1.aileron_esr_RNIOVDS2[14] 4 24 2 #SB_LUT4
set_location pid_alt.source_p_RNO[10] 1 10 4 #SB_LUT4
set_location dron_frame_decoder_1.WDT[5] 1 13 5 #SB_DFFSR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_3_c 12 15 3 #SB_CARRY
set_location reset_module_System.count[2] 4 11 2 #SB_DFF
set_location ppm_encoder_1.throttle[7] 2 22 2 #SB_DFFSR
set_location ppm_encoder_1.elevator_RNO[6] 1 24 7 #SB_LUT4
set_location ppm_encoder_1.counter[7] 7 28 7 #SB_DFFSR
set_location Commands_frame_decoder.source_offset1data[5] 2 11 1 #SB_DFF
set_location uart_pc.data[6] 5 17 6 #SB_DFF
set_location uart_pc.bit_Count_RNO[2] 3 20 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[7] 7 23 5 #SB_LUT4
set_location ppm_encoder_1.counter[10] 7 29 2 #SB_DFFSR
set_location ppm_encoder_1.PPM_STATE_RNI09RH2[1] 5 29 6 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_1_c 5 19 0 #SB_CARRY
set_location scaler_4.un2_source_data_0_cry_5_c 10 15 4 #SB_CARRY
set_location scaler_3.un3_source_data.un3_source_data_0_axb_7 12 16 5 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_1_c 11 16 0 #SB_CARRY
set_location reset_module_System.count_1_cry_3_c 4 12 2 #SB_CARRY
set_location ppm_encoder_1.un1_rudder_cry_13_c 7 19 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_RNO[18] 5 23 0 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_5[0] 3 15 0 #SB_LUT4
set_location uart_pc.timer_Count_RNO[1] 8 17 5 #SB_LUT4
set_location reset_module_System.count_RNO[18] 4 14 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNITGRP[14] 5 26 1 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_0[1] 3 12 5 #SB_LUT4
set_location Commands_frame_decoder.un1_WDT_cry_1_c 4 18 1 #SB_CARRY
set_location uart_drone.data_esr[2] 4 16 2 #SB_DFFESR
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1 1 23 0 #SB_DFF
set_location uart_drone.timer_Count_RNO[0] 5 17 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[2] 3 25 2 #SB_LUT4
set_location pid_alt.source_p_RNO[9] 1 10 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[4] 5 14 2 #SB_LUT4
set_location reset_module_System.count_1_cry_11_c 4 13 2 #SB_CARRY
set_location ppm_encoder_1.rudder_esr_RNITVNJ2[4] 2 25 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIGTUS_0[8] 2 29 2 #SB_LUT4
set_location ppm_encoder_1.elevator_RNO[12] 8 22 1 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[4] 5 15 7 #SB_LUT4
set_location scaler_2.source_data_1_esr[11] 9 13 6 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_0[11] 4 25 6 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[16] 7 30 0 #SB_LUT4
set_location pid_alt.error_cry_4_c_RNINI2T 1 15 5 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO[7] 3 13 6 #SB_LUT4
set_location Commands_frame_decoder.WDT[12] 4 19 4 #SB_DFFSR
set_location uart_drone.data_Aux[6] 5 16 3 #SB_DFFSR
set_location ppm_encoder_1.init_pulses_RNIVOAON[4] 3 25 4 #SB_CARRY
set_location dron_frame_decoder_1.state_RNO_3[0] 3 15 3 #SB_LUT4
set_location uart_drone.state_RNO_0[0] 7 16 2 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[4] 8 17 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[4] 1 27 0 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[2] 2 15 4 #SB_DFFESR
set_location Commands_frame_decoder.un1_WDT_cry_4_c 4 18 4 #SB_CARRY
set_location uart_pc.timer_Count_RNIVT8S[2] 7 18 6 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[6] 8 29 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[12] 4 26 7 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[8] 11 16 3 #SB_LUT4
set_location reset_module_System.count[7] 4 12 6 #SB_DFF
set_location reset_module_System.count_1_cry_12_c 4 13 3 #SB_CARRY
set_location reset_module_System.count[12] 4 13 3 #SB_DFF
set_location ppm_encoder_1.throttle[2] 2 26 5 #SB_DFFSS
set_location ppm_encoder_1.rudder[7] 5 23 1 #SB_DFFSR
set_location ppm_encoder_1.counter[2] 7 28 2 #SB_DFFSR
set_location Commands_frame_decoder.source_CH1data_RNO[1] 2 16 2 #SB_LUT4
set_location Commands_frame_decoder.preinit_RNIF92K5 5 19 4 #SB_LUT4
set_location uart_pc.data_RNO[0] 5 13 3 #SB_LUT4
set_location uart_pc.data[5] 4 15 4 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNI04V5M2[13] 3 26 5 #SB_CARRY
set_location scaler_3.un3_source_data.un3_source_data_0_cry_4_c 12 15 4 #SB_CARRY
set_location ppm_encoder_1.counter_RNI637H[18] 8 30 6 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_3_c 1 13 3 #SB_CARRY
set_location uart_pc.timer_Count_RNO[2] 7 18 1 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_6_c_RNIOUNN 11 14 7 #SB_LUT4
set_location scaler_2.un2_source_data_0_cry_2_c 9 13 1 #SB_CARRY
set_location reset_module_System.count_RNO[17] 4 14 0 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_13_c 7 29 5 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO[0] 2 27 1 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE[0] 2 24 7 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNO 1 23 0 #SB_LUT4
set_location pid_alt.source_p[10] 1 10 4 #SB_DFFE
set_location Commands_frame_decoder.state_1_ns_i_a2_3[0] 5 15 0 #SB_LUT4
set_location uart_drone.state_RNO[0] 7 16 3 #SB_LUT4
set_location uart_drone.data_esr[1] 4 16 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNIC9HQ4[0] 1 28 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses[8] 2 29 0 #SB_DFFSS
set_location Commands_frame_decoder.WDT_RNO[13] 4 19 5 #SB_LUT4
set_location uart_drone.timer_Count_RNO[3] 5 18 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIQSUBC[4] 1 28 4 #SB_CARRY
set_location pid_alt.error_cry_0_c_RNI1N2F 1 15 1 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[1] 2 10 5 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_0_c_RNI40BL 11 14 1 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNO[0] 2 24 7 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNI3M4C3[15] 2 13 5 #SB_LUT4
set_location reset_module_System.count_1_cry_2_c 4 12 1 #SB_CARRY
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[1] 1 22 6 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_1[3] 3 12 2 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO[0] 3 14 1 #SB_LUT4
set_location dron_frame_decoder_1.source_data_valid 3 18 0 #SB_DFFSR
set_location dron_frame_decoder_1.source_Altitude8lto3_0 2 15 2 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[3] 11 13 3 #SB_DFFESR
set_location uart_drone.data_Aux_RNO[0] 8 16 0 #SB_LUT4
set_location uart_drone.data_Aux[5] 5 16 1 #SB_DFFSR
set_location uart_drone.data_Aux_RNO_0[1] 11 18 0 #SB_LUT4
set_location scaler_3.source_data_1_esr[10] 11 16 5 #SB_DFFESR
set_location Commands_frame_decoder.state_1_RNO_2[0] 9 17 1 #SB_LUT4
set_location Commands_frame_decoder.state_1[5] 5 14 3 #SB_DFFSR
set_location scaler_2.source_data_1_esr[6] 9 13 1 #SB_DFFESR
set_location ppm_encoder_1.throttle_RNO[6] 1 19 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[1] 5 28 7 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[15] 4 27 1 #SB_LUT4
set_location dron_frame_decoder_1.WDT[12] 1 14 4 #SB_DFFSR
set_location reset_module_System.count[15] 4 13 6 #SB_DFF
set_location ppm_encoder_1.throttle[1] 2 21 1 #SB_DFFSR
set_location Commands_frame_decoder.source_CH1data_RNO[2] 2 16 6 #SB_LUT4
set_location uart_pc.state[2] 7 16 7 #SB_DFF
set_location uart_pc.data_RNO[3] 4 17 0 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_3_c 11 16 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_1[9] 4 22 2 #SB_LUT4
set_location ppm_encoder_1.aileron_RNO[10] 7 21 3 #SB_LUT4
set_location ppm_encoder_1.aileron[13] 7 22 7 #SB_DFFSS
set_location Commands_frame_decoder.un1_WDT_cry_3_c 4 18 3 #SB_CARRY
set_location Commands_frame_decoder.source_offset4data_esr[3] 13 14 1 #SB_DFFESR
set_location Commands_frame_decoder.count8_cry_1_c_inv 11 19 1 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[3] 4 20 2 #SB_LUT4
set_location dron_frame_decoder_1.source_data_valid_RNO 3 18 0 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI19RE[5] 5 14 0 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_7_c 10 15 6 #SB_CARRY
set_location reset_module_System.count_RNO[12] 4 13 3 #SB_LUT4
set_location reset_module_System.count_RNI97FD[5] 4 11 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[5] 5 25 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIH2VCU[16] 1 30 0 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_27_c_RNO 3 29 0 #SB_LUT4
set_location uart_drone.state_RNO[3] 8 17 3 #SB_LUT4
set_location uart_drone.data_esr[4] 4 16 4 #SB_DFFESR
set_location scaler_4.source_data_1_esr[9] 10 15 4 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[13] 9 14 0 #SB_LUT4
set_location scaler_2.N_521_i_l_ofx 8 11 2 #SB_LUT4
set_location reset_module_System.count_RNO_0[2] 4 12 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses[13] 4 27 6 #SB_DFFSS
set_location pid_alt.error_cry_8_c_RNICPFM 1 16 1 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[7] 10 15 2 #SB_LUT4
set_location reset_module_System.count_1_cry_13_c 4 13 4 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIEDI96[6] 1 24 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[8] 3 26 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[18] 3 27 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIRERP_0[12] 1 23 6 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNI2APU1_2[1] 1 26 3 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_4_c 1 13 4 #SB_CARRY
set_location Commands_frame_decoder.source_offset1data_RNO[2] 2 10 2 #SB_LUT4
set_location scaler_3.source_data_1_esr[5] 9 15 2 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_2[14] 7 23 3 #SB_LUT4
set_location pid_alt.source_p_en 2 10 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIE30FB[3] 1 28 3 #SB_CARRY
set_location ppm_encoder_1.elevator[9] 7 21 2 #SB_DFFSR
set_location Commands_frame_decoder.state_1_RNIV6RE[3] 5 15 6 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNIUL1O[5] 7 14 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[4] 11 13 4 #SB_DFFESR
set_location Commands_frame_decoder.WDT[14] 4 19 6 #SB_DFFSR
set_location uart_drone_sync.aux_1__0_[0] 8 1 6 #SB_DFF
set_location uart_drone.data_Aux_RNO[3] 8 16 5 #SB_LUT4
set_location reset_module_System.count_RNO[9] 4 13 0 #SB_LUT4
set_location uart_pc.timer_Count_RNO_0[1] 8 18 4 #SB_LUT4
set_location uart_drone.data_Aux_RNO_0[2] 8 15 3 #SB_LUT4
set_location scaler_3.source_data_1_esr[13] 11 17 0 #SB_DFFESR
set_location ppm_encoder_1.un1_aileron_cry_13_c 8 19 7 #SB_CARRY
set_location pid_alt.error_cry_12_c_RNI7MBH 1 16 5 #SB_LUT4
set_location Commands_frame_decoder.state_1[0] 9 17 5 #SB_DFFSS
set_location reset_module_System.count[20] 4 14 3 #SB_DFF
set_location ppm_encoder_1.throttle_RNO[1] 2 21 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[18] 4 27 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFSUS[7] 1 27 5 #SB_LUT4
set_location dron_frame_decoder_1.WDT[11] 1 14 3 #SB_DFFSR
set_location ppm_encoder_1.un1_counter_13_cry_0_c 7 28 0 #SB_CARRY
set_location ppm_encoder_1.counter[8] 7 29 0 #SB_DFFSR
set_location uart_pc.data_RNO[6] 5 17 6 #SB_LUT4
set_location uart_drone.bit_Count_RNO_0[2] 11 18 5 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_10_c 9 19 4 #SB_CARRY
set_location ppm_encoder_1.aileron[10] 7 21 3 #SB_DFFSR
set_location Commands_frame_decoder.source_offset4data_esr[4] 10 14 3 #SB_DFFESR
set_location uart_pc.data_Aux_RNO_0[6] 5 18 1 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[12] 10 15 7 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_12_c 7 29 4 #SB_CARRY
set_location ppm_encoder_1.throttle_esr_RNI81QU2[14] 3 23 5 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[13] 8 29 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNISP2EM[11] 1 29 3 #SB_CARRY
set_location pid_alt.source_p[1] 1 11 5 #SB_DFFE
set_location pid_alt.error_axb_3 2 15 7 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_1_c 1 13 1 #SB_CARRY
set_location Commands_frame_decoder.source_CH3data_esr[2] 12 14 2 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNII19A1[4] 3 19 3 #SB_LUT4
set_location reset_module_System.count_RNO[11] 4 13 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[6] 5 25 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNICPUS_0[4] 1 27 3 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_33_c_RNO 5 29 0 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNIV4V5[1] 2 24 4 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_7_c_RNIJ0VM 8 14 0 #SB_LUT4
set_location reset_module_System.count_RNO_0[1] 4 10 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses[16] 3 28 2 #SB_DFFSR
set_location pid_alt.error_cry_13_c_RNI9PCH 1 16 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[15] 3 26 7 #SB_LUT4
set_location uart_pc.timer_Count[4] 7 18 3 #SB_DFF
set_location scaler_3.un2_source_data_0_cry_2_c 11 16 1 #SB_CARRY
set_location scaler_3.source_data_1_esr[6] 11 16 1 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_esr_RNO_1[13] 7 24 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIN8U7N[12] 1 29 4 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_57_c_RNIGCO83 5 29 7 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[8] 1 14 0 #SB_LUT4
set_location uart_drone.state[2] 7 15 1 #SB_DFF
set_location scaler_4.un2_source_data_0_cry_3_c 10 15 2 #SB_CARRY
set_location ppm_encoder_1.throttle_RNITSI96[9] 3 23 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI6BGM82[11] 3 26 3 #SB_CARRY
set_location ppm_encoder_1.elevator_RNIU0DH2[10] 4 24 1 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_1_rep1_RNI7RM01_0 2 24 5 #SB_LUT4
set_location pid_alt.error_cry_3_c_RNIKE1T 1 15 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr[2] 13 15 0 #SB_DFFESR
set_location uart_drone.data_Aux_RNO[6] 5 16 3 #SB_LUT4
set_location scaler_4.source_data_1_esr[11] 10 15 6 #SB_DFFESR
set_location scaler_3.un2_source_data_0_cry_1_c_RNO 12 16 3 #SB_LUT4
set_location ppm_encoder_1.un1_elevator_cry_6_c 9 19 0 #SB_CARRY
set_location uart_drone.bit_Count_RNO[2] 9 18 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIPCRP[10] 1 27 7 #SB_LUT4
set_location Commands_frame_decoder.state_1[3] 5 15 4 #SB_DFFSR
set_location Commands_frame_decoder.WDT_RNO[8] 4 19 0 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[13] 8 29 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNINCCVR[13] 1 29 5 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[3] 2 15 6 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[7] 11 16 2 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_7_c 7 28 7 #SB_CARRY
set_location ppm_encoder_1.counter24_0_I_21_c_RNO 8 29 0 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[0] 2 25 2 #SB_DFF
set_location dron_frame_decoder_1.WDT[8] 1 14 0 #SB_DFFSR
set_location reset_module_System.count[9] 4 13 0 #SB_DFF
set_location ppm_encoder_1.rudder[11] 7 22 2 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[0] 5 28 5 #SB_LUT4
set_location ppm_encoder_1.PPM_STATE_RNIV4V5_0[1] 7 27 2 #SB_LUT4
set_location uart_pc.data_Aux_RNO_0[5] 4 20 6 #SB_LUT4
set_location uart_pc.data_Aux[0] 5 20 0 #SB_DFFSR
set_location ppm_encoder_1.pulses2count_esr[10] 4 28 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO_2[18] 4 27 3 #SB_LUT4
set_location Commands_frame_decoder.source_CH3data_esr[1] 12 17 2 #SB_DFFESR
set_location uart_pc.timer_Count_RNIRP8S[1] 8 18 0 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_2_c 12 15 2 #SB_CARRY
set_location ppm_encoder_1.pulses2count_RNO[15] 8 30 3 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIEQUPC1[7] 3 25 7 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[7] 9 13 2 #SB_LUT4
set_location ppm_encoder_1.un1_counter_13_cry_9_c 7 29 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses[15] 4 27 1 #SB_DFFSR
set_location ppm_encoder_1.aileron_RNO[7] 2 23 5 #SB_LUT4
set_location dron_frame_decoder_1.state[3] 3 13 3 #SB_DFFSR
set_location dron_frame_decoder_1.source_Altitude_esr_RNIUHR9[10] 1 17 0 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data[2] 2 16 6 #SB_DFFSR
set_location Commands_frame_decoder.WDT[0] 4 18 0 #SB_DFFSR
set_location ppm_encoder_1.un1_counter_13_cry_1_c 7 28 1 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_3[12] 3 22 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[4] 1 28 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[12] 3 26 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIUPKO2[13] 2 28 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses[6] 5 25 4 #SB_DFFSR
set_location uart_pc.timer_Count[1] 8 17 5 #SB_DFF
set_location ppm_encoder_1.un1_counter_13_cry_15_c 7 29 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[12] 7 24 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[14] 7 23 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI28PU12[10] 3 26 2 #SB_CARRY
set_location pid_alt.error_cry_11_c 1 16 3 #SB_CARRY
set_location dron_frame_decoder_1.state_RNO_2[0] 3 15 1 #SB_LUT4
set_location dron_frame_decoder_1.source_data_valid_2_sqmuxa_i 2 12 7 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[5] 1 13 5 #SB_LUT4
set_location uart_drone.state[1] 7 15 2 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNO_3[18] 3 27 1 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude_esr[12] 1 17 5 #SB_DFFESR
set_location Commands_frame_decoder.source_offset3data_esr[1] 13 15 6 #SB_DFFESR
set_location Commands_frame_decoder.source_CH1data_esr[6] 3 16 2 #SB_DFFESR
set_location Commands_frame_decoder.count_RNO[1] 11 19 7 #SB_LUT4
set_location scaler_4.source_data_1_esr[12] 10 15 7 #SB_DFFESR
set_location reset_module_System.count_RNO[3] 4 12 2 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_11_c 8 19 5 #SB_CARRY
set_location uart_drone.bit_Count_RNO[1] 9 18 6 #SB_LUT4
set_location scaler_2.source_data_1[4] 9 16 4 #SB_DFFSR
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[4] 2 14 2 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr_RNIKLDC[7] 1 19 7 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNI3BRE[7] 10 18 7 #SB_LUT4
set_location uart_drone.bit_Count[0] 10 17 2 #SB_DFFSR
set_location scaler_4.un2_source_data_0_cry_4_c 10 15 3 #SB_CARRY
set_location ppm_encoder_1.elevator_RNO[9] 7 21 2 #SB_LUT4
set_location ppm_encoder_1.rudder_RNO[6] 5 23 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[7] 8 27 3 #SB_LUT4
set_location dron_frame_decoder_1.un1_WDT_cry_8_c 1 14 0 #SB_CARRY
set_location ppm_encoder_1.counter[18] 7 30 2 #SB_DFFSR
set_location pid_alt.source_p[7] 1 11 1 #SB_DFFE
set_location dron_frame_decoder_1.source_Altitude_esr_RNIIJDC[5] 2 14 5 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIS5KK2[8] 3 23 0 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNILVFN5[1] 1 28 1 #SB_CARRY
set_location ppm_encoder_1.elevator_RNI47DH2[13] 1 24 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset2data_esr[3] 8 12 2 #SB_DFFESR
set_location ppm_encoder_1.init_pulses[18] 4 27 4 #SB_DFFSR
set_location dron_frame_decoder_1.state[0] 3 14 1 #SB_DFFSS
set_location Commands_frame_decoder.state_1_RNO_1[2] 3 15 2 #SB_LUT4
set_location Commands_frame_decoder.WDT[3] 4 18 3 #SB_DFFSR
set_location uart_pc.data_Aux_RNO[1] 5 20 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses[3] 1 25 0 #SB_DFFSR
set_location ppm_encoder_1.counter_RNO[0] 7 28 0 #SB_LUT4
set_location pid_alt.source_p_1_RNO[2] 1 12 5 #SB_LUT4
set_location Commands_frame_decoder.source_CH2data_ess[7] 8 10 6 #SB_DFFESS
set_location ppm_encoder_1.throttle_RNO[13] 2 21 5 #SB_LUT4
set_location pid_alt.source_p_RNO[1] 1 11 5 #SB_LUT4
set_location dron_frame_decoder_1.WDT_RNO[6] 1 13 6 #SB_LUT4
set_location uart_pc_sync.Q_0_[0] 7 2 2 #SB_DFF
set_location ppm_encoder_1.un1_throttle_cry_1_c 2 19 1 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[16] 1 30 0 #SB_LUT4
set_location Commands_frame_decoder.source_offset3data_esr[4] 13 15 3 #SB_DFFESR
set_location scaler_2.un3_source_data.un3_source_data_0_cry_3_c 8 13 3 #SB_CARRY
set_location Commands_frame_decoder.state_1_ns_i_a2_3_1[0] 3 15 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_1[4] 3 10 3 #SB_DFF
set_location scaler_4.un3_source_data.un3_source_data_0_cry_1_c 11 14 1 #SB_CARRY
set_location ppm_encoder_1.rudder_RNO[13] 7 22 4 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_9_c 4 29 1 #SB_CARRY
set_location ppm_encoder_1.aileron_esr[4] 3 24 1 #SB_DFFESR
set_location Commands_frame_decoder.source_CH2data_esr[0] 7 11 5 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[2] 4 18 2 #SB_LUT4
set_location ppm_encoder_1.elevator[13] 9 22 1 #SB_DFFSS
set_location pid_alt.error_cry_0_c_inv 2 14 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNICPUS[4] 5 26 7 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_ns_3_0_.m6 7 27 5 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO_0[0] 9 17 4 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data[2] 2 10 2 #SB_DFF
set_location uart_pc.data_rdy_RNO 5 14 5 #SB_LUT4
set_location uart_pc.data_Aux[6] 5 21 0 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL[3] 1 26 5 #SB_DFF
set_location uart_drone.state_RNIAT1D1[4] 5 18 5 #SB_LUT4
set_location uart_drone.state_RNI62411[4] 8 18 7 #SB_LUT4
set_location scaler_4.source_data_1_esr[5] 9 15 4 #SB_DFFESR
set_location scaler_3.un3_source_data.un3_source_data_0_cry_8_c 12 16 0 #SB_CARRY
set_location scaler_2.source_data_1_esr_RNO[9] 9 13 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIO0DTJ[8] 1 29 0 #SB_CARRY
set_location ppm_encoder_1.aileron_RNO[9] 7 21 4 #SB_LUT4
set_location reset_module_System.count_1_cry_5_c 4 12 4 #SB_CARRY
set_location ppm_encoder_1.init_pulses_RNO_1[2] 1 28 2 #SB_LUT4
set_location uart_pc.bit_Count_RNI4U6E1[2] 3 19 5 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_4_c_RNIAGLK 8 13 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIKLP3H[3] 3 25 3 #SB_CARRY
set_location dron_frame_decoder_1.un1_WDT_cry_9_c 1 14 1 #SB_CARRY
set_location uart_drone.timer_Count_RNIRC5U2[2] 4 15 2 #SB_LUT4
set_location scaler_3.un2_source_data_0_cry_4_c 11 16 3 #SB_CARRY
set_location scaler_3.source_data_1_esr[8] 11 16 3 #SB_DFFESR
set_location ppm_encoder_1.ppm_output_reg_RNO_0 4 22 6 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[14] 2 18 1 #SB_DFFESR
set_location uart_pc.state_RNO[2] 7 16 7 #SB_LUT4
set_location uart_drone.un4_timer_Count_1_cry_2_c 5 19 1 #SB_CARRY
set_location scaler_3.un3_source_data.un3_source_data_0_cry_1_c_RNI44VK 12 15 2 #SB_LUT4
set_location reset_module_System.count_RNO[5] 4 12 4 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_0[14] 7 26 2 #SB_LUT4
set_location ppm_encoder_1.counter_RNO[13] 7 29 5 #SB_LUT4
set_location pid_alt.error_cry_2_c_RNI5T4F 1 15 3 #SB_LUT4
set_location scaler_4.un2_source_data_0_cry_1_c_RNO 8 15 4 #SB_LUT4
set_location reset_module_System.count_1_cry_8_c 4 12 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_0[1] 4 25 0 #SB_LUT4
set_location dron_frame_decoder_1.WDT[7] 1 13 7 #SB_DFFSR
set_location uart_pc.un4_timer_Count_1_cry_1_c 8 18 0 #SB_CARRY
set_location scaler_3.un2_source_data_0_cry_7_c 11 16 6 #SB_CARRY
set_location reset_module_System.count[0] 4 11 7 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO[9] 3 29 5 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_9_c_RNO 5 28 2 #SB_LUT4
set_location Commands_frame_decoder.count[1] 11 19 7 #SB_DFF
set_location uart_pc.data[0] 5 13 3 #SB_DFF
set_location ppm_encoder_1.pulses2count_esr_RNO_1[1] 3 30 4 #SB_LUT4
set_location ppm_encoder_1.counter[12] 7 29 4 #SB_DFFSR
set_location Commands_frame_decoder.source_offset2data_esr[5] 8 12 4 #SB_DFFESR
set_location uart_drone.timer_Count_RNO_0[3] 5 19 2 #SB_LUT4
set_location Commands_frame_decoder.WDT[9] 4 19 1 #SB_DFFSR
set_location ppm_encoder_1.elevator_RNIFQRT5[12] 3 22 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_57_c_RNO 5 30 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[0] 2 27 3 #SB_LUT4
set_location ppm_encoder_1.aileron_esr[14] 8 20 0 #SB_DFFESR
set_location dron_frame_decoder_1.un1_WDT_cry_0_c 1 13 0 #SB_CARRY
set_location ppm_encoder_1.elevator_RNO[10] 8 21 6 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[6] 5 14 1 #SB_LUT4
set_location scaler_2.source_data_1_esr[13] 9 14 0 #SB_DFFESR
set_location uart_drone.data_Aux[0] 8 16 0 #SB_DFFSR
set_location dron_frame_decoder_1.un1_WDT_cry_14_c 1 14 6 #SB_CARRY
set_location Commands_frame_decoder.state_1_RNI5DRE[9] 13 17 4 #SB_LUT4
set_location dron_frame_decoder_1.source_Altitude_esr[4] 2 14 2 #SB_DFFESR
set_location Commands_frame_decoder.state_1[8] 14 17 3 #SB_DFFSR
set_location ppm_encoder_1.throttle_RNO[9] 3 21 3 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[4] 4 28 1 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[10] 4 26 5 #SB_LUT4
set_location reset_module_System.count[10] 4 13 1 #SB_DFF
set_location ppm_encoder_1.throttle[4] 2 21 7 #SB_DFFSR
set_location ppm_encoder_1.counter[0] 7 28 0 #SB_DFFSR
set_location pid_alt.error_cry_7_c 1 15 7 #SB_CARRY
set_location Commands_frame_decoder.source_offset1data[4] 5 14 2 #SB_DFFSS
set_location uart_pc.bit_Count_RNO[1] 3 20 3 #SB_LUT4
set_location reset_module_System.count_RNO[19] 4 14 2 #SB_LUT4
set_location ppm_encoder_1.un1_throttle_cry_4_c 2 19 4 #SB_CARRY
set_location uart_drone.data_esr[3] 4 16 3 #SB_DFFESR
set_location Commands_frame_decoder.WDT_RNO[11] 4 19 3 #SB_LUT4
set_location ppm_encoder_1.pulses2count[16] 8 30 1 #SB_DFFSR
set_location ppm_encoder_1.ppm_output_reg 4 21 2 #SB_DFFSS
set_location uart_pc_sync.aux_3__0_[0] 7 2 4 #SB_DFF
set_location ppm_encoder_1.init_pulses_RNI2C7KL[10] 1 29 2 #SB_CARRY
set_location ppm_encoder_1.throttle_RNIONI96[8] 3 23 1 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIO1KK2[6] 1 24 3 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO[6] 3 13 2 #SB_LUT4
set_location dron_frame_decoder_1.state_RNO_4[0] 4 15 0 #SB_LUT4
set_location Commands_frame_decoder.source_CH4data_esr[1] 12 12 6 #SB_DFFESR
set_location Commands_frame_decoder.WDT[11] 4 19 3 #SB_DFFSR
set_location uart_pc_sync.aux_0__0_[0] 9 1 1 #SB_DFF
set_location uart_pc.timer_Count_RNO_0[4] 8 18 3 #SB_LUT4
set_location uart_drone.state_RNO_0[3] 7 17 7 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_2_c_RNIA8DL 11 14 3 #SB_LUT4
set_location ppm_encoder_1.aileron_esr_RNIMGR62[4] 3 24 0 #SB_LUT4
set_location uart_pc.data_rdy 5 14 5 #SB_DFFSR
set_location pid_alt.error_cry_8_c 1 16 0 #SB_CARRY
set_location uart_drone.state_RNI9ADK1[4] 5 17 5 #SB_LUT4
set_location reset_module_System.count[6] 4 12 5 #SB_DFF
set_location Commands_frame_decoder.preinit 9 16 2 #SB_DFFSS
set_location Commands_frame_decoder.state_1_RNO_4[0] 5 17 7 #SB_LUT4
set_location ppm_encoder_1.un1_aileron_cry_9_c 8 19 3 #SB_CARRY
set_location uart_drone.timer_Count_RNO[4] 5 18 7 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_3_c_RNI7CKK 8 13 4 #SB_LUT4
set_location dron_frame_decoder_1.state_RNI3T3K1[7] 3 17 3 #SB_LUT4
set_location Commands_frame_decoder.source_offset1data_RNO[0] 2 10 1 #SB_LUT4
set_location Commands_frame_decoder.count_RNI0PVH1[2] 11 18 4 #SB_LUT4
set_location scaler_3.un3_source_data.un3_source_data_0_cry_0_c_RNI10UK 12 15 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIGTUS[8] 2 29 1 #SB_LUT4
set_location pid_alt.error_axb_12 1 17 4 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNO[8] 14 17 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNO[0] 3 27 5 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNIE3D21[3] 1 23 2 #SB_LUT4
set_location scaler_4.source_data_1[4] 9 16 6 #SB_DFFSR
set_location Commands_frame_decoder.state_1[6] 5 14 1 #SB_DFFSR
set_location reset_module_System.count_1_cry_6_c 4 12 5 #SB_CARRY
set_location ppm_encoder_1.throttle_RNO[7] 2 22 2 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr[2] 5 28 3 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNO[16] 3 28 2 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_21_c 4 29 3 #SB_CARRY
set_location pid_alt.error_cry_13_c 1 16 5 #SB_CARRY
set_location dron_frame_decoder_1.WDT[13] 1 14 5 #SB_DFFSR
set_location reset_module_System.count[16] 4 13 7 #SB_DFF
set_location uart_pc.state[1] 7 15 3 #SB_DFF
set_location uart_pc.data_RNO[4] 4 17 5 #SB_LUT4
set_location ppm_encoder_1.aileron_RNO[13] 7 22 7 #SB_LUT4
set_location Commands_frame_decoder.source_offset4data_esr[2] 10 14 2 #SB_DFFESR
set_location uart_pc.data_Aux_RNO_0[0] 5 19 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNIFSUS_0[7] 1 27 4 #SB_LUT4
set_location reset_module_System.count_RNO[13] 4 13 4 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO[4] 5 26 6 #SB_LUT4
set_location uart_drone.data_esr[5] 4 16 5 #SB_DFFESR
set_location scaler_2.source_data_1_esr_RNO[12] 9 13 7 #SB_LUT4
set_location ppm_encoder_1.counter_RNIK1KG[0] 5 29 5 #SB_LUT4
set_location dron_frame_decoder_1.state_ns_i_a2_2_0[0] 3 15 5 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[9] 1 29 1 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[17] 3 27 1 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO_1[11] 5 24 3 #SB_LUT4
set_location Commands_frame_decoder.state_1_RNITK1O[4] 10 11 2 #SB_LUT4
set_location uart_drone.data_rdy_RNO 3 18 4 #SB_LUT4
set_location scaler_4.un3_source_data.un3_source_data_0_cry_8_c 11 15 0 #SB_CARRY
set_location uart_drone.data_Aux_RNO[4] 8 16 7 #SB_LUT4
set_location reset_module_System.count_RNO[8] 4 12 7 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data8lto7_1 2 16 3 #SB_LUT4
set_location uart_pc.timer_Count_RNO_0[2] 8 18 1 #SB_LUT4
set_location scaler_3.source_data_1_esr[14] 11 17 1 #SB_DFFESR
set_location ppm_encoder_1.un1_counter_13_cry_2_c 7 28 2 #SB_CARRY
set_location Commands_frame_decoder.source_CH1data8lto7 2 16 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location dron_frame_decoder_1.source_Altitude_esr_RNO[1] 2 15 0 #SB_LUT4
set_location ppm_encoder_1.throttle_RNIR7352[2] 2 26 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNISFRP[13] 4 27 7 #SB_LUT4
set_location ppm_encoder_1.elevator_RNIAIVN2[7] 2 23 2 #SB_LUT4
set_location ppm_encoder_1.rudder[13] 7 22 4 #SB_DFFSS
set_location ppm_encoder_1.pulses2count_esr_RNO[2] 5 28 3 #SB_LUT4
set_location scaler_4.source_data_1_esr_RNO[11] 10 15 6 #SB_LUT4
set_location pid_alt.source_p[0] 1 11 4 #SB_DFFE
set_location Commands_frame_decoder.un1_state49_i 5 18 3 #SB_LUT4
set_location uart_pc.bit_Count[2] 3 20 2 #SB_DFFSR
set_location reset_module_System.count_1_cry_1_c 4 12 0 #SB_CARRY
set_location ppm_encoder_1.init_pulses[17] 2 28 6 #SB_DFFSS
set_location pid_alt.error_cry_14_c 1 16 6 #SB_CARRY
set_location scaler_2.un2_source_data_0_cry_1_c_RNO 10 13 7 #SB_LUT4
set_location uart_pc.timer_Count[3] 8 18 5 #SB_DFF
set_location scaler_3.un2_source_data_0_cry_8_c 11 16 7 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_2[10] 8 25 2 #SB_LUT4
set_location pid_alt.error_axb_14 1 18 0 #SB_LUT4
set_location uart_drone.state[3] 8 17 3 #SB_DFF
set_location Commands_frame_decoder.un1_WDT_cry_8_c 4 19 0 #SB_CARRY
set_location Commands_frame_decoder.source_offset3data_esr[3] 13 15 2 #SB_DFFESR
set_location Commands_frame_decoder.source_CH1data_esr[4] 3 16 0 #SB_DFFESR
set_location ppm_encoder_1.init_pulses_RNI9VBQK[9] 1 29 1 #SB_CARRY
set_location dron_frame_decoder_1.source_Altitude_esr_RNIVIR9[11] 1 17 2 #SB_LUT4
set_location Commands_frame_decoder.WDT_RNO[9] 4 19 1 #SB_LUT4
set_location ppm_encoder_1.pulses2count_esr_RNO[12] 4 28 6 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNI0KRP_0[17] 3 27 3 #SB_LUT4
set_location ppm_encoder_1.counter24_0_I_51_c_RNO 5 30 6 #SB_LUT4
set_location scaler_3.source_data_1_esr_RNO[6] 11 16 1 #SB_LUT4
set_location scaler_2.un3_source_data.un3_source_data_0_cry_6_c 8 13 6 #SB_CARRY
set_location ppm_encoder_1.throttle[8] 2 22 1 #SB_DFFSR
set_location ppm_encoder_1.CHOOSE_CHANNEL_ns_3_0_.m9 1 23 5 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_fast[1] 2 25 3 #SB_DFF
set_location uart_pc.data_Aux[3] 5 20 3 #SB_DFFSR
set_location scaler_4.un3_source_data.un3_source_data_0_cry_4_c 11 14 4 #SB_CARRY
set_location Commands_frame_decoder.source_CH3data_esr[6] 12 14 6 #SB_DFFESR
set_location ppm_encoder_1.pulses2count_RNO[16] 8 30 1 #SB_LUT4
set_location Commands_frame_decoder.source_CH1data[1] 2 16 2 #SB_DFFSR
set_location ppm_encoder_1.un1_throttle_cry_12_c 2 20 4 #SB_CARRY
set_location ppm_encoder_1.pulses2count_esr_RNO_3[11] 5 24 2 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_1[7] 1 28 7 #SB_LUT4
set_location ppm_encoder_1.init_pulses_RNO_0[11] 3 26 3 #SB_LUT4
set_location ppm_encoder_1.CHOOSE_CHANNEL_RNI33GU[3] 5 24 7 #SB_LUT4
set_location pid_alt.source_p_ess[3] 1 9 2 #SB_DFFESS
set_location Commands_frame_decoder.un1_WDT_cry_5_c 4 18 5 #SB_CARRY
set_location pid_alt.source_p_1[6] 1 10 3 #SB_DFFE
set_location dron_frame_decoder_1.source_Altitude_esr[13] 1 17 7 #SB_DFFESR
set_location Commands_frame_decoder.count_RNO[2] 11 19 5 #SB_LUT4
set_location Commands_frame_decoder.count8_cry_2_c 11 19 2 #SB_CARRY
set_io uart_input_drone 2
set_io uart_drone_data_rdy_debug 10
set_io uart_commands_input_debug 11
set_io ppm_output 9
set_io uart_input_pc 4
set_io uart_drone_input_debug 6
set_io drone_frame_decoder_data_rdy_debug 46
set_io clk_system 35
